<div cds-layout="grid p:md m-y:md">
  <div cds-layout="col:12 col@sm:4 p-r:sm" cds-text="message">
    <ng-content></ng-content>
  </div>
  <div cds-layout="col:12 col@sm:8 align:stretch p-l:md" style="border-left: solid 0.25rem var(--cds-alias-object-border-color)">
    <div cds-layout="grid">
      <dl cds-list cds-layout="col:6">
        <dt>Clarity Core</dt>
          <dd *ngIf="coreVersion">Available since {{coreVersion}}, <a *ngIf="coreLink" [href]="coreLink" target="_blank">view documentation</a> <a *ngIf="coreStorybookLink" [href]="coreStorybookLink" target="_blank">view storybook</a></dd>
          <dd *ngIf="!coreVersion">Not yet available</dd>
        <dt>Clarity Angular</dt>
          <dd>Available since {{angularVersion}}, <a [href]="angularLink">view documentation</a></dd>
      </dl>
      <dl cds-list cds-layout="col:6">
        <dt>Figma</dt>
          <dd *ngIf="angularFigma || coreFigma"><a [href]="angularFigma" target="_blank" *ngIf="angularFigma">Angular figma</a> <a [href]="coreFigma" target="_blank" *ngIf="coreFigma">Core figma</a></dd>
          <dd *ngIf="!angularFigma">Not yet available</dd>
        <dt>ESLint Rule</dt>
          <dd *ngIf="eslint"><a routerLink="/adoption-tooling">Available, view documentation</a></dd>
          <dd *ngIf="!eslint">Not yet available</dd>
      </dl>
  </div>
</div>
