
        {% unless page.layout == 'error' or page.layout == 'documentation' or page.layout == 'get-started' or page.layout == 'news' %}
            </div>  <!-- /.content-container -->
        {% endunless %}

        <footer>
            <div class="footer-wrapper">
                <img class="vmware-weblogo" src="{{ site.baseurl }}/images/home/logo_vmware.svg">
                <p class="copyright">&copy; 2016 VMware, Inc. All Rights Reserved.</p>
            </div>
        </footer>

        <script src="{{ site.baseurl }}/js/clarityUtils.js?{{ site.time | date: '%s%N' }}"></script>
        <script src="{{ site.baseurl }}/js/clarityWeb.js?{{ site.time | date: '%s%N' }}"></script>
        {% if include.hasNavLinks == true %}
            <script src="{{ site.baseurl }}/js/navLinks.clarityWeb.js?{{ site.time | date: '%s%N' }}"></script>
        {% endif %}
        {% if include.hasTabLinks == true %}
            <script src="{{ site.baseurl }}/js/tabs.clarityWeb.js?{{ site.time | date: '%s%N' }}"></script>
        {% endif %}

    </div> <!-- /.main-container -->
    </body>
</html>
