@import '~normalize.css/normalize.css';
@import '~@cds/city/css/bundles/default.min.css';
@import './../../dist/core/global.min.css';
@import './../../dist/core/styles/module.shims.min.css';
@import './../../dist/core/styles/theme.dark.min.css';
@import './../../dist/core/list/list.min.css';

html {
  overflow-x: hidden;
}

body {
  box-sizing: border-box !important; /* storybook v6 inline to initial */
  background: var(--cds-alias-color-gray-50) !important;
}

.docblock-propstable-body li {
  list-style-position: outside;
}

/* Demo Components */
cds-demo {
  display: block;
}

cds-demo[layout],
.layout-demo {
  background: var(--cds-global-color-cool-gray-200);
  overflow: hidden;
  display: inline-block;
}

cds-demo[layout][tall] > [cds-layout],
.layout-demo.tall-demo > cds-layout {
  min-height: 300px;
}

cds-demo[popover] {
  min-height: 400px;
  position: relative;
}

cds-demo[layout][wide],
.layout-demo.wide-demo {
  width: 100%;
  display: block;
}

cds-demo[placeholder],
cds-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--cds-global-color-cool-gray-700);
  color: var(--cds-global-color-gray-0);
  min-width: 50px;
  min-height: 50px;
}

cds-demo[inverse] {
  background: var(--cds-global-color-gray-800);
}

cds-demo[inline-block] {
  display: inline-block;
}

cds-demo[spacing-padding] cds-placeholder {
  padding: 0;
}

cds-demo[spacing-padding] > [cds-layout] {
  background: hsl(92, 46%, 74%);
}

cds-demo[spacing-margin] > div {
  background: hsl(31, 87%, 79%);
}

cds-demo[resizable],
iframe[resizable] {
  resize: horizontal;
  overflow: auto;
  padding: 24px;
  background: linear-gradient(135deg, hsl(0, 100%, 100%) 0, hsl(0, 100%, 100%) 97%, hsl(208, 52%, 85%) 90%);
  border: 1px solid hsl(0, 0%, 87%);
  margin-bottom: 48px;
  position: relative;
}

iframe[resizable] {
  padding: 0;
}

cds-card {
  background: hsl(0, 0%, 100%);
  padding: 1rem;
  border: 1px solid hsl(0, 0%, 87%);
  border-radius: 3px;
  display: block;
  width: 100%;
}

.space-demo {
  height: 20px;
  display: inline-block;
  background: #2d2d2d;
}

.sbdocs.sbdocs-wrapper {
  padding-top: 30px !important;
  min-height: 100vh;
}

.sbdocs.sbdocs-preview > div > div {
  padding: 0 !important;
}

[id*='story--'] {
  background: var(--cds-alias-object-app-background) !important;
  padding: 36px 24px;
}

[id*='--dark-theme'],
[cds-theme='dark'] {
  background: var(--cds-global-color-construction-1000) !important;
}

.cds-theme-light [id*='--dark-theme'],
.cds-theme-dark [id*='--dark-theme'] {
  background: var(--cds-alias-object-app-background) !important;
}

.sb-inline-icon {
  width: 16px;
  color: #ccc;
}

.sbdocs-title,
.sbdocs-h1,
.sbdocs-h2,
.sbdocs-h3 {
  font-weight: 300 !important;
  margin-bottom: 24px !important;
  margin: 48px 0 12px 0 !important;
}

.sbdocs-h1 {
  margin: 0 0 24px 0 !important;
}

.sbdocs-img,
.sbdocs-p,
.sbdocs-ol,
.sbdocs-ul {
  margin: 0 0 24px 0 !important;
}

.demo-layout {
  margin: -1rem;
}

.sbdocs .demo-layout {
  box-shadow: 0.05rem 0.1rem 0.3rem 0.3rem hsl(198, 0%, 80%);
  margin: 0;
}

.demo-app-layout {
  height: 100vh;
  overflow: hidden;
}

.demo-divider {
  --color: var(--cds-global-color-gray-500);
}

.demo-header {
  background: var(--cds-global-color-blue-1000);
  color: var(--cds-global-color-gray-0);
}

.demo-sidenav,
.demo-content {
  background: var(--cds-global-color-gray-200);
}

.demo-footer {
  background: var(--cds-global-color-gray-0);
  color: var(--cds-global-color-gray-700);
  box-shadow: 0 0.05rem 0 hsl(198, 0%, 70%) inset;
}

.demo-sidenav {
  background: var(--cds-global-color-gray-200);
  box-shadow: -0.05rem 0 0 rgba(0, 0, 0, 0.2) inset;
  width: 25%;
}

.demo-sidebar {
  background: var(--cds-global-color-gray-100);
  width: 25%;
}

.demo-subnav {
  background: var(--cds-global-color-gray-0);
  box-shadow: 0 -0.05rem 0 hsl(198, 0%, 70%) inset;
}

.demo-alt-header cds-icon,
.demo-alt-header-2 cds-icon {
  opacity: 0.6;
}

.demo-alt-header cds-icon:first-child,
.demo-alt-header-2 cds-icon:first-child {
  opacity: 1;
}

.demo-scrollable-content {
  overflow-y: auto;
  justify-content: start;
  align-items: start;
  padding: 12px;
  height: 100%;
}

.demo-alt-header,
.demo-alt-header-2 {
  width: 60px !important;
}

.demo-alt-header cds-icon,
.demo-alt-header-2 cds-icon {
  --color: var(--cds-global-color-gray-0);
}

.demo-alt-header-2 {
  background: var(--cds-global-color-gray-900);
}

.demo-alt-content {
  background: var(--cds-global-color-gray-0);
}

.demo-alt-content-header {
  background: var(--cds-global-color-gray-0);
  color: var(--cds-global-color-gray-700);
  box-shadow: 0 -0.05rem 0 hsl(198, 0%, 70%) inset;
}

#story--stories-themes--dynamic-theme > div {
  min-height: 650px !important;
}

#story--foundation-design-tokens-stories--interaction > div {
  min-height: 450px !important;
}

#story--stories-clarity--core {
  background: var(--cds-global-color-gray-0) !important;
}
