@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --icon-color: #{$cds-global-typography-color-500};
  --icon-size: #{$cds-global-space-8};
  --font-size: #{$cds-global-typography-body-font-size};
  --font-weight: #{$cds-global-typography-body-font-weight};
  --letter-spacing: #{$cds-global-typography-body-letter-spacing};
  --padding: #{$cds-global-space-5} #{$cds-global-space-5} #{$cds-global-space-4} #{$cds-global-space-6};
  --background: #{$cds-alias-status-neutral-tint};
  --border-color: #{$cds-alias-status-neutral};
  --border-width: #{$cds-alias-object-border-width-100};
  --border-radius: #{$cds-alias-object-border-radius-100};
  --pager-background: #{$cds-alias-status-neutral};

  width: 100%;
}

.private-host {
  background: var(--background);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-style: solid;
  border-radius: var(--border-radius);
}

.alert-group-wrapper {
  width: 100%;
  padding: var(--padding);
}

:host([status='info']) {
  --background: #{$cds-alias-status-info-tint};
  --border-color: #{$cds-alias-status-info};
}

:host([status='success']) {
  --background: #{$cds-alias-status-success-tint};
  --border-color: #{$cds-alias-status-success};
}

:host([status='warning']) {
  --background: #{$cds-alias-status-warning-tint};
  --border-color: #{$cds-alias-status-warning};
}

:host([status='danger']) {
  --background: #{$cds-alias-status-danger-tint};
  --border-color: #{$cds-alias-status-danger};
}

:host([type='default'][size='sm']) {
  --padding: #{$cds-global-space-3} #{$cds-global-space-3} #{$cds-global-space-2} #{$cds-global-space-4};
}

// lightweight alert group styles

:host([type='light']) {
  --background: #{$cds-alias-object-opacity-0};
  --border-radius: 0;
  --padding: 0;

  .private-host {
    border: 0 none;
  }
}

// banner alert group styles
:host([type='banner']) {
  --border-color: var(--background);
  --padding: #{$cds-global-space-1} #{$cds-global-space-6};
  --border-width: 0;
  --background: #{$cds-alias-status-neutral};
  --border-radius: 0;
}

:host([type='banner'][status='info']) {
  --background: #{$cds-alias-status-info};
  --pager-background: #{$cds-alias-status-info-shade};
}

:host([type='banner'][status='warning']) {
  --background: #{$cds-alias-status-warning};
  --pager-background: #{$cds-alias-status-warning-shade};
}

:host([type='banner'][status='danger']) {
  --background: #{$cds-alias-status-danger};
  --pager-background: #{$cds-alias-status-danger-shade};
}

:host([type='banner'][status='success']) {
  --background: #{$cds-alias-status-success};
  --pager-background: #{$cds-alias-status-success-shade};
}

:host([type='banner'][status='neutral']) {
  --background: #{$cds-alias-status-neutral};
  --pager-background: #{$cds-alias-status-neutral-shade};
}

:host([type='banner'][status='alt']) {
  --background: #{$cds-alias-status-alt};
  --pager-background: #{$cds-alias-status-alt-shade};
}

.no-pager .pager-wrapper {
  display: none;
}

.pager-wrapper {
  background-color: var(--pager-background);
  padding-top: $cds-global-space-2;
  padding-bottom: $cds-global-space-2;
}

:host([type='banner']) .alert-group-wrapper {
  padding-top: $cds-global-space-2;
  padding-bottom: $cds-global-space-2;
}

// TODO: THESE STYLES ARE PLACEHOLDERS TO VERIFY THE ADDITION OF THE BANNER ALERT PAGER!
::slotted(.pager) {
  color: $cds-global-typography-color-100;
  width: calc(2 * #{$cds-global-space-12});
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
