@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --action-hover-text-color: #{$cds-global-typography-color-500};
  --action-text-color: #{$cds-global-typography-color-500};
  --action-font-size: #{$cds-global-typography-font-size-3};
  white-space: nowrap;

  // TODO: add style override for dropdown component inside alert-actions after cds-dropdown is implemented
}

:host([_type='light']) {
  display: none !important;
}

:host([_type='light']),
:host([_type='default']) {
  ::slotted(cds-button) {
    --color: var(--action-text-color);
    --border-color: var(--action-text-color);
    --background: none;
    --padding: none;
    --box-shadow-color: #{$cds-alias-object-opacity-0};
    --text-transform: none;
    --text-decoration: underline;
    --border-width: 0;
    --height: var(--action-size, auto);
    --min-width: initial;
    display: inline-block;
  }

  ::slotted(cds-button:hover) {
    --color: var(--action-hover-text-color);
    --border-color: var(--action-hover-text-color);
  }

  ::slotted([cds-text~='link']) {
    color: var(--action-text-color) !important;
    font-size: var(--action-font-size) !important;
    font-weight: #{$cds-global-typography-font-weight-medium};
  }

  ::slotted([cds-text~='link']:hover) {
    color: var(--action-hover-text-color) !important;
  }
}

:host([_type='default']) {
  --action-size: calc(#{$cds-global-space-9} - #{$cds-global-space-3});
}

:host([_type='banner']) {
  --action-size: #{$cds-global-space-9};

  ::slotted(cds-button) {
    --color: var(--action-text-color);
    --border-color: var(--action-text-color);
  }
}

:host([_type='default']),
:host([_type='banner']) {
  &::slotted(a) {
    color: var(--action-text-color);
  }
}

:host([_type='default']) .private-host {
  height: calc(var(--action-size) + #{$cds-global-space-2});
}

:host([_type='default']) ::slotted(cds-button) {
  --font-size: var(--action-font-size);
  --letter-spacing: normal;
  --height: var(--action-size);
  line-height: 1em;
}
