dist/
tmp/
_site

node_modules/
!/node_modules/
/node_modules/*
!/node_modules/web-animations-js/
!/node_modules/clarity-icons
!/node_modules/mutationobserver-shim
!/node_modules/@webcomponents
!/node_modules/prismjs
!/node_modules/clarity-ui
!/node_modules/clarity-angular
!/node_modules/font-awesome

.sass-cache
.DS_Store
*.swp

typings/
.idea/
