package-lock.json
package.json
*/**/npm.json
dist/
reports/
golden/
.vscode
.ng_build
**/node_modules/**
**/web_modules/**
.cache
.netlify
packages/core/**/*.css.ts
packages/core/custom-elements.json
packages/core/src/styles/tokens/generated/**
packages/core/src/grid/docs/*.stories.ts
packages/core/dist/
packages/react/coverage/
packages/react/dist/
docs/core
apps/core-create-react-app
apps/core-angular-cli
apps/core-angular-universal
apps/website/.vuepress/config.js
apps/core-snowpack/build
apps/core-angular-cli/
.netlify
apps/website/data/core-demos.json

# Markdown files that break rendering when prettier forats them
apps/website/core-components/datalist/README.md
apps/website/core-components/checkbox/README.md
apps/website/core-components/input/README.md

# temporary
demos/

# has errors and got past build
packages/eslint-plugin-clarity-adoption