language: node_js
node_js:
  - "8"

script: 
  - 'if [ "$TRAVIS_PULL_REQUEST" != "false" ]; then echo "Not building website PRs"; exit 0; fi'
  - cd latest && npm install && npm run deploy:ci
  - cd ../v0.13 && npm install && npm run deploy:ci
  - cd ../v0.12 && npm install && npm run deploy:ci
  - cd ../
  - cp -a v0.11-cache deploy/documentation/v0.11
  - cp -a v0.10-cache deploy/documentation/v0.10
deploy:
  provider: pages
  verbose: true
  local_dir: deploy
  skip-cleanup: true
  github-token: $GITHUB_OAUTH_TOKEN
  keep-history: true
  committer-from-gh: true
  on:
    branch: website

# We can't run these jobs in parallel yet because jobs destroy their workspace.
# To do this, we would have to deploy artifacts from each job somewhere, and
# retrieve them before the final deploy stage. Running them in the same job like
# this allows us to bypass that chaos, but slows the build obviously.
# https://docs.travis-ci.com/user/build-stages/#Data-persistence-between-stages-and-jobs