# Default build settings
[build]
  command = "npm run website:prerender"
  functions = "dist/netlify"
  publish = "dist/website/browser"
  environment = { CI = "true", NPM_FLAGS = '--no-optional', CYPRESS_INSTALL_BINARY = "false" }

# Override for PRs to deploy the dev app
[context.deploy-preview]
  command = "npm run build:libs && npm run angular:dev:preview && npm run website:build && cp -R dist/dev dist/website/browser/dev"

# Handle 404s in our app, SPA redirect config
[[redirects]]
  from = "/*"
  to = "/"
  status = 200

[[headers]]
  for = "/*.json"
    [headers.values]
    Access-Control-Allow-Origin = "*"