@import '../clarity/utils/variables.clarity';

$clr-icon-size: rem(16/$clr-rem-denominator);

@mixin setIconColor($clr-icon-color) {
    fill: $clr-icon-color;
    .transparent-fill-stroke {
        stroke: $clr-icon-color;
    }
}

clr-icon {
    display: inline-block;
    margin: 0;
    height: $clr-icon-size;
    width: $clr-icon-size;
    vertical-align: middle;
    @include setIconColor(currentColor);

     /* .icon-size-* classes have been deprecated and will be removed in 0.8.0. */

    &.icon-size-sm {
        height: 16px;
        width: 16px;
    }
    &.icon-size-md {
        height: 36px;
        width: 36px;
    }
    &.icon-size-lg {
        height: 72px;
        width: 72px;
    }

    &.icon-color-success {
        @include setIconColor($greens-dark-midtone);
    }
    &.icon-color-danger {
        @include setIconColor($reds-dark);
    }
    &.icon-color-warning {
        @include setIconColor($reds-light-midtone);
    }
    &.icon-color-info {
        @include setIconColor($clr-action-blue);
    }
    &.icon-color-inverse {
        @include setIconColor($clr-white);
    }
    &.icon-color-highlight {
        @include setIconColor($clr-action-blue);
    }
    &.icon-orient-up {
        svg {
            transform: rotate(0deg);
        }
    }
    &.icon-orient-down {
        svg {
            transform: rotate(180deg);
        }
    }
    &.icon-orient-right {
        svg {
            transform: rotate(90deg);
        }
    }
    &.icon-orient-left {
        svg {
            transform: rotate(270deg);
        }
    }
    & > svg {
        height: 100%;
        width: 100%;
        display: block;
    }
    .transparent-fill-stroke {
        fill: none;
        stroke-width: 1.3;
        stroke-linejoin: round;
        stroke-miterlimit: 10;
    }

}