@import './../styles/mixins/mixins';

// TODO: progress spinner CSS deprecated, will be replaced by cwc-progress
@import './../../clr-angular/progress/spinner/variables.spinner';
@import './../../clr-angular/image/icons.clarity';
@import './../../clr-angular/progress/spinner/spinner.clarity';

:host {
  --box-shadow-color: #{$clr-color-action-500};
  --border-radius: #{$clr_baselineRem_3px};
  --border-width: #{$clr_baselineRem_1px};
  --font-size: #{$clr_baselineRem_0_5};
  --font-weight: #{$clr-font-weight-semibold};
  --border-color: #{$clr-color-action-600};
  --color: #{$clr-color-neutral-0};
  --background: #{$clr-color-action-600};
  --line-height: 1.7rem;
  --letter-spacing: 0.12em;
  background: var(--background);
  color: var(--color);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: 0 #{$clr_baselineRem_0_5};
  user-select: none;
  display: inline-block;
  -webkit-appearance: none !important;
  cursor: pointer;
  min-width: $clr_baselineRem_3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-style: solid;
  position: relative;
}

:host(:hover) {
  --background: #{$clr-color-action-800};
}

:host(:active) {
  box-shadow: 0 $clr_baselineRem_1px 0 0 var(--box-shadow-color) inset;
}

:host([is-anchor]) {
  padding: 0;
}

::slotted {
  line-height: var(--line-height);
  color: inherit;
}

::slotted(a) {
  padding: 0 #{$clr_baselineRem_0_5};
  text-decoration: none !important;
  display: block;
  height: 100%;
  color: inherit;
  line-height: var(--line-height);
}

::slotted(cwc-icon) {
  --color: inherit;
}

:host([action='outline']) {
  --background: transparent;
  --color: #{$clr-color-action-600};
}

:host([action='outline']:hover) {
  --background: #{$clr-color-action-50};
}

:host([status='success']) {
  --box-shadow-color: #{$clr-color-success-900};
  --border-color: #{$clr-color-success-700};
  --background: #{$clr-color-success-700};
}

:host([status='success']:hover) {
  --background: #{$clr-color-success-800};
}

:host([status='success'][action='outline']) {
  --background: transparent;
  --color: #{$clr-color-success-700};
}

:host([status='success'][action='outline']:hover) {
  --background: #{$clr-color-success-50};
}

:host([status='danger']) {
  --box-shadow-color: #{$clr-color-danger-900};
  --border-color: #{$clr-color-danger-700};
  --background: #{$clr-color-danger-700};
}

:host([status='danger']:hover) {
  --background: #{$clr-color-danger-800};
}

:host([status='danger'][action='outline']) {
  --background: transparent;
  --color: #{$clr-color-danger-700};
}

:host([status='danger'][action='outline']:hover) {
  --background: #{$clr-color-danger-50};
}

:host([status='inverse']) {
  --box-shadow-color: rgba($clr-color-neutral-1000, 0.25);
  --border-color: #{$clr-color-neutral-0};
  --background: transparent;
  --color: #{$clr-color-neutral-0};
}

:host([action='flat']) {
  --background: transparent;
  --border-color: transparent;
  --color: #{$clr-color-action-600};
  margin-right: 0;
  box-shadow: none;
}

:host([action='flat']:hover) {
  --background: transparent;
  --color: #{$clr-color-action-800};
}

:host([size='sm']) {
  --line-height: #{$clr_baselineRem_1 - $clr_baselineRem_1px};
  --letter-spacing: 0.073em;
  --font-size: #{$clr_baselineRem_0_458};
  --padding: #{0 $clr_baselineRem_0_5};

  .spinner {
    @include min-equilateral($clr_baselineRem_0_5416);
    margin-bottom: -0.05rem;
  }
}

:host([size='icon']) {
  min-width: 0;
}

:host([block]) {
  display: block;
  width: 100%;
  max-width: 100%;
}

:host([disabled]) {
  --color: #{$clr-color-neutral-700};
  --background: hsl(0, 0%, 80%);
  --border-color: #{$clr-color-neutral-700};
  opacity: 0.4;
  box-shadow: none;
  pointer-events: none;
  cursor: not-allowed;
}

:host([action='outline'][disabled]) {
  --background: transparent;
}

:host([status='inverse'][disabled]) {
  --background: transparent;
  --color: #{$clr-color-neutral-0};
  --border-color: #{$clr-color-neutral-0};
}

.spinner {
  margin-bottom: -0.1rem;
}
