@import './../styles/mixins/utils';

// TODO: progress spinner CSS deprecated, will be replaced by cds-progress
@import './../../clr-angular/progress/spinner/variables.spinner';
@import './../../clr-angular/image/icons.clarity';
@import './../../clr-angular/progress/spinner/spinner.clarity';

:host {
  --box-shadow-color: var(--clr-color-action-500, #{$clr-color-action-500});
  --border-radius: #{$clr_baselineRem_3px};
  --border-color: var(--clr-color-action-600, #{$clr-color-action-600});
  --color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --background: var(--clr-color-action-600, #{$clr-color-action-600});
  display: inline-block;
}

.private-host {
  --font-size: #{$clr_baselineRem_0_5};
  --line-height: 1.7rem;
  --letter-spacing: 0.12em;
  --padding: 0 #{$clr_baselineRem_0_5};

  background: var(--background);
  color: var(--color);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-width: $clr-global-borderwidth;
  font-size: var(--font-size);
  font-weight: 500;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  padding: var(--padding);
  user-select: none;
  display: block;
  -webkit-appearance: none !important;
  cursor: pointer;
  min-width: $clr_baselineRem_3;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: visible;
  border-style: solid;
  position: relative;
  transform: translateZ(0px); // for chrome rendering bug
}

:host(:hover) {
  --background: var(--clr-color-action-800, #{$clr-color-action-800});
}

:host(:active) {
  box-shadow: 0 $clr_baselineRem_1px 0 0 var(--box-shadow-color) inset;
}

:host([is-anchor]) {
  .private-host {
    padding: 0;
  }
}

::slotted {
  line-height: var(--line-height);
  color: inherit;
}

::slotted(a) {
  padding: 0 #{$clr_baselineRem_0_5};
  text-decoration: none !important;
  display: block;
  height: 100%;
  color: inherit;
  line-height: var(--line-height);
}

::slotted(cds-icon) {
  --color: inherit;
}

:host([action='outline']) {
  --background: transparent;
  --color: var(--clr-color-action-600, #{$clr-color-action-600});

  .private-host:hover {
    --background: var(--clr-color-action-50, #{$clr-color-action-50});
  }
}

:host([status='success']) {
  --box-shadow-color: var(clr-color-success-900, #{$clr-color-success-900});
  --border-color: var(--clr-color-success-700, #{$clr-color-success-700});
  --background: var(--clr-color-success-700, #{$clr-color-success-700});

  .private-host:hover {
    --background: var(--clr-color-success-800, #{$clr-color-success-800});
  }
}

:host([status='success'][action='outline']) {
  --background: transparent;
  --color: var(--clr-color-success-700, #{$clr-color-success-700});

  .private-host:hover {
    --background: var(--clr-color-success-50, #{$clr-color-success-50});
  }
}

:host([status='danger']) {
  --box-shadow-color: var(--clr-color-danger-900, #{$clr-color-danger-900});
  --border-color: var(--clr-color-danger-700, #{$clr-color-danger-700});
  --background: var(--clr-color-danger-700, #{$clr-color-danger-700});

  .private-host:hover {
    --background: var(--clr-color-danger-800, #{$clr-color-danger-800});
  }
}

:host([status='danger'][action='outline']) {
  --background: transparent;
  --color: var(--clr-color-danger-700, #{$clr-color-danger-700});

  .private-host:hover {
    --background: var(--clr-color-danger-50, #{$clr-color-danger-50});
  }
}

:host([status='inverse']) {
  --box-shadow-color: rgba(var(--clr-color-neutral-1000, $clr-color-neutral-1000), 0.25);
  --border-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --background: transparent;
  --color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
}

:host([action='flat']) {
  --background: transparent;
  --border-color: transparent;
  --color: var(--clr-color-action-600, #{$clr-color-action-600});

  .private-host {
    margin-right: 0;
    box-shadow: none;
  }
}

:host([action='flat']) .private-host:hover {
  --background: transparent;
  --color: var(--clr-color-action-800, #{$clr-color-action-800});
}

:host([size='sm']) .private-host {
  --line-height: #{$clr_baselineRem_1 - $clr_baselineRem_1px};
  --letter-spacing: 0.073em;
  --font-size: #{$clr_baselineRem_0_458};
  --padding: #{0 $clr_baselineRem_0_5};

  .spinner {
    @include min-equilateral($clr_baselineRem_0_5416);
    margin-bottom: -0.05rem;
  }
}

:host([size='icon']) .private-host {
  min-width: 0;
}

:host([disabled]) {
  --color: var(--clr-color-neutral-700, #{$clr-color-neutral-700});
  --background: hsl(0, 0%, 80%);
  --border-color: var(--clr-color-neutral-700, #{$clr-color-neutral-700});
  pointer-events: none;

  .private-host {
    opacity: 0.4;
    box-shadow: none;
    pointer-events: none;
    cursor: not-allowed;
  }
}

:host([action='outline'][disabled]) {
  --background: transparent;
}

:host([status='inverse'][disabled]) {
  --background: transparent;
  --color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --border-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
}

.spinner {
  margin-bottom: -0.1rem;
}
