@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --border-color: #{$cds-alias-object-border-color};
  --border-width: #{$cds-alias-object-border-width-100};
  --border-radius: #{$cds-alias-object-border-radius-100};
  width: 100%;
}

::slotted(cds-accordion-section) {
  border: var(--border-width) solid var(--border-color);
  border-bottom: none;
}

::slotted(cds-accordion-section:first-child) {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

::slotted(cds-accordion-section:last-child) {
  border-bottom: var(--border-width) solid var(--border-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
