<header>
  <img src="/assets/images/clarity-logo.svg" alt="Clarity Design System" />
</header>

<section>
  <nav>
    <a routerLink="/">Home</a>
    <a routerLink="/badge">Badge</a>
    <a routerLink="/button">Button</a>
    <a routerLink="/dropdown">Test Dropdown</a>
    <a routerLink="/i18n">i18n</a>
    <a routerLink="/icon">Icon</a>
    <a routerLink="/icon-deprecated">Icon Deprecations</a>
    <a routerLink="/icon-sets">Icon Sets</a>
    <a routerLink="/layout">Layout &amp; Grid</a>
    <a routerLink="/lazy-load">Lazy Load</a>
    <a routerLink="/tag">Tag</a>
    <a routerLink="/typography">Typography</a>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>
</section>
