<form class="form" #simpleForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!isSubmitted">
  <div class="form-group">
    <label for="date">Enter Date</label>
    <input type="text" id="date" name="date" [(ngModel)]="date" clrDatepicker (clrDatepickerChange)="dateChanged($event)">
  </div>
  <div class="form-group">
    <label for="name">Enter Name</label>
    <input id="name" type="text" name="name" [(ngModel)]="name">
  </div>
  <button class="btn" (click)="buttonClick()" type="submit">Submit</button>
  <p>
    Form Value: {{simpleForm.value | json}}
  </p>
</form>

<div *ngIf="datepickerOutput">
  <h4>Datepicker Output:</h4>
  <div>{{datepickerOutput}}</div>
</div>

<div *ngIf="isSubmitted">
  <p>Date: {{date}}</p>
  <p>Name: {{name}}</p>
  <button type="button" class="btn" (click)="reset()">Reset</button>
</div>
