<form>
    <section class="form-block">
        <label>Toggles</label>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_1">
                <label for="toggle_1">Toggles turn on and off</label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_2" disabled>
                <label for="toggle_2">Toggle off and disabled</label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_3" checked disabled>
                <label for="toggle_3">Toggle on and disabled</label>
            </div>
        </div>
    </section>
    <section class="form-block">
        <label>Toggles without any label</label>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_4">
                <label for="toggle_4"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_6" checked disabled>
                <label for="toggle_6"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="toggle-switch">
                <input type="checkbox" id="toggle_7" disabled>
                <label for="toggle_7"></label>
            </div>
        </div>
    </section>
</form>