@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --background: #{$cds-alias-object-opacity-0};
  --color: #{$cds-global-typography-color-500};
  --padding: #{$cds-global-space-2};
  --font-size: #{$cds-global-typography-font-size-0};
  --border-radius: #{$cds-alias-object-border-radius-200};
  --border-color: #{$cds-alias-status-secondary-neutral};
  --border-width: #{$cds-alias-object-border-width-100};
  display: inline-block;
}

.private-host {
  --internal-icon-color: var(--color);
  border-radius: var(--border-radius);
  background: var(--background);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  color: var(--color);
  font-size: var(--font-size);
  padding: var(--padding);
  white-space: nowrap;
  text-decoration: none;
  min-height: calc(#{$cds-global-space-8} + #{$cds-global-space-3});
}

.tag-content {
  padding: 0 #{$cds-global-space-3};
}

::slotted(cds-icon),
cds-icon[shape='times'] {
  --color: var(--internal-icon-color);
  cursor: pointer;
}

:host(:not([readonly])),
:host([is-anchor]) {
  &:host([active]),
  &:host(:hover),
  &:host(:focus),
  &:host(:active) {
    --background: var(--internal-background-hover, #{$cds-alias-status-secondary-neutral-shade});
  }

  &:host([active]),
  &:host(:active) {
    .private-host {
      box-shadow: 0 #{$cds-global-space-1} 0 0 var(--border-color) inset;
    }

    .tag-content {
      transform: translateY(#{$cds-global-space-1});
    }
  }

  &:host(:visited) {
    color: var(--color);
  }
}

:host([status='info']) {
  --border-color: #{$cds-alias-status-secondary-info};
  --background: var(--cds-alias-status-secondary-tint, #{$cds-alias-status-secondary-info-tint});
  --internal-background-hover: #{$cds-alias-status-secondary-info-shade};
}

:host([status='success']) {
  --border-color: #{$cds-alias-status-secondary-success};
  --background: var(--cds-alias-status-secondary-tint, #{$cds-alias-status-secondary-success-tint});
  --internal-background-hover: #{$cds-alias-status-secondary-success-shade};
}

:host([status='warning']) {
  --border-color: #{$cds-alias-status-secondary-warning};
  --background: var(--cds-alias-status-secondary-tint, #{$cds-alias-status-secondary-warning-tint});
  --internal-background-hover: #{$cds-alias-status-secondary-warning-shade};
}

:host([status='danger']) {
  --border-color: #{$cds-alias-status-secondary-danger};
  --background: var(--cds-alias-status-secondary-tint, #{$cds-alias-status-secondary-danger-tint});
  --internal-background-hover: #{$cds-alias-status-secondary-danger-shade};
}

:host([color='purple']) {
  --border-color: #{$cds-global-color-violet-600};
}

:host([color='blue']) {
  --border-color: #{$cds-global-color-blue-800};
}

:host([color='orange']) {
  --border-color: #{$cds-global-color-ochre-800};
}

:host([color='light-blue']) {
  --border-color: #{$cds-global-color-blue-600};
}

:host([disabled]) {
  --color: #{$cds-alias-status-disabled-tint} !important;
  --border-color: #{$cds-alias-status-disabled-tint} !important;
  --background: #{$cds-alias-object-opacity-0} !important;

  ::slotted(cds-badge) {
    --background: #{$cds-alias-status-disabled-tint};
    --color: #{$cds-alias-status-disabled-shade} !important;
  }

  ::slotted(cds-icon) {
    --color: #{$cds-alias-status-disabled-tint} !important;
  }
}

:host([disabled]) {
  .private-host {
    box-shadow: none !important;
  }

  .tag-content {
    transform: initial !important;
  }
}
