@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --background: var(--cds-alias-status-tint, #{$cds-alias-status-neutral-tint});
  --color: #{$cds-global-typography-color-500};
  --padding: #{$cds-global-space-2};
  --font-size: #{$cds-global-typography-font-size-0};
  --border-radius: #{$cds-alias-object-border-radius-200};
  --border-color: #{$cds-alias-status-neutral};
  --border-width: #{$cds-alias-object-border-width-100};
  display: inline-block;
}

.private-host {
  --internal-icon-color: var(--color);
  border-radius: var(--border-radius);
  background: var(--background);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  color: var(--color);
  font-size: var(--font-size);
  padding: var(--padding);
  white-space: nowrap;
  text-decoration: none;
  min-height: calc(#{$cds-global-space-8} + #{$cds-global-space-3});
  transform: translateZ(0px); // used for ::after hover
}

.tag-content {
  padding: 0 #{$cds-global-space-3};
}

::slotted(cds-icon),
cds-icon[shape='times'] {
  --color: var(--internal-icon-color);
  cursor: pointer;
}

:host(:not([readonly])) {
  &:host([_active]),
  &:host(:hover),
  &:host(:focus),
  &:host(:active) {
    .private-host::after {
      background: var(--background);
      border-radius: var(--border-radius);
      filter: brightness(95%);
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      inset: 0; // once safari catches up positions can be deleted for inset
      z-index: -1;
    }
  }

  &:host([_active]),
  &:host(:active) {
    .private-host {
      box-shadow: 0 #{$cds-global-space-1} 0 0 var(--border-color) inset;
    }

    .tag-content {
      transform: translateY(#{$cds-global-space-1});
    }
  }

  &:host(:visited) {
    color: var(--color);
  }
}

:host([status='info']) {
  --border-color: #{$cds-alias-status-info};
  --background: var(--cds-alias-status-tint, #{$cds-alias-status-info-tint});
}

:host([status='success']) {
  --border-color: #{$cds-alias-status-success};
  --background: var(--cds-alias-status-tint, #{$cds-alias-status-success-tint});
}

:host([status='warning']) {
  --border-color: #{$cds-alias-status-warning};
  --background: var(--cds-alias-status-tint, #{$cds-alias-status-warning-tint});
}

:host([status='danger']) {
  --border-color: #{$cds-alias-status-danger};
  --background: var(--cds-alias-status-tint, #{$cds-alias-status-danger-tint});
}

:host([color]) {
  --background: #{$cds-alias-object-opacity-0};

  :hover {
    --background: #{$cds-alias-status-neutral-tint};
  }
}

:host([color='purple']) {
  --border-color: #{$cds-global-color-violet-600};
}

:host([color='blue']) {
  --border-color: #{$cds-global-color-blue-800};
}

:host([color='orange']) {
  --border-color: #{$cds-global-color-ochre-800};
}

:host([color='light-blue']) {
  --border-color: #{$cds-global-color-blue-600};
}

:host([disabled]) {
  --color: #{$cds-alias-status-disabled-tint} !important;
  --border-color: #{$cds-alias-status-disabled-tint} !important;
  --background: #{$cds-alias-object-opacity-0} !important;

  ::slotted(cds-badge) {
    --background: #{$cds-alias-status-disabled-tint};
    --color: #{$cds-alias-status-disabled-shade} !important;
  }

  ::slotted(cds-icon) {
    --color: #{$cds-alias-status-disabled-tint} !important;
  }
}

:host([disabled]) {
  .private-host {
    box-shadow: none !important;
  }

  .tag-content {
    transform: initial !important;
  }
}
