<clr-tree>
  <clr-tree-node *ngFor="let directory of rootDirectory" [(clrExpanded)]="directory.expanded">
    <clr-icon [attr.shape]="directory.icon"></clr-icon>
    {{directory.name}}
    <clr-tree-node *ngFor="let file of directory.files">
      <button (click)="openFile(directory.name, file.name)" class="clr-treenode-link" [class.active]="file.active">
        <clr-icon [attr.shape]="file.icon"></clr-icon>
        {{file.name}}
      </button>
    </clr-tree-node>
  </clr-tree-node>
</clr-tree>
