@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

@mixin flipSVGIcon($direction) {
  @if $direction == 'horizontal' {
    :host {
      transform: scale(-1) rotateX(180deg);
    }
    /* stylelint-disable */
  } @else if $direction == 'vertical' {
    /* stylelint-enable */
    :host {
      transform: scale(-1) rotateY(180deg);
    }
  }
}

:host {
  --color: #{$cds-alias-object-interaction-color};
  display: inline-block;
  @include equilateral(#{$cds-global-space-7});
  margin: 0;
  vertical-align: middle;
  fill: var(--color);
  color: inherit; // inherit so older clr-icon based themes get currentColor from parent
  contain: strict;
}

svg {
  display: block;
}

// sizing
:host([size='sm']) {
  // weirdly, the default... 16px
  @include equilateral(#{$cds-global-space-7});
}

:host([size='md']) {
  // 24px
  @include equilateral(#{$cds-global-space-9});
}

:host([size='lg']) {
  // 36px
  @include equilateral(#{$cds-global-space-11});
}

:host([size='xl']) {
  // 48px
  @include equilateral(#{$cds-global-space-12});
}

:host([size='xxl']) {
  // 64px
  @include equilateral(calc(#{$cds-global-space-13} - #{$cds-global-space-5}));
}

// colors
:host([status='success']) {
  --color: #{$cds-alias-status-success-shade};
}

:host([status='danger']) {
  --color: #{$cds-alias-status-danger-shade};
}

:host([status='warning']) {
  --color: #{$cds-alias-status-warning-shade};
}

:host([status='info']) {
  --color: #{$cds-alias-status-info-shade};
}

// INVERSE COLORS

:host([inverse]) {
  --color: #{$cds-global-typography-color-500};
}

:host([inverse][status='info']) {
  --color: #{$cds-alias-status-info};
}

:host([inverse][status='success']) {
  --color: #{$cds-alias-status-success};
}

:host([inverse][status='danger']) {
  --color: #{$cds-alias-status-danger};
}

:host([inverse][status='warning']) {
  --color: #{$cds-alias-status-warning};
}

// directional
:host([direction='up']) {
  transform: rotate(0deg);
}

:host([direction='down']) {
  transform: rotate(180deg);
}

:host([direction='right']) {
  transform: rotate(90deg);
}

:host([direction='left']) {
  transform: rotate(270deg);
}

:host([flip='horizontal']) {
  @include flipSVGIcon('horizontal');
}

:host([flip='vertical']) {
  @include flipSVGIcon('vertical');
}

.clr-i-badge,
.clr-i-alert {
  fill: var(--badge-color, #{$cds-alias-status-danger});
}

// outlined

:host {
  .clr-i-solid,
  .clr-i-solid--badged,
  .clr-i-solid--alerted {
    display: none;
  }

  .clr-i-outline--alerted,
  .clr-i-outline--badged {
    &:not(.clr-i-outline) {
      display: none;
    }
  }
}

:host([badge]) .can-badge {
  .clr-i-outline--badged {
    display: block;
  }

  .clr-i-outline:not(.clr-i-outline--badged) {
    display: none;
  }
}

:host([badge$='triangle']) .can-alert {
  .clr-i-outline--alerted {
    display: block;
  }

  .clr-i-outline--badged,
  .clr-i-outline:not(.clr-i-outline--alerted) {
    display: none;
  }
}

// solid
:host([solid]) .has-solid {
  .clr-i-solid {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--badged {
    display: none;
  }

  .clr-i-solid--alerted,
  .clr-i-solid--badged {
    &:not(.clr-i-solid) {
      display: none;
    }
  }
}

:host([badge][solid]) .can-badge.has-solid {
  .clr-i-solid--badged {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--badged,
  .clr-i-solid:not(.clr-i-solid--badged) {
    display: none;
  }
}

:host([solid][badge$='triangle']) .can-alert.has-solid {
  .clr-i-solid--alerted {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--alerted,
  .clr-i-solid--badged,
  .clr-i-solid:not(.clr-i-solid--alerted) {
    display: none;
  }
}

// variant badge colors

:host([badge='success']) {
  --badge-color: #{$cds-alias-status-success};
}

:host([badge='danger']) {
  --badge-color: #{$cds-alias-status-danger};
}

:host([badge='warning']) {
  --badge-color: #{$cds-alias-status-warning};
}

:host([badge='inherit']) {
  --badge-color: inherit;
}

:host([badge='info']) {
  --badge-color: #{$cds-alias-status-info};
}

// alert colors
:host([badge$='triangle']) {
  --badge-color: #{$cds-alias-status-warning};
}

:host([badge='inherit-triangle']) {
  --badge-color: inherit;
}

// inverse + variants
:host([badge][inverse]) {
  --badge-color: #{$cds-alias-status-danger};
}

// variant badge colors
:host([badge='success'][inverse]) {
  --badge-color: #{$cds-alias-status-success};
}

:host([badge='inherit'][inverse]) {
  --badge-color: inherit;
}

:host([badge='warning'][inverse]) {
  --badge-color: #{$cds-alias-status-warning};
}

:host([badge='info'][inverse]) {
  --badge-color: #{$cds-alias-status-info};
}

// alert colors
:host([badge$='triangle'][inverse]) {
  --badge-color: #{$cds-alias-status-warning};
}

:host([badge='inherit-triangle'][inverse]) {
  --badge-color: inherit;
}
