<div class="clr-icon-selection">

    <section>
        <h5>Core shapes</h5>
        <div class="row clr-icon-collection">
            <div *ngFor="let shape of coreShapes" class="clr-icon-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <clr-icon [attr.shape]="shape"></clr-icon><span class="icon-shape-name">{{shape}}</span>
            </div>
        </div>
    </section>

    <section>
        <h5>Basic shapes</h5>
        <div class="row clr-icon-collection">
            <div *ngFor="let shape of basicShapes" class="clr-icon-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <clr-icon [attr.shape]="shape"></clr-icon><span class="icon-shape-name">{{shape}}</span>
            </div>
        </div>
    </section>

    <section>
        <h5>Social shapes</h5>
        <div class="row clr-icon-collection">
            <div *ngFor="let shape of socialShapes" class="clr-icon-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <clr-icon [attr.shape]="shape"></clr-icon><span class="icon-shape-name">{{shape}}</span>
            </div>
        </div>
    </section>

    <section>
        <h5>Technology shapes</h5>
        <div class="row clr-icon-collection">
            <div *ngFor="let shape of technologyShapes" class="clr-icon-item col-xs-12 col-sm-6 col-md-4 col-lg-3">
                <clr-icon [attr.shape]="shape"></clr-icon><span class="icon-shape-name">{{shape}}</span>
            </div>
        </div>
    </section>

</div>