@import './../../styles/base-component';

:host {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.dropdown div {
  border: 2px solid var(--clr-test-border-color, #ccc);
  padding: 0.5rem;
  color: inherit;
  font-size: 0.75rem;
}

.dropdown .btn {
  background-color: var(--clr-test-button-background-color, #ccc);
  color: var(--clr-test-button-text-color, #2d2d2d);
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  height: auto;
}
