@import './../styles/tokens/generated/index';
@import './../styles/mixins/utils';

@mixin rotateSVGIcon($deg) {
  svg {
    transform: rotate($deg);
  }
}

@mixin flipSVGIcon($direction) {
  @if $direction == 'horizontal' {
    svg {
      transform: scale(-1) rotateX(180deg);
    }
    /* stylelint-disable */
  } @else if $direction == 'vertical' {
    /* stylelint-enable */
    svg {
      transform: scale(-1) rotateY(180deg);
    }
  }
}

:host {
  --color: #{$cds-token-color-neutral-700};
  --badge-color: #{$cds-token-color-danger-700};
  display: inline-block;
  @include equilateral(#{$cds-token-space-size-7});
  margin: 0;
  vertical-align: middle;
  fill: var(--color);
  contain: strict;
}

svg {
  display: block;
}

// sizing
:host(.clr-i-size-sm) {
  // weirdly, the default... 16px
  @include equilateral(#{$cds-token-space-size-7});
}

:host(.clr-i-size-md) {
  // 24px
  @include equilateral(#{$cds-token-space-size-9});
}

:host(.clr-i-size-lg) {
  // 36px
  @include equilateral(#{$cds-token-space-size-11});
}

:host(.clr-i-size-xl) {
  // 48px
  @include equilateral(#{$cds-token-space-size-12});
}

:host(.clr-i-size-xxl) {
  // 64px
  @include equilateral(calc(#{$cds-token-space-size-13} - #{$cds-token-space-size-5}));
}

// colors
// DEPRECATED IN 3.0: is-green, .is-success
:host(.is-green),
:host(.is-success),
:host([status='success']) {
  --color: #{$cds-token-color-success-700};
}

// DEPRECATED IN 3.0: is-red, is-error, is-danger
:host(.is-red),
:host(.is-danger),
:host(.is-error),
:host([status='danger']) {
  --color: #{$cds-token-color-danger-700};
}

// DEPRECATED IN 3.0: is-warning
:host(.is-warning),
:host([status='warning']) {
  --color: #{$cds-token-color-warning-900};
}

// DEPRECATED IN 3.0: is-blue, is-info, is-highlight
:host(.is-blue),
:host(.is-info),
:host(.is-highlight),
:host([status='info']) {
  --color: #{$cds-token-color-action-600};
}

// INVERSE COLORS

// DEPRECATED IN 3.0: is-white, is-inverse
:host(.is-white),
:host(.is-inverse),
:host([inverse]) {
  --color: #{$cds-token-color-neutral-0};
}

// DEPRECATED IN 3.0: is-info, is-inverse
:host([inverse].is-info),
:host([status='info'].is-inverse),
:host([inverse][status='info']) {
  --color: #{$cds-token-color-action-400};
}

// DEPRECATED IN 3.0: is-success, is-inverse
:host([inverse].is-success),
:host([status='success'].is-inverse),
:host([inverse][status='success']) {
  --color: #{$cds-token-color-success-400};
}

// DEPRECATED IN 3.0: is-error, is-danger, is-inverse
:host(.is-inverse.is-error),
:host(.is-inverse.is-danger),
:host([status='danger'].is-inverse),
:host([inverse].is-error),
:host([inverse].is-danger),
:host([inverse][status='danger']) {
  --color: #{$cds-token-color-danger-700};
}

// DEPRECATED IN 3.0: is-warning, is-inverse
:host(.is-inverse.is-warning),
:host([status='warning'].is-inverse),
:host([inverse].is-warning),
:host([inverse][status='warning']) {
  --color: #{$cds-token-color-warning-500};
}

// directional
:host([dir='up']),
:host([direction='up']) {
  @include rotateSVGIcon(0deg);
}

:host([dir='down']),
:host([direction='down']) {
  @include rotateSVGIcon(180deg);
}

:host([dir='right']),
:host([direction='right']) {
  @include rotateSVGIcon(90deg);
}

:host([dir='left']),
:host([direction='left']) {
  @include rotateSVGIcon(270deg);
}

:host([flip='horizontal']) {
  @include flipSVGIcon('horizontal');
}

:host([flip='vertical']) {
  @include flipSVGIcon('vertical');
}

.clr-i-badge,
.clr-i-alert {
  fill: var(--badge-color);
}

// outlined

:host {
  .clr-i-solid,
  .clr-i-solid--badged,
  .clr-i-solid--alerted {
    display: none;
  }

  .clr-i-outline--alerted,
  .clr-i-outline--badged {
    &:not(.clr-i-outline) {
      display: none;
    }
  }
}

// DEPRECATED IN 3.0: has-badge
:host([class*='has-badge']) .can-badge,
:host([badge]) .can-badge {
  .clr-i-outline--badged {
    display: block;
  }

  .clr-i-outline:not(.clr-i-outline--badged) {
    display: none;
  }
}

// DEPRECATED IN 3.0: has-alert
:host([class*='has-alert']) .can-alert,
:host([badge$='triangle']) .can-alert {
  .clr-i-outline--alerted {
    display: block;
  }

  .clr-i-outline--badged,
  .clr-i-outline:not(.clr-i-outline--alerted) {
    display: none;
  }
}

// solid

// DEPRECATED IN 3.0: is-solid
:host(.is-solid) .has-solid,
:host([solid]) .has-solid {
  .clr-i-solid {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--badged {
    display: none;
  }

  .clr-i-solid--alerted,
  .clr-i-solid--badged {
    &:not(.clr-i-solid) {
      display: none;
    }
  }
}

// DEPRECATED IN 3.0: is-solid, has-badge
:host(.is-solid[class*='has-badge']) .can-badge.has-solid,
:host([solid].has-badge) .can-badge.has-solid,
:host([badge].is-solid) .can-badge.has-solid,
:host([badge][solid]) .can-badge.has-solid {
  .clr-i-solid--badged {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--badged,
  .clr-i-solid:not(.clr-i-solid--badged) {
    display: none;
  }
}

// DEPRECATED IN 3.0: is-solid, has-alert
:host(.is-solid[class*='has-alert']) .can-alert.has-solid,
:host([solid].has-alert) .can-alert.has-solid,
:host([badge$='triangle'].is-solid) .can-alert.has-solid,
:host([solid][badge$='triangle']) .can-alert.has-solid {
  .clr-i-solid--alerted {
    display: block;
  }

  .clr-i-outline,
  .clr-i-outline--alerted,
  .clr-i-solid--badged,
  .clr-i-solid:not(.clr-i-solid--alerted) {
    display: none;
  }
}

// variant badge colors

// DEPRECATED IN 3.0: has-badge--success
:host(.has-badge--success),
:host([badge='success']) {
  --badge-color: #{$cds-token-color-success-700};
}

// DEPRECATED IN 3.0: has-badge--danger, has-badge--error
:host(.has-badge--danger),
:host(.has-badge--error),
:host([badge='danger']) {
  --badge-color: #{$cds-token-color-danger-700};
}

// there is no .has-badge--warning classname
:host([badge='warning']) {
  --badge-color: #{$cds-token-color-warning-900};
}

:host([badge='inherit']) {
  --badge-color: inherit;
}

// DEPRECATED IN 3.0: has-badge--info
:host(.has-badge--info),
:host([badge='info']) {
  --badge-color: #{$cds-token-color-action-600};
}

// alert colors
// DEPRECATED IN 3.0: has-alert
:host(.has-alert),
:host([badge$='triangle']) {
  --badge-color: #{$cds-token-color-warning-800};
}

:host([badge='inherit-triangle']) {
  --badge-color: inherit;
}

// inverse + variants

// DEPRECATED IN 3.0: has-badge--error, has-badge--danger, is-inverse
:host([badge][inverse]),
:host([badge].is-inverse),
:host(.has-badge--danger[inverse]),
:host(.has-badge--error[inverse]),
:host(.has-badge--danger.is-inverse),
:host(.has-badge--error.is-inverse) {
  --badge-color: #{$cds-token-color-danger-500};
}

// DEPRECATED IN 3.0: is-highlight, is-inverse
:host([inverse].is-highlight),
:host(.is-highlight.is-inverse) {
  --color: #{$cds-token-color-action-400};
}

// variant badge colors
// DEPRECATED IN 3.0: has-badge--success, is-inverse
:host([badge='success'][inverse]),
:host([inverse].has-badge--success),
:host([badge='success'].is-inverse),
:host(.has-badge--success.is-inverse) {
  --badge-color: #{$cds-token-color-success-400};
}

:host([badge='inherit'][inverse]) {
  --badge-color: inherit;
}

// there is no has-badge--warning classname
:host([badge='warning'][inverse]) {
  --badge-color: #{$cds-token-color-warning-500};
}

// DEPRECATED IN 3.0: has-badge--info, is-inverse
:host([badge='info'][inverse]),
:host(.has-badge--info[inverse]),
:host([badge='info'].is-inverse),
:host(.has-badge--info.is-inverse) {
  --badge-color: #{$cds-token-color-action-400};
}

// alert colors
// DEPRECATED IN 3.0: has-alert, is-inverse
:host([badge$='triangle'][inverse]),
:host(.has-alert[inverse]),
:host(.is-inverse[badge$='triangle']),
:host(.has-alert.is-inverse) {
  --badge-color: #{$cds-token-color-warning-500};
}

:host([badge='inherit-triangle'][inverse]) {
  --badge-color: inherit;
}
