<h1>Badges</h1>

<h2>4.0.0</h2>

<h3>Color</h3>

<example-wrapper [code]="colorAngularExamples" component="4.0.0/badges/badge-color.ng.ts">
  <h4>Angular example</h4>
</example-wrapper>

<example-wrapper [code]="colorCoreExamples" component="4.0.0/badges/badge-color.core.ts">
  <h4>Core example</h4>
</example-wrapper>

<h3>Status</h3>

<example-wrapper [code]="statusAngularExamples" component="4.0.0/badges/badge-status.ng.ts">
  <h4>Angular example</h4>
</example-wrapper>

<example-wrapper [code]="statusCoreExamples" component="4.0.0/badges/badge-status.core.ts">
  <h4>Core example</h4>
</example-wrapper>
