@import './../styles/tokens/generated/index';

:host {
  --padding: var(--cds-global-space-6) var(--cds-global-space-8);

  --background: #{$cds-alias-object-container-background};
  --border: #{$cds-alias-object-border-width-100} solid #{$cds-alias-object-container-border-color};
  --border-radius: #{$cds-alias-object-border-radius-100};
  --box-shadow: #{$cds-alias-object-shadow-100};

  --card-remove-margin: var(--cds-global-space-8);
}

::slotted([cds-card-remove-margin]) {
  --color: #{$cds-alias-object-container-border-color};
}
