@import './../styles/tokens/generated/index';

:host {
  --color: #{$cds-global-typography-color-500};
  --font-size: #{$cds-global-typography-font-size-3};
  color: var(--color);
  display: flex;
  width: auto;
  font-size: var(--font-size);
}

::slotted(cds-input[cds-pagination-number]) {
  --background: var(--cds-alias-object-container-background);
  --border-radius: var(--cds-alias-object-border-radius-100);
  --border: var(--cds-alias-object-border-width-100) solid var(--cds-alias-object-border-color);
  --border-bottom: 0;
  --padding: var(--cds-global-space-2) var(--cds-global-space-4) 0;
  --font-size: #{$cds-global-typography-font-size-3};
  --text-align: center;
}

::slotted([cds-control]) {
  --min-width: initial;
  --label-width: 0;
  --control-width: initial;
  width: auto;
}
