@import './../styles/tokens/generated/index';

:host {
  --background: none;
  --padding: 0;
  --border-color: var(--color);
  --border-width: 0;
  --border-radius: #{$cds-alias-object-border-radius-100};
  --box-shadow: 0 #{$cds-global-space-2} 0 0 #{$cds-alias-object-opacity-100} inset;
  --min-height: #{$cds-global-space-9};
  --min-width: #{$cds-global-space-9};
  color: var(--color);
}

.private-host {
  --icon-color: var(--color);
  color: var(--color);
  background: var(--background);
  min-width: var(--min-width);
  min-height: var(--min-height);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: var(--border-width);
  font-size: var(--font-size);
}

:host(:active) .private-host {
  box-shadow: var(--box-shadow);
}

:host(:hover),
:host(:focus),
:host(:active) {
  .private-host {
    filter: brightness(90%);
  }
}

cds-icon {
  --color: var(--icon-color);
}

:host([disabled]) {
  --background: none;
  --box-shadow: none;
  --color: #{$cds-alias-status-disabled};
  pointer-events: none !important;

  .private-host {
    --icon-color: var(--color);
    filter: none !important;
    background: var(--background);
    color: var(--color);
  }
}
