$cds-token-color-action-1000: var(--cds-token-color-action-1000, hsl(198, 100%, 15%));
$cds-token-color-action-1000-static: hsl(198, 100%, 15%);
$cds-token-color-action-100: var(--cds-token-color-action-100, hsl(198, 81%, 88%));
$cds-token-color-action-100-static: hsl(198, 81%, 88%);
$cds-token-color-action-200: var(--cds-token-color-action-200, hsl(198, 78%, 78%));
$cds-token-color-action-200-static: hsl(198, 78%, 78%);
$cds-token-color-action-300: var(--cds-token-color-action-300, hsl(198, 69%, 69%));
$cds-token-color-action-300-static: hsl(198, 69%, 69%);
$cds-token-color-action-400: var(--cds-token-color-action-400, hsl(198, 66%, 57%));
$cds-token-color-action-400-static: hsl(198, 66%, 57%);
$cds-token-color-action-500: var(--cds-token-color-action-500, hsl(198, 80%, 46%));
$cds-token-color-action-500-static: hsl(198, 80%, 46%);
$cds-token-color-action-50: var(--cds-token-color-action-50, hsl(198, 83%, 94%));
$cds-token-color-action-50-static: hsl(198, 83%, 94%);
$cds-token-color-action-600: var(--cds-token-color-action-600, hsl(198, 100%, 32%));
$cds-token-color-action-600-static: hsl(198, 100%, 32%);
$cds-token-color-action-700: var(--cds-token-color-action-700, hsl(198, 100%, 28%));
$cds-token-color-action-700-static: hsl(198, 100%, 28%);
$cds-token-color-action-800: var(--cds-token-color-action-800, hsl(198, 100%, 24%));
$cds-token-color-action-800-static: hsl(198, 100%, 24%);
$cds-token-color-action-900: var(--cds-token-color-action-900, hsl(198, 100%, 21%));
$cds-token-color-action-900-static: hsl(198, 100%, 21%);
$cds-token-color-danger-1000: var(--cds-token-color-danger-1000, hsl(9, 100%, 20%));
$cds-token-color-danger-1000-static: hsl(9, 100%, 20%);
$cds-token-color-danger-100: var(--cds-token-color-danger-100, hsl(9, 95%, 92%));
$cds-token-color-danger-100-static: hsl(9, 95%, 92%);
$cds-token-color-danger-200: var(--cds-token-color-danger-200, hsl(9, 91%, 86%));
$cds-token-color-danger-200-static: hsl(9, 91%, 86%);
$cds-token-color-danger-300: var(--cds-token-color-danger-300, hsl(9, 83%, 76%));
$cds-token-color-danger-300-static: hsl(9, 83%, 76%);
$cds-token-color-danger-400: var(--cds-token-color-danger-400, hsl(9, 85%, 67%));
$cds-token-color-danger-400-static: hsl(9, 85%, 67%);
$cds-token-color-danger-500: var(--cds-token-color-danger-500, hsl(9, 88%, 61%));
$cds-token-color-danger-500-static: hsl(9, 88%, 61%);
$cds-token-color-danger-50: var(--cds-token-color-danger-50, hsl(9, 100%, 97%));
$cds-token-color-danger-50-static: hsl(9, 100%, 97%);
$cds-token-color-danger-600: var(--cds-token-color-danger-600, hsl(9, 92%, 50%));
$cds-token-color-danger-600-static: hsl(9, 92%, 50%);
$cds-token-color-danger-700: var(--cds-token-color-danger-700, hsl(9, 100%, 43%));
$cds-token-color-danger-700-static: hsl(9, 100%, 43%);
$cds-token-color-danger-800: var(--cds-token-color-danger-800, hsl(9, 100%, 38%));
$cds-token-color-danger-800-static: hsl(9, 100%, 38%);
$cds-token-color-danger-900: var(--cds-token-color-danger-900, hsl(9, 100%, 30%));
$cds-token-color-danger-900-static: hsl(9, 100%, 30%);
$cds-token-color-neutral-0: var(--cds-token-color-neutral-0, hsl(198, 0%, 100%));
$cds-token-color-neutral-0-static: hsl(198, 0%, 100%);
$cds-token-color-neutral-1000: var(--cds-token-color-neutral-1000, hsl(198, 0%, 0%));
$cds-token-color-neutral-1000-static: hsl(198, 0%, 0%);
$cds-token-color-neutral-100: var(--cds-token-color-neutral-100, hsl(198, 0%, 95%));
$cds-token-color-neutral-100-static: hsl(198, 0%, 95%);
$cds-token-color-neutral-200: var(--cds-token-color-neutral-200, hsl(198, 0%, 91%));
$cds-token-color-neutral-200-static: hsl(198, 0%, 91%);
$cds-token-color-neutral-300: var(--cds-token-color-neutral-300, hsl(198, 0%, 87%));
$cds-token-color-neutral-300-static: hsl(198, 0%, 87%);
$cds-token-color-neutral-400: var(--cds-token-color-neutral-400, hsl(198, 0%, 80%));
$cds-token-color-neutral-400-static: hsl(198, 0%, 80%);
$cds-token-color-neutral-500: var(--cds-token-color-neutral-500, hsl(198, 0%, 70%));
$cds-token-color-neutral-500-static: hsl(198, 0%, 70%);
$cds-token-color-neutral-50: var(--cds-token-color-neutral-50, hsl(198, 0%, 98%));
$cds-token-color-neutral-50-static: hsl(198, 0%, 98%);
$cds-token-color-neutral-600: var(--cds-token-color-neutral-600, hsl(198, 0%, 55%));
$cds-token-color-neutral-600-static: hsl(198, 0%, 55%);
$cds-token-color-neutral-700: var(--cds-token-color-neutral-700, hsl(198, 0%, 40%));
$cds-token-color-neutral-700-static: hsl(198, 0%, 40%);
$cds-token-color-neutral-800: var(--cds-token-color-neutral-800, hsl(198, 0%, 27%));
$cds-token-color-neutral-800-static: hsl(198, 0%, 27%);
$cds-token-color-neutral-900: var(--cds-token-color-neutral-900, hsl(198, 0%, 20%));
$cds-token-color-neutral-900-static: hsl(198, 0%, 20%);
$cds-token-color-secondary-action-1000: var(--cds-token-color-secondary-action-1000, hsl(282, 100%, 14%));
$cds-token-color-secondary-action-1000-static: hsl(282, 100%, 14%);
$cds-token-color-secondary-action-100: var(--cds-token-color-secondary-action-100, hsl(282, 59%, 87%));
$cds-token-color-secondary-action-100-static: hsl(282, 59%, 87%);
$cds-token-color-secondary-action-200: var(--cds-token-color-secondary-action-200, hsl(282, 51%, 78%));
$cds-token-color-secondary-action-200-static: hsl(282, 51%, 78%);
$cds-token-color-secondary-action-300: var(--cds-token-color-secondary-action-300, hsl(282, 45%, 70%));
$cds-token-color-secondary-action-300-static: hsl(282, 45%, 70%);
$cds-token-color-secondary-action-400: var(--cds-token-color-secondary-action-400, hsl(282, 44%, 62%));
$cds-token-color-secondary-action-400-static: hsl(282, 44%, 62%);
$cds-token-color-secondary-action-500: var(--cds-token-color-secondary-action-500, hsl(282, 43%, 54%));
$cds-token-color-secondary-action-500-static: hsl(282, 43%, 54%);
$cds-token-color-secondary-action-50: var(--cds-token-color-secondary-action-50, hsl(282, 100%, 95%));
$cds-token-color-secondary-action-50-static: hsl(282, 100%, 95%);
$cds-token-color-secondary-action-600: var(--cds-token-color-secondary-action-600, hsl(282, 50%, 45%));
$cds-token-color-secondary-action-600-static: hsl(282, 50%, 45%);
$cds-token-color-secondary-action-700: var(--cds-token-color-secondary-action-700, hsl(282, 69%, 37%));
$cds-token-color-secondary-action-700-static: hsl(282, 69%, 37%);
$cds-token-color-secondary-action-800: var(--cds-token-color-secondary-action-800, hsl(282, 100%, 29%));
$cds-token-color-secondary-action-800-static: hsl(282, 100%, 29%);
$cds-token-color-secondary-action-900: var(--cds-token-color-secondary-action-900, hsl(282, 100%, 22%));
$cds-token-color-secondary-action-900-static: hsl(282, 100%, 22%);
$cds-token-color-success-1000: var(--cds-token-color-success-1000, hsl(93, 100%, 13%));
$cds-token-color-success-1000-static: hsl(93, 100%, 13%);
$cds-token-color-success-100: var(--cds-token-color-success-100, hsl(93, 58%, 75%));
$cds-token-color-success-100-static: hsl(93, 58%, 75%);
$cds-token-color-success-200: var(--cds-token-color-success-200, hsl(93, 76%, 49%));
$cds-token-color-success-200-static: hsl(93, 76%, 49%);
$cds-token-color-success-300: var(--cds-token-color-success-300, hsl(93, 77%, 44%));
$cds-token-color-success-300-static: hsl(93, 77%, 44%);
$cds-token-color-success-400: var(--cds-token-color-success-400, hsl(93, 79%, 40%));
$cds-token-color-success-400-static: hsl(93, 79%, 40%);
$cds-token-color-success-500: var(--cds-token-color-success-500, hsl(93, 67%, 38%));
$cds-token-color-success-500-static: hsl(93, 67%, 38%);
$cds-token-color-success-50: var(--cds-token-color-success-50, hsl(93, 52%, 88%));
$cds-token-color-success-50-static: hsl(93, 52%, 88%);
$cds-token-color-success-600: var(--cds-token-color-success-600, hsl(93, 85%, 32%));
$cds-token-color-success-600-static: hsl(93, 85%, 32%);
$cds-token-color-success-700: var(--cds-token-color-success-700, hsl(93, 100%, 26%));
$cds-token-color-success-700-static: hsl(93, 100%, 26%);
$cds-token-color-success-800: var(--cds-token-color-success-800, hsl(93, 100%, 21%));
$cds-token-color-success-800-static: hsl(93, 100%, 21%);
$cds-token-color-success-900: var(--cds-token-color-success-900, hsl(93, 100%, 16%));
$cds-token-color-success-900-static: hsl(93, 100%, 16%);
$cds-token-color-warning-1000: var(--cds-token-color-warning-1000, hsl(31, 100%, 19%));
$cds-token-color-warning-1000-static: hsl(31, 100%, 19%);
$cds-token-color-warning-100: var(--cds-token-color-warning-100, hsl(48, 100%, 89%));
$cds-token-color-warning-100-static: hsl(48, 100%, 89%);
$cds-token-color-warning-200: var(--cds-token-color-warning-200, hsl(48, 100%, 83%));
$cds-token-color-warning-200-static: hsl(48, 100%, 83%);
$cds-token-color-warning-300: var(--cds-token-color-warning-300, hsl(48, 98%, 72%));
$cds-token-color-warning-300-static: hsl(48, 98%, 72%);
$cds-token-color-warning-400: var(--cds-token-color-warning-400, hsl(48, 94%, 57%));
$cds-token-color-warning-400-static: hsl(48, 94%, 57%);
$cds-token-color-warning-500: var(--cds-token-color-warning-500, hsl(48, 95%, 48%));
$cds-token-color-warning-500-static: hsl(48, 95%, 48%);
$cds-token-color-warning-50: var(--cds-token-color-warning-50, hsl(48, 100%, 95%));
$cds-token-color-warning-50-static: hsl(48, 100%, 95%);
$cds-token-color-warning-600: var(--cds-token-color-warning-600, hsl(46, 100%, 45%));
$cds-token-color-warning-600-static: hsl(46, 100%, 45%);
$cds-token-color-warning-700: var(--cds-token-color-warning-700, hsl(43, 100%, 42%));
$cds-token-color-warning-700-static: hsl(43, 100%, 42%);
$cds-token-color-warning-800: var(--cds-token-color-warning-800, hsl(41, 100%, 34%));
$cds-token-color-warning-800-static: hsl(41, 100%, 34%);
$cds-token-color-warning-900: var(--cds-token-color-warning-900, hsl(38, 100%, 28%));
$cds-token-color-warning-900-static: hsl(38, 100%, 28%);
$cds-token-global-base-font-size-px: 20;
$cds-token-global-base-font-size-px-static: 20;
$cds-token-global-base-font-size: var(--cds-token-global-base-font-size, 125%);
$cds-token-global-base-font-size-static: 125%;
$cds-token-global-border-radius: var(--cds-token-global-border-radius, 0.15rem);
$cds-token-global-border-radius-static: 0.15rem;
$cds-token-global-border-width: var(--cds-token-global-border-width, 0.05rem);
$cds-token-global-border-width-static: 0.05rem;
$cds-token-global-focus-color: var(--cds-token-global-focus-color, hsl(197, 68%, 65%));
$cds-token-global-focus-color-static: hsl(197, 68%, 65%);
$cds-token-global-font-ascender-height: var(--cds-token-global-font-ascender-height, 0.1703em);
$cds-token-global-font-ascender-height-static: 0.1703em;
$cds-token-global-font-top-gap-height: var(--cds-token-global-font-top-gap-height, 0.1475em);
$cds-token-global-font-top-gap-height-static: 0.1475em;
$cds-token-global-font-x-height: var(--cds-token-global-font-x-height, 0.517em);
$cds-token-global-font-x-height-static: 0.517em;
$cds-token-layout-grid-cols: 12;
$cds-token-layout-grid-cols-static: 12;
$cds-token-layout-space-lg: var(--cds-token-layout-space-lg, 2.4rem);
$cds-token-layout-space-lg-static: 2.4rem;
$cds-token-layout-space-md: var(--cds-token-layout-space-md, 1.2rem);
$cds-token-layout-space-md-static: 1.2rem;
$cds-token-layout-space-sm: var(--cds-token-layout-space-sm, 0.6rem);
$cds-token-layout-space-sm-static: 0.6rem;
$cds-token-layout-space-xl: var(--cds-token-layout-space-xl, 4.8rem);
$cds-token-layout-space-xl-static: 4.8rem;
$cds-token-layout-space-xs: var(--cds-token-layout-space-xs, 0.3rem);
$cds-token-layout-space-xs-static: 0.3rem;
$cds-token-layout-width-lg: var(--cds-token-layout-width-lg, 1200px);
$cds-token-layout-width-lg-static: 1200px;
$cds-token-layout-width-md: var(--cds-token-layout-width-md, 992px);
$cds-token-layout-width-md-static: 992px;
$cds-token-layout-width-sm: var(--cds-token-layout-width-sm, 768px);
$cds-token-layout-width-sm-static: 768px;
$cds-token-layout-width-xl: var(--cds-token-layout-width-xl, 1440px);
$cds-token-layout-width-xl-static: 1440px;
$cds-token-layout-width-xs: var(--cds-token-layout-width-xs, 576px);
$cds-token-layout-width-xs-static: 576px;
$cds-token-space-size-0: var(--cds-token-space-size-0, 0rem);
$cds-token-space-size-0-static: 0rem;
$cds-token-space-size-10: var(--cds-token-space-size-10, 1.6rem);
$cds-token-space-size-10-static: 1.6rem;
$cds-token-space-size-11: var(--cds-token-space-size-11, 1.8rem);
$cds-token-space-size-11-static: 1.8rem;
$cds-token-space-size-12: var(--cds-token-space-size-12, 2.4rem);
$cds-token-space-size-12-static: 2.4rem;
$cds-token-space-size-13: var(--cds-token-space-size-13, 3.6rem);
$cds-token-space-size-13-static: 3.6rem;
$cds-token-space-size-1: var(--cds-token-space-size-1, 0.05rem);
$cds-token-space-size-1-static: 0.05rem;
$cds-token-space-size-2: var(--cds-token-space-size-2, 0.1rem);
$cds-token-space-size-2-static: 0.1rem;
$cds-token-space-size-3: var(--cds-token-space-size-3, 0.2rem);
$cds-token-space-size-3-static: 0.2rem;
$cds-token-space-size-4: var(--cds-token-space-size-4, 0.3rem);
$cds-token-space-size-4-static: 0.3rem;
$cds-token-space-size-5: var(--cds-token-space-size-5, 0.4rem);
$cds-token-space-size-5-static: 0.4rem;
$cds-token-space-size-6: var(--cds-token-space-size-6, 0.6rem);
$cds-token-space-size-6-static: 0.6rem;
$cds-token-space-size-7: var(--cds-token-space-size-7, 0.8rem);
$cds-token-space-size-7-static: 0.8rem;
$cds-token-space-size-8: var(--cds-token-space-size-8, 0.9rem);
$cds-token-space-size-8-static: 0.9rem;
$cds-token-space-size-9: var(--cds-token-space-size-9, 1.2rem);
$cds-token-space-size-9-static: 1.2rem;
$cds-token-typography-body-color: var(--cds-token-typography-body-color, rgb(26, 26, 26));
$cds-token-typography-body-color-static: rgb(26, 26, 26);
$cds-token-typography-body-font-size: var(--cds-token-typography-body-font-size, 0.7rem);
$cds-token-typography-body-font-size-static: 0.7rem;
$cds-token-typography-body-font-weight: var(--cds-token-typography-body-font-weight, 400);
$cds-token-typography-body-font-weight-static: 400;
$cds-token-typography-body-letter-spacing: var(--cds-token-typography-body-letter-spacing, -0.014286em);
$cds-token-typography-body-letter-spacing-static: -0.014286em;
$cds-token-typography-body-line-height: var(--cds-token-typography-body-line-height, 1.42857em);
$cds-token-typography-body-line-height-static: 1.42857em;
$cds-token-typography-caption-color: var(--cds-token-typography-caption-color, rgb(0, 0, 0));
$cds-token-typography-caption-color-static: rgb(0, 0, 0);
$cds-token-typography-caption-font-size: var(--cds-token-typography-caption-font-size, 0.55rem);
$cds-token-typography-caption-font-size-static: 0.55rem;
$cds-token-typography-caption-font-weight: var(--cds-token-typography-caption-font-weight, 400);
$cds-token-typography-caption-font-weight-static: 400;
$cds-token-typography-caption-letter-spacing: var(--cds-token-typography-caption-letter-spacing, 0.018182em);
$cds-token-typography-caption-letter-spacing-static: 0.018182em;
$cds-token-typography-caption-line-height: var(--cds-token-typography-caption-line-height, 1.454545em);
$cds-token-typography-caption-line-height-static: 1.454545em;
$cds-token-typography-display-color: var(--cds-token-typography-display-color, rgb(51, 51, 51));
$cds-token-typography-display-color-static: rgb(51, 51, 51);
$cds-token-typography-display-font-size: var(--cds-token-typography-display-font-size, 2rem);
$cds-token-typography-display-font-size-static: 2rem;
$cds-token-typography-display-font-weight: var(--cds-token-typography-display-font-weight, 500);
$cds-token-typography-display-font-weight-static: 500;
$cds-token-typography-display-letter-spacing: var(--cds-token-typography-display-letter-spacing, -0.0125em);
$cds-token-typography-display-letter-spacing-static: -0.0125em;
$cds-token-typography-display-line-height: var(--cds-token-typography-display-line-height, 1.1em);
$cds-token-typography-display-line-height-static: 1.1em;
$cds-token-typography-font-family: var(
  --cds-token-typography-font-family,
  'Clarity City',
  'Avenir Next',
  'Helvetica Neue',
  Arial,
  sans-serif
);
$cds-token-typography-font-family-static: 'Clarity City', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$cds-token-typography-font-size-0: var(--cds_9dhvmt3yf, 0.5rem);
$cds-token-typography-font-size-0-static: 0.5rem;
$cds-token-typography-font-size-1: var(--cds_bk9bzanze, 0.55rem);
$cds-token-typography-font-size-1-static: 0.55rem;
$cds-token-typography-font-size-2: var(--cds_ejesktiwl, 0.6rem);
$cds-token-typography-font-size-2-static: 0.6rem;
$cds-token-typography-font-size-3: var(--cds_ga49efq22, 0.65rem);
$cds-token-typography-font-size-3-static: 0.65rem;
$cds-token-typography-font-size-4: var(--cds_amuh3b9qb, 0.7rem);
$cds-token-typography-font-size-4-static: 0.7rem;
$cds-token-typography-font-size-5: var(--cds_s82fei3h7, 0.8rem);
$cds-token-typography-font-size-5-static: 0.8rem;
$cds-token-typography-font-size-6: var(--cds_3dfwtxmew, 1rem);
$cds-token-typography-font-size-6-static: 1rem;
$cds-token-typography-font-size-7: var(--cds_a1x7juh9o, 1.2rem);
$cds-token-typography-font-size-7-static: 1.2rem;
$cds-token-typography-font-size-8: var(--cds_5ue9u4v5q, 1.6rem);
$cds-token-typography-font-size-8-static: 1.6rem;
$cds-token-typography-font-size-9: var(--cds_j16dq4d1c, 2rem);
$cds-token-typography-font-size-9-static: 2rem;
$cds-token-typography-font-weight-bold: var(--cds-token-typography-font-weight-bold, 600);
$cds-token-typography-font-weight-bold-static: 600;
$cds-token-typography-font-weight-extrabold: var(--cds-token-typography-font-weight-extrabold, 600);
$cds-token-typography-font-weight-extrabold-static: 600;
$cds-token-typography-font-weight-light: var(--cds-token-typography-font-weight-light, 200);
$cds-token-typography-font-weight-light-static: 200;
$cds-token-typography-font-weight-medium: var(--cds-token-typography-font-weight-medium, 500);
$cds-token-typography-font-weight-medium-static: 500;
$cds-token-typography-font-weight-regular: var(--cds-token-typography-font-weight-regular, 400);
$cds-token-typography-font-weight-regular-static: 400;
$cds-token-typography-font-weight-semibold: var(--cds-token-typography-font-weight-semibold, 500);
$cds-token-typography-font-weight-semibold-static: 500;
$cds-token-typography-h0-color: rgb(51, 51, 51);
$cds-token-typography-h0-color-static: rgb(51, 51, 51);
$cds-token-typography-h0-font-size: var(--cds_j16dq4d1c, 2rem);
$cds-token-typography-h0-font-size-static: 2rem;
$cds-token-typography-h0-font-weight: 500;
$cds-token-typography-h0-font-weight-static: 500;
$cds-token-typography-h0-letter-spacing: -0.0125em;
$cds-token-typography-h0-letter-spacing-static: -0.0125em;
$cds-token-typography-h0-line-height: 1.2em;
$cds-token-typography-h0-line-height-static: 1.2em;
$cds-token-typography-h1-color: rgb(51, 51, 51);
$cds-token-typography-h1-color-static: rgb(51, 51, 51);
$cds-token-typography-h1-font-size: var(--cds_5ue9u4v5q, 1.6rem);
$cds-token-typography-h1-font-size-static: 1.6rem;
$cds-token-typography-h1-font-weight: 500;
$cds-token-typography-h1-font-weight-static: 500;
$cds-token-typography-h1-letter-spacing: -0.0156em;
$cds-token-typography-h1-letter-spacing-static: -0.0156em;
$cds-token-typography-h1-line-height: 1.5em;
$cds-token-typography-h1-line-height-static: 1.5em;
$cds-token-typography-h2-color: rgb(51, 51, 51);
$cds-token-typography-h2-color-static: rgb(51, 51, 51);
$cds-token-typography-h2-font-size: var(--cds_undefined, 1.4rem);
$cds-token-typography-h2-font-size-static: 1.4rem;
$cds-token-typography-h2-font-weight: 500;
$cds-token-typography-h2-font-weight-static: 500;
$cds-token-typography-h2-letter-spacing: -0.017857em;
$cds-token-typography-h2-letter-spacing-static: -0.017857em;
$cds-token-typography-h2-line-height: 1.7143em;
$cds-token-typography-h2-line-height-static: 1.7143em;
$cds-token-typography-h3-color: rgb(51, 51, 51);
$cds-token-typography-h3-color-static: rgb(51, 51, 51);
$cds-token-typography-h3-font-size: var(--cds_undefined, 1.1rem);
$cds-token-typography-h3-font-size-static: 1.1rem;
$cds-token-typography-h3-font-weight: 500;
$cds-token-typography-h3-font-weight-static: 500;
$cds-token-typography-h3-letter-spacing: -0.013636em;
$cds-token-typography-h3-letter-spacing-static: -0.013636em;
$cds-token-typography-h3-line-height: 1.0909em;
$cds-token-typography-h3-line-height-static: 1.0909em;
$cds-token-typography-h4-color: rgb(51, 51, 51);
$cds-token-typography-h4-color-static: rgb(51, 51, 51);
$cds-token-typography-h4-font-size: var(--cds_undefined, 0.9rem);
$cds-token-typography-h4-font-size-static: 0.9rem;
$cds-token-typography-h4-font-weight: 500;
$cds-token-typography-h4-font-weight-static: 500;
$cds-token-typography-h4-letter-spacing: -0.011111em;
$cds-token-typography-h4-letter-spacing-static: -0.011111em;
$cds-token-typography-h4-line-height: 1.333333em;
$cds-token-typography-h4-line-height-static: 1.333333em;
$cds-token-typography-h5-color: rgb(51, 51, 51);
$cds-token-typography-h5-color-static: rgb(51, 51, 51);
$cds-token-typography-h5-font-size: var(--cds_s82fei3h7, 0.8rem);
$cds-token-typography-h5-font-size-static: 0.8rem;
$cds-token-typography-h5-font-weight: 500;
$cds-token-typography-h5-font-weight-static: 500;
$cds-token-typography-h5-letter-spacing: -0.0125em;
$cds-token-typography-h5-letter-spacing-static: -0.0125em;
$cds-token-typography-h5-line-height: 1.5em;
$cds-token-typography-h5-line-height-static: 1.5em;
$cds-token-typography-h6-color: rgb(51, 51, 51);
$cds-token-typography-h6-color-static: rgb(51, 51, 51);
$cds-token-typography-h6-font-size: var(--cds_amuh3b9qb, 0.7rem);
$cds-token-typography-h6-font-size-static: 0.7rem;
$cds-token-typography-h6-font-weight: 500;
$cds-token-typography-h6-font-weight-static: 500;
$cds-token-typography-h6-letter-spacing: -0.03125em;
$cds-token-typography-h6-letter-spacing-static: -0.03125em;
$cds-token-typography-h6-line-height: 1.5em;
$cds-token-typography-h6-line-height-static: 1.5em;
$cds-token-typography-header-font-family: var(
  --cds-token-typography-header-font-family,
  'Clarity City',
  'Avenir Next',
  'Helvetica Neue',
  Arial,
  sans-serif
);
$cds-token-typography-header-font-family-static: 'Clarity City', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
$cds-token-typography-heading-color: var(--cds-token-typography-heading-color, rgb(51, 51, 51));
$cds-token-typography-heading-color-static: rgb(51, 51, 51);
$cds-token-typography-heading-font-size: var(--cds-token-typography-heading-font-size, 1.6rem);
$cds-token-typography-heading-font-size-static: 1.6rem;
$cds-token-typography-heading-font-weight: var(--cds-token-typography-heading-font-weight, 500);
$cds-token-typography-heading-font-weight-static: 500;
$cds-token-typography-heading-letter-spacing: var(--cds-token-typography-heading-letter-spacing, -0.0125em);
$cds-token-typography-heading-letter-spacing-static: -0.0125em;
$cds-token-typography-heading-line-height: var(--cds-token-typography-heading-line-height, 1.125em);
$cds-token-typography-heading-line-height-static: 1.125em;
$cds-token-typography-message-color: var(--cds-token-typography-message-color, rgb(51, 51, 51));
$cds-token-typography-message-color-static: rgb(51, 51, 51);
$cds-token-typography-message-font-size: var(--cds-token-typography-message-font-size, 0.8rem);
$cds-token-typography-message-font-size-static: 0.8rem;
$cds-token-typography-message-font-weight: var(--cds-token-typography-message-font-weight, 400);
$cds-token-typography-message-font-weight-static: 400;
$cds-token-typography-message-letter-spacing: var(--cds-token-typography-message-letter-spacing, -0.0125em);
$cds-token-typography-message-letter-spacing-static: -0.0125em;
$cds-token-typography-message-line-height: var(--cds-token-typography-message-line-height, 1.25em);
$cds-token-typography-message-line-height-static: 1.25em;
$cds-token-typography-p0-color: rgb(51, 51, 51);
$cds-token-typography-p0-color-static: rgb(51, 51, 51);
$cds-token-typography-p0-font-size: var(--cds_a1x7juh9o, 1.2rem);
$cds-token-typography-p0-font-size-static: 1.2rem;
$cds-token-typography-p0-font-weight: 400;
$cds-token-typography-p0-font-weight-static: 400;
$cds-token-typography-p0-letter-spacing: -0.008333em;
$cds-token-typography-p0-letter-spacing-static: -0.008333em;
$cds-token-typography-p0-line-height: 1.16667em;
$cds-token-typography-p0-line-height-static: 1.16667em;
$cds-token-typography-p1-color: rgb(51, 51, 51);
$cds-token-typography-p1-color-static: rgb(51, 51, 51);
$cds-token-typography-p1-font-size: var(--cds_amuh3b9qb, 0.7rem);
$cds-token-typography-p1-font-size-static: 0.7rem;
$cds-token-typography-p1-font-weight: 400;
$cds-token-typography-p1-font-weight-static: 400;
$cds-token-typography-p1-letter-spacing: -0.014286em;
$cds-token-typography-p1-letter-spacing-static: -0.014286em;
$cds-token-typography-p1-line-height: 1.71429em;
$cds-token-typography-p1-line-height-static: 1.71429em;
$cds-token-typography-p2-color: rgb(51, 51, 51);
$cds-token-typography-p2-color-static: rgb(51, 51, 51);
$cds-token-typography-p2-font-size: var(--cds_ga49efq22, 0.65rem);
$cds-token-typography-p2-font-size-static: 0.65rem;
$cds-token-typography-p2-font-weight: 500;
$cds-token-typography-p2-font-weight-static: 500;
$cds-token-typography-p2-letter-spacing: -0.007692em;
$cds-token-typography-p2-letter-spacing-static: -0.007692em;
$cds-token-typography-p2-line-height: 1.84615em;
$cds-token-typography-p2-line-height-static: 1.84615em;
$cds-token-typography-p3-color: rgb(26, 26, 26);
$cds-token-typography-p3-color-static: rgb(26, 26, 26);
$cds-token-typography-p3-font-size: var(--cds_ga49efq22, 0.65rem);
$cds-token-typography-p3-font-size-static: 0.65rem;
$cds-token-typography-p3-font-weight: 400;
$cds-token-typography-p3-font-weight-static: 400;
$cds-token-typography-p3-letter-spacing: -0.007692em;
$cds-token-typography-p3-letter-spacing-static: -0.007692em;
$cds-token-typography-p3-line-height: 1.84615em;
$cds-token-typography-p3-line-height-static: 1.84615em;
$cds-token-typography-p4-color: rgb(77, 77, 77);
$cds-token-typography-p4-color-static: rgb(77, 77, 77);
$cds-token-typography-p4-font-size: var(--cds_ejesktiwl, 0.6rem);
$cds-token-typography-p4-font-size-static: 0.6rem;
$cds-token-typography-p4-font-weight: 600;
$cds-token-typography-p4-font-weight-static: 600;
$cds-token-typography-p4-letter-spacing: -0.008333em;
$cds-token-typography-p4-letter-spacing-static: -0.008333em;
$cds-token-typography-p4-line-height: 2em;
$cds-token-typography-p4-line-height-static: 2em;
$cds-token-typography-p5-color: rgb(26, 26, 26);
$cds-token-typography-p5-color-static: rgb(26, 26, 26);
$cds-token-typography-p5-font-size: var(--cds_ejesktiwl, 0.6rem);
$cds-token-typography-p5-font-size-static: 0.6rem;
$cds-token-typography-p5-font-weight: 400;
$cds-token-typography-p5-font-weight-static: 400;
$cds-token-typography-p5-letter-spacing: -0.008333em;
$cds-token-typography-p5-letter-spacing-static: -0.008333em;
$cds-token-typography-p5-line-height: 2em;
$cds-token-typography-p5-line-height-static: 2em;
$cds-token-typography-p6-color: rgb(77, 77, 77);
$cds-token-typography-p6-color-static: rgb(77, 77, 77);
$cds-token-typography-p6-font-size: var(--cds_bk9bzanze, 0.55rem);
$cds-token-typography-p6-font-size-static: 0.55rem;
$cds-token-typography-p6-font-weight: 600;
$cds-token-typography-p6-font-weight-static: 600;
$cds-token-typography-p6-letter-spacing: 0.018182em;
$cds-token-typography-p6-letter-spacing-static: 0.018182em;
$cds-token-typography-p6-line-height: 1.090909em;
$cds-token-typography-p6-line-height-static: 1.090909em;
$cds-token-typography-p7-color: rgb(26, 26, 26);
$cds-token-typography-p7-color-static: rgb(26, 26, 26);
$cds-token-typography-p7-font-size: var(--cds_bk9bzanze, 0.55rem);
$cds-token-typography-p7-font-size-static: 0.55rem;
$cds-token-typography-p7-font-weight: 400;
$cds-token-typography-p7-font-weight-static: 400;
$cds-token-typography-p7-letter-spacing: 0.018182em;
$cds-token-typography-p7-letter-spacing-static: 0.018182em;
$cds-token-typography-p7-line-height: 1.090909em;
$cds-token-typography-p7-line-height-static: 1.090909em;
$cds-token-typography-p8-color: rgb(0, 0, 0);
$cds-token-typography-p8-color-static: rgb(0, 0, 0);
$cds-token-typography-p8-font-size: var(--cds_9dhvmt3yf, 0.5rem);
$cds-token-typography-p8-font-size-static: 0.5rem;
$cds-token-typography-p8-font-weight: 400;
$cds-token-typography-p8-font-weight-static: 400;
$cds-token-typography-p8-letter-spacing: 0.02em;
$cds-token-typography-p8-letter-spacing-static: 0.02em;
$cds-token-typography-p8-line-height: 1.2em;
$cds-token-typography-p8-line-height-static: 1.2em;
$cds-token-typography-secondary-color: var(--cds-token-typography-secondary-color, rgb(26, 26, 26));
$cds-token-typography-secondary-color-static: rgb(26, 26, 26);
$cds-token-typography-secondary-font-size: var(--cds-token-typography-secondary-font-size, 0.65rem);
$cds-token-typography-secondary-font-size-static: 0.65rem;
$cds-token-typography-secondary-font-weight: var(--cds-token-typography-secondary-font-weight, 400);
$cds-token-typography-secondary-font-weight-static: 400;
$cds-token-typography-secondary-letter-spacing: var(--cds-token-typography-secondary-letter-spacing, -0.007692em);
$cds-token-typography-secondary-letter-spacing-static: -0.007692em;
$cds-token-typography-secondary-line-height: var(--cds-token-typography-secondary-line-height, 1.23077em);
$cds-token-typography-secondary-line-height-static: 1.23077em;
$cds-token-typography-section-color: var(--cds-token-typography-section-color, rgb(51, 51, 51));
$cds-token-typography-section-color-static: rgb(51, 51, 51);
$cds-token-typography-section-font-size: var(--cds-token-typography-section-font-size, 1rem);
$cds-token-typography-section-font-size-static: 1rem;
$cds-token-typography-section-font-weight: var(--cds-token-typography-section-font-weight, 500);
$cds-token-typography-section-font-weight-static: 500;
$cds-token-typography-section-letter-spacing: var(--cds-token-typography-section-letter-spacing, -0.01em);
$cds-token-typography-section-letter-spacing-static: -0.01em;
$cds-token-typography-section-line-height: var(--cds-token-typography-section-line-height, 1.2em);
$cds-token-typography-section-line-height-static: 1.2em;
$cds-token-typography-smallcaption-color: var(--cds-token-typography-smallcaption-color, rgb(0, 0, 0));
$cds-token-typography-smallcaption-color-static: rgb(0, 0, 0);
$cds-token-typography-smallcaption-font-size: var(--cds-token-typography-smallcaption-font-size, 0.5rem);
$cds-token-typography-smallcaption-font-size-static: 0.5rem;
$cds-token-typography-smallcaption-font-weight: var(--cds-token-typography-smallcaption-font-weight, 500);
$cds-token-typography-smallcaption-font-weight-static: 500;
$cds-token-typography-smallcaption-letter-spacing: var(--cds-token-typography-smallcaption-letter-spacing, 0.05em);
$cds-token-typography-smallcaption-letter-spacing-static: 0.05em;
$cds-token-typography-smallcaption-line-height: var(--cds-token-typography-smallcaption-line-height, 1.2em);
$cds-token-typography-smallcaption-line-height-static: 1.2em;
$cds-token-typography-subsection-color: var(--cds-token-typography-subsection-color, rgb(51, 51, 51));
$cds-token-typography-subsection-color-static: rgb(51, 51, 51);
$cds-token-typography-subsection-font-size: var(--cds-token-typography-subsection-font-size, 0.8rem);
$cds-token-typography-subsection-font-size-static: 0.8rem;
$cds-token-typography-subsection-font-weight: var(--cds-token-typography-subsection-font-weight, 500);
$cds-token-typography-subsection-font-weight-static: 500;
$cds-token-typography-subsection-letter-spacing: var(--cds-token-typography-subsection-letter-spacing, -0.0125em);
$cds-token-typography-subsection-letter-spacing-static: -0.0125em;
$cds-token-typography-subsection-line-height: var(--cds-token-typography-subsection-line-height, 1.25em);
$cds-token-typography-subsection-line-height-static: 1.25em;
$cds-token-typography-title-color: var(--cds-token-typography-title-color, rgb(51, 51, 51));
$cds-token-typography-title-color-static: rgb(51, 51, 51);
$cds-token-typography-title-font-size: var(--cds-token-typography-title-font-size, 1.2rem);
$cds-token-typography-title-font-size-static: 1.2rem;
$cds-token-typography-title-font-weight: var(--cds-token-typography-title-font-weight, 500);
$cds-token-typography-title-font-weight-static: 500;
$cds-token-typography-title-letter-spacing: var(--cds-token-typography-title-letter-spacing, -0.008333em);
$cds-token-typography-title-letter-spacing-static: -0.008333em;
$cds-token-typography-title-line-height: var(--cds-token-typography-title-line-height, 1.16667em);
$cds-token-typography-title-line-height-static: 1.16667em;
