:root {
  --cds-token-color-action-1000: hsl(198, 100%, 15%);
  --cds-token-color-action-100: hsl(198, 81%, 88%);
  --cds-token-color-action-200: hsl(198, 78%, 78%);
  --cds-token-color-action-300: hsl(198, 69%, 69%);
  --cds-token-color-action-400: hsl(198, 66%, 57%);
  --cds-token-color-action-500: hsl(198, 80%, 46%);
  --cds-token-color-action-50: hsl(198, 83%, 94%);
  --cds-token-color-action-600: hsl(198, 100%, 32%);
  --cds-token-color-action-700: hsl(198, 100%, 28%);
  --cds-token-color-action-800: hsl(198, 100%, 24%);
  --cds-token-color-action-900: hsl(198, 100%, 21%);
  --cds-token-color-danger-1000: hsl(9, 100%, 20%);
  --cds-token-color-danger-100: hsl(9, 95%, 92%);
  --cds-token-color-danger-200: hsl(9, 91%, 86%);
  --cds-token-color-danger-300: hsl(9, 83%, 76%);
  --cds-token-color-danger-400: hsl(9, 85%, 67%);
  --cds-token-color-danger-500: hsl(9, 88%, 61%);
  --cds-token-color-danger-50: hsl(9, 100%, 97%);
  --cds-token-color-danger-600: hsl(9, 92%, 50%);
  --cds-token-color-danger-700: hsl(9, 100%, 43%);
  --cds-token-color-danger-800: hsl(9, 100%, 38%);
  --cds-token-color-danger-900: hsl(9, 100%, 30%);
  --cds-token-color-neutral-0: hsl(198, 0%, 100%);
  --cds-token-color-neutral-1000: hsl(198, 0%, 0%);
  --cds-token-color-neutral-100: hsl(198, 0%, 95%);
  --cds-token-color-neutral-200: hsl(198, 0%, 91%);
  --cds-token-color-neutral-300: hsl(198, 0%, 87%);
  --cds-token-color-neutral-400: hsl(198, 0%, 80%);
  --cds-token-color-neutral-500: hsl(198, 0%, 70%);
  --cds-token-color-neutral-50: hsl(198, 0%, 98%);
  --cds-token-color-neutral-600: hsl(198, 0%, 55%);
  --cds-token-color-neutral-700: hsl(198, 0%, 40%);
  --cds-token-color-neutral-800: hsl(198, 0%, 27%);
  --cds-token-color-neutral-900: hsl(198, 0%, 20%);
  --cds-token-color-secondary-action-1000: hsl(282, 100%, 14%);
  --cds-token-color-secondary-action-100: hsl(282, 59%, 87%);
  --cds-token-color-secondary-action-200: hsl(282, 51%, 78%);
  --cds-token-color-secondary-action-300: hsl(282, 45%, 70%);
  --cds-token-color-secondary-action-400: hsl(282, 44%, 62%);
  --cds-token-color-secondary-action-500: hsl(282, 43%, 54%);
  --cds-token-color-secondary-action-50: hsl(282, 100%, 95%);
  --cds-token-color-secondary-action-600: hsl(282, 50%, 45%);
  --cds-token-color-secondary-action-700: hsl(282, 69%, 37%);
  --cds-token-color-secondary-action-800: hsl(282, 100%, 29%);
  --cds-token-color-secondary-action-900: hsl(282, 100%, 22%);
  --cds-token-color-success-1000: hsl(93, 100%, 13%);
  --cds-token-color-success-100: hsl(93, 58%, 75%);
  --cds-token-color-success-200: hsl(93, 76%, 49%);
  --cds-token-color-success-300: hsl(93, 77%, 44%);
  --cds-token-color-success-400: hsl(93, 79%, 40%);
  --cds-token-color-success-500: hsl(93, 67%, 38%);
  --cds-token-color-success-50: hsl(93, 52%, 88%);
  --cds-token-color-success-600: hsl(93, 85%, 32%);
  --cds-token-color-success-700: hsl(93, 100%, 26%);
  --cds-token-color-success-800: hsl(93, 100%, 21%);
  --cds-token-color-success-900: hsl(93, 100%, 16%);
  --cds-token-color-warning-1000: hsl(31, 100%, 19%);
  --cds-token-color-warning-100: hsl(48, 100%, 89%);
  --cds-token-color-warning-200: hsl(48, 100%, 83%);
  --cds-token-color-warning-300: hsl(48, 98%, 72%);
  --cds-token-color-warning-400: hsl(48, 94%, 57%);
  --cds-token-color-warning-500: hsl(48, 95%, 48%);
  --cds-token-color-warning-50: hsl(48, 100%, 95%);
  --cds-token-color-warning-600: hsl(46, 100%, 45%);
  --cds-token-color-warning-700: hsl(43, 100%, 42%);
  --cds-token-color-warning-800: hsl(41, 100%, 34%);
  --cds-token-color-warning-900: hsl(38, 100%, 28%);
  --cds-token-global-base-font-size: 125%;
  --cds-token-global-border-radius: 0.15rem;
  --cds-token-global-border-width: 0.05rem;
  --cds-token-global-focus-color: hsl(197, 68%, 65%);
  --cds-token-global-font-ascender-height: 0.1703em;
  --cds-token-global-font-top-gap-height: 0.1475em;
  --cds-token-global-font-x-height: 0.517em;
  --cds-token-layout-space-lg: 2.4rem;
  --cds-token-layout-space-md: 1.2rem;
  --cds-token-layout-space-sm: 0.6rem;
  --cds-token-layout-space-xl: 4.8rem;
  --cds-token-layout-space-xs: 0.3rem;
  --cds-token-layout-width-lg: 1200px;
  --cds-token-layout-width-md: 992px;
  --cds-token-layout-width-sm: 768px;
  --cds-token-layout-width-xl: 1440px;
  --cds-token-layout-width-xs: 576px;
  --cds-token-space-size-0: 0rem;
  --cds-token-space-size-10: 1.6rem;
  --cds-token-space-size-11: 1.8rem;
  --cds-token-space-size-12: 2.4rem;
  --cds-token-space-size-13: 3.6rem;
  --cds-token-space-size-1: 0.05rem;
  --cds-token-space-size-2: 0.1rem;
  --cds-token-space-size-3: 0.2rem;
  --cds-token-space-size-4: 0.3rem;
  --cds-token-space-size-5: 0.4rem;
  --cds-token-space-size-6: 0.6rem;
  --cds-token-space-size-7: 0.8rem;
  --cds-token-space-size-8: 0.9rem;
  --cds-token-space-size-9: 1.2rem;
  --cds-token-typography-body-color: rgb(26, 26, 26);
  --cds-token-typography-body-font-size: 0.7rem;
  --cds-token-typography-body-font-weight: 400;
  --cds-token-typography-body-letter-spacing: -0.014286em;
  --cds-token-typography-body-line-height: 1.42857em;
  --cds-token-typography-caption-color: rgb(0, 0, 0);
  --cds-token-typography-caption-font-size: 0.55rem;
  --cds-token-typography-caption-font-weight: 400;
  --cds-token-typography-caption-letter-spacing: 0.018182em;
  --cds-token-typography-caption-line-height: 1.454545em;
  --cds-token-typography-display-color: rgb(51, 51, 51);
  --cds-token-typography-display-font-size: 2rem;
  --cds-token-typography-display-font-weight: 500;
  --cds-token-typography-display-letter-spacing: -0.0125em;
  --cds-token-typography-display-line-height: 1.1em;
  --cds-token-typography-font-family: 'Clarity City', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  --cds-token-typography-font-weight-bold: 600;
  --cds-token-typography-font-weight-extrabold: 600;
  --cds-token-typography-font-weight-light: 200;
  --cds-token-typography-font-weight-medium: 500;
  --cds-token-typography-font-weight-regular: 400;
  --cds-token-typography-font-weight-semibold: 500;
  --cds-token-typography-header-font-family: 'Clarity City', 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  --cds-token-typography-heading-color: rgb(51, 51, 51);
  --cds-token-typography-heading-font-size: 1.6rem;
  --cds-token-typography-heading-font-weight: 500;
  --cds-token-typography-heading-letter-spacing: -0.0125em;
  --cds-token-typography-heading-line-height: 1.125em;
  --cds-token-typography-message-color: rgb(51, 51, 51);
  --cds-token-typography-message-font-size: 0.8rem;
  --cds-token-typography-message-font-weight: 400;
  --cds-token-typography-message-letter-spacing: -0.0125em;
  --cds-token-typography-message-line-height: 1.25em;
  --cds-token-typography-secondary-color: rgb(26, 26, 26);
  --cds-token-typography-secondary-font-size: 0.65rem;
  --cds-token-typography-secondary-font-weight: 400;
  --cds-token-typography-secondary-letter-spacing: -0.007692em;
  --cds-token-typography-secondary-line-height: 1.23077em;
  --cds-token-typography-section-color: rgb(51, 51, 51);
  --cds-token-typography-section-font-size: 1rem;
  --cds-token-typography-section-font-weight: 500;
  --cds-token-typography-section-letter-spacing: -0.01em;
  --cds-token-typography-section-line-height: 1.2em;
  --cds-token-typography-smallcaption-color: rgb(0, 0, 0);
  --cds-token-typography-smallcaption-font-size: 0.5rem;
  --cds-token-typography-smallcaption-font-weight: 500;
  --cds-token-typography-smallcaption-letter-spacing: 0.05em;
  --cds-token-typography-smallcaption-line-height: 1.2em;
  --cds-token-typography-subsection-color: rgb(51, 51, 51);
  --cds-token-typography-subsection-font-size: 0.8rem;
  --cds-token-typography-subsection-font-weight: 500;
  --cds-token-typography-subsection-letter-spacing: -0.0125em;
  --cds-token-typography-subsection-line-height: 1.25em;
  --cds-token-typography-title-color: rgb(51, 51, 51);
  --cds-token-typography-title-font-size: 1.2rem;
  --cds-token-typography-title-font-weight: 500;
  --cds-token-typography-title-letter-spacing: -0.008333em;
  --cds-token-typography-title-line-height: 1.16667em;
}

[cds-base-font='16'] {
  --cds-token-global-base-font-size: 100%;
  --cds-token-global-border-radius: 0.1875rem;
  --cds-token-global-border-width: 0.0625rem;
  --cds-token-layout-space-lg: 3rem;
  --cds-token-layout-space-md: 1.5rem;
  --cds-token-layout-space-sm: 0.75rem;
  --cds-token-layout-space-xl: 6rem;
  --cds-token-layout-space-xs: 0.375rem;
  --cds-token-space-size-0: 0rem;
  --cds-token-space-size-10: 2rem;
  --cds-token-space-size-11: 2.25rem;
  --cds-token-space-size-12: 3rem;
  --cds-token-space-size-13: 4.5rem;
  --cds-token-space-size-1: 0.0625rem;
  --cds-token-space-size-2: 0.125rem;
  --cds-token-space-size-3: 0.25rem;
  --cds-token-space-size-4: 0.375rem;
  --cds-token-space-size-5: 0.5rem;
  --cds-token-space-size-6: 0.75rem;
  --cds-token-space-size-7: 1rem;
  --cds-token-space-size-8: 1.125rem;
  --cds-token-space-size-9: 1.5rem;
  --cds-token-typography-body-font-size: 0.875rem;
  --cds-token-typography-caption-font-size: 0.6875rem;
  --cds-token-typography-display-font-size: 2.5rem;
  --cds-token-typography-heading-font-size: 2rem;
  --cds-token-typography-message-font-size: 1rem;
  --cds-token-typography-secondary-font-size: 0.8125rem;
  --cds-token-typography-section-font-size: 1.25rem;
  --cds-token-typography-smallcaption-font-size: 0.625rem;
  --cds-token-typography-subsection-font-size: 1rem;
  --cds-token-typography-title-font-size: 1.5rem;
  --cds_3dfwtxmew: 1.25rem;
  --cds_5ue9u4v5q: 2rem;
  --cds_9dhvmt3yf: 0.625rem;
  --cds_a1x7juh9o: 1.5rem;
  --cds_amuh3b9qb: 0.875rem;
  --cds_bk9bzanze: 0.6875rem;
  --cds_ejesktiwl: 0.75rem;
  --cds_ga49efq22: 0.8125rem;
  --cds_j16dq4d1c: 2.5rem;
  --cds_s82fei3h7: 1rem;
}
