.clrweb-error-block {
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
}

.clrweb-error-block .logo-block img {
    width: 100%;
    max-width: 380px;
    text-align: center;
    height: 286px;
    opacity: 0.28;
}

.clrweb-error-block p.error-code {
    font-size: 60px;
    font-weight: 200;
    line-height: 1em;
    opacity: 0.5;
    margin-top: 0;
}