.layout-community {
    overflow-y: hidden;

    .main-container {
        overflow-y: hidden;
    }

    section {
        width: 100%;
        padding-left: baselineRem(1);
        padding-right: baselineRem(1);
        max-width: baselineRem(44);
        margin: 0 auto;
        padding-top: baselineRem(1);

        h3 {
            margin-bottom: baselineRem(1);
        }
    }

    section.community-top-section {
        padding-top: 0;
    }

    .social-card {
        color: #565656;
        text-align: center;

        &:hover, &:focus, &:active {
            text-decoration: none;
        }

        & > .card {
            width: 252px;
            margin: 0 auto;
            height: 192px;
            padding: 0 baselineRem(1);
        }

        .card-text {
            font-size: rem(1);
        }
    }

    .community-social-icon {
        margin-bottom: 33px;
        margin-top: 8px;

        & > img {
            height: 64px;
        }
    }

    .social-card-socialcast .community-social-icon {
        // Images from design are not properly sized. Tweaks needed to happen. -- smathis 2016/04/21
        padding-top: 1.3px;
    }

    .community-team-cards {
        .row {
            margin-left: -24px;
            margin-right: -24px;
        }

        .card {
            margin: 0;
            background: none;
            border: 0 none;
            box-shadow: none;
            text-align: center;
            padding: 0 24px;

            .card-text {
                margin: 0 0 12px;
            }
        }
    }

    .community-team-name {
        margin-top: baselineRem(0.5);
    }

    .community-team-role {
        margin-top: 0;
        font-size: 14px;
    }

    .community-team-blurb {
        margin-top: baselineRem(0.5);
        text-align: left;
    }
}
