.main-container, .home-hero {
    & > header {
        // background-image: url(../images/splashBg.png);
        //background-color: #002538 !important; // clarity is not letting me override this style!
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;

        .branding > a {
            height: 60px;
        }

        a {
            color: #fafafa;

            &:hover, &:active {
                color: #fff;
                text-decoration: none;
            }

            &:visited {
                color: #fafafa;
                text-decoration: none;
            }
        }
    }
}

.home-hero > header {
    background: none !important;

    & > .header-nav > .nav-link {
        &:first-child::before,
        &:last-child::after {
            content: none;
        }
    }
}

.sliding-nav-toggle, .phablet-title {
    display: none;
}

.sliding-nav-wrapper, .sliding-sidenav-wrapper {
    will-change: margin;
    transition: margin 0.22s ease-out;

    display: none;
    margin-left: -100%;
    height: 100vh;
    width: 35%;
    min-width: baselineRem(10);
    padding: 0;
    padding-right: baselineRem(2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1032;
    overflow: hidden;

    h5 {
        color: #565656;
        font-size: 14px;
        padding-left: 24px;
        margin-top: 48px;

        &.furst, &.changelog-hdr {
            margin-top: 24px;
        }
    }
}

.sliding-sidenav-wrapper {
    width: 50%;
    min-width: 320px;
    max-width: 400px;

    h5 {
        font-weight: 600;
        text-transform: uppercase;

        &.first {
            margin-top: 20px;
        }
    }
}

a.close-toggle {
    display: block;
    position: absolute;
    right: baselineRem(0.75);
    top: 20px;
    font-size: 36px;
    color: #f0f0f0;

    &:hover, &:focus {
        text-decoration: none;
        color: #fff;
    }
}

.sliding-sidenav-wrapper {
    margin-left: auto;
    margin-right: -100%;
    left: auto;
    right: 0;
    padding-left: baselineRem(2);
    padding-right: 0;

    a.close-toggle {
        left: 0;
        right: auto;
    }
}

.sliding-nav-backdrop {
    will-change: visibility;
    transition: visibility 0.3s linear;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.74);
    z-index: 1031;
    display: none;
    visibility: hidden;
}

.sliding-nav {
    background: #fafafa;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;

    .sliding-nav-logo > .logo-img {
        background-image: url("../images/clarity_logo.svg");
        height: 36px;
        width: 36px;
        display: inline-block;
        margin: 12px 0 0 12px;
    }

    ul.slider-nav {
        margin: 0;
        padding: 0;
        display: block;
        border: 0 none;
        box-shadow: none;
        color: #fff;
        list-style-type: none;

        li {
            margin: 0;
            padding: 0;
        }

        a.nav-link {
            will-change: color background-color;
            transition: all 0.16s linear;
            color: #565656;
            font-weight: 200;
            letter-spacing: 0.04em;
            display: block;
            width: 100%;
            padding: 0 baselineRem(0.5);
            display: block;
            margin: baselineRem(0.75) 0 baselineRem(0.75) baselineRem(0.5);
            border-radius: 3px 0 0 3px;

            &.nav-link-header {
                font-weight: 600;

                &:last-child {
                    margin-top: baselineRem(1.5);
                }
            }

            &:hover {
                color: #000;
                text-decoration: none;
                background-color: #eee;
            }

            &.active {
                background: #D9E4EA;

                &:hover, &:active, &:focus {
                    background: #D9E4EA;
                }
            }

            & > .nav-link-tag {
                vertical-align: middle;
            }
        }
    }
}

body.show-leftnav {
    .sliding-nav-wrapper {
        margin-left: 0;
    }

    .sliding-nav-backdrop {
        display: block;
        visibility: visible;
    }
}

body.show-sidebar {
    .sliding-nav-wrapper {
        margin-left: -100%;
    }

    .sliding-sidenav-wrapper {
        margin-right: 0;
    }

    .sliding-nav-backdrop {
        display: block;
        visibility: visible;
    }
}

.phablet-title {
    width: 100%;
    padding: 0 baselineRem(3) 0 baselineRem(2.5);
    text-align: center;
    line-height: baselineRem(2.5);
}

header .branding > a.sliding-nav-toggle {
    font-size: 24px;
    display: none;
}

@media (max-width: 1116px) {
    .main-container, .home-hero {
        & > header .branding, & > .header .branding {
            width: auto;
            max-width: none;
            min-width: 0;
            padding-right: baselineRem(1);
        }
    }

    .branding .title {
        display: none;
    }
}

@media (min-width: 992px) {
    .sliding-nav-backdrop {
        display: none !important;
        visibility: hidden !important;
    }
}

@media (max-width: 991px) {
    .sliding-nav-wrapper {
        display: block;
    }

    .main-container, .home-hero {
        & > header {
            .branding {
                a.logo-and-title {
                    display: none;
                }

                & > a.sliding-nav-toggle {
                    display: block;
                    width: 36px;
                    background: url(../images/home/menu.svg) 50% 50% no-repeat;
                    position: absolute;
                    top: -1px;
                    left: 18px;
                }
            }

            .settings {
                & > a.sliding-sidenav-toggle {
                    display: block;
                    width: 36px;
                    background: url(../images/home/slider.svg) 50% 50% no-repeat;
                    position: absolute;
                    top: 18px;
                    right: 8px;
                    height: 24px;
                }
            }
        }
    }

    .home-hero {
        & > header {
            .branding > a.sliding-nav-toggle {
                position: relative;
                margin-top: -2px;
                margin-left: 12px;
                top: auto;
                left: auto;
            }
        }
    }

    .phablet-title {
        display: block;
    }

    .main-container, .home-hero {
        & > header {
            div.header-nav, .divider, .header-nav {
                // funkiness of the homepage navbar makes this the path of least resistance
                display: none !important;
            }
        }
    }

    .main-container, .home-hero {
        & > header, & > .header {
            padding: 0 baselineRem(1);

            .branding {
                padding-left: 0;
            }
        }
    }
}
