$bl-3_0: baselineRem(3);

.github-btn {
    margin-top: $bl-1_0 - 4;
}

@media screen and (max-width: map-get($clr-breakpoints, medium)) {
    .github-btn {
        display: none;
    }

    .header-dox {
        .header-nav {
            display: none;
        }
    }
}

.header-dox {
    header { // Overrides to match the comps
        clr-icon {
            &:not([shape^=caret]) {
                width: 22px;
                height: 22px;
            }
            &[shape^=caret] {
                width: 12px;
                height: 12px;
            }
        }

        .branding {
            clr-icon {
                width: 36px;
                height: 36px;
            }
        }
    }

    .header-nav { // Overrides to match the comps
        a:first-of-type {
            &:before {
                position: absolute;
                left: 1px;
                content: "";
                display: inline-block;
                background: #fafafa;
                opacity: .15;
                height: 40px;
                width: 1px;
                top: 10px;
            }
        }

    }
    .header-actions { // Overrides to match the comps
        button {
            background-color: inherit;
            border: none;
            color: #9a9a9a;
            position: relative;

            &:nth-last-of-type(2) {
                &:after {
                    position: absolute;
                    right: 0px;
                    content: "";
                    display: inline-block;
                    background: #fafafa;
                    opacity: .15;
                    height: 40px;
                    width: 1px;
                    top: 10px;
                }
            }
        }

    }

    // Image positioning in the right column.
    &__media-container {
        padding-top: $bl-3_0;
    }

}

#home-link {
    display: none;

    .open-hamburger-menu & {
        display: inline-block;
    }
}

// Container style for comps
.header-demo {
    padding: 24px 48px;
    margin: 24px 15px -12px;
    background-color: #eeeeee;

    header {
        a {
            &:hover {
                color: inherit;
            }
        }
    }
}

@media screen and (max-width: map-get($clr-breakpoints, medium)) {
    // Override for the comp demos
    .header-demo {
        padding: 12px 24px;
        .branding {
            padding: 0 12px;
            min-width: 100px;
        }
    }
    // Override for the sub-nav demo
    .subnav {
        .nav {
            .nav-item {
                &:nth-child(4) { // Removing this so it fits inside for demo purposes on mobile.
                    display: none;
                }
            }
        }
    }

    .header-actions {
        &--overflow {
            width: 165px;
            overflow: hidden;
            font-size: 11px;
        }
    }
}

.col-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
