@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --border-color: #{$cds-alias-object-container-border-color};
  --border-width: #{$cds-alias-object-border-width-100};
  --border-radius: #{$cds-alias-object-border-radius-100};
  --background: #{$cds-alias-object-overlay-background};
  --box-shadow: #{$cds-alias-object-shadow-100};
  --width: calc(8 * #{$cds-global-space-13});
}

:host([size='sm']) {
  --width: calc(4 * #{$cds-global-space-13});
}

:host([size='lg']) {
  --width: calc(12 * #{$cds-global-space-13});
}

:host([size='xl']) {
  --width: calc(16 * #{$cds-global-space-13});
}

:host([__demo-mode]) {
  position: absolute;
}

.modal-dialog {
  width: var(--width);
  max-width: 100%;
}

.modal-content {
  background: var(--background);
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.overlay-backdrop {
  background: var(--backdrop-background);
}

.modal-body {
  // This doesn't do much, but at least with several paragraphs in the content
  // it doesn't mess up the modal's proportions.
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: $cds-global-layout-width-sm) and (orientation: landscape) {
  .modal-body {
    max-height: 55vh;
  }
}

@media screen and (max-width: $cds-global-layout-width-xs) {
  .modal-body {
    max-height: 55vh;
  }
}
