<button
    type="button"
    class="clr-treenode-caret"
    (click)="toggleExpand()"
    *ngIf="nodeExpand.expandable && !nodeExpand.loading">
    <clr-icon
        shape="caret"
        [attr.dir]="caretDirection"></clr-icon>
</button>
<span class="clr-treenode-spinner spinner" *ngIf="nodeExpand.expandable && nodeExpand.loading">
    Loading...
</span>
<clr-checkbox
    *ngIf="selectable"
    [(ngModel)]="selected"
    [(clrIndeterminate)]="indeterminate"></clr-checkbox>
<div class="clr-treenode-content">
    <ng-content></ng-content>
</div>
<!-- FIXME: remove this string concatenation when boolean states are supported -->
<div
    class="clr-treenode-children"
    [@childNodesState]="state">
    <ng-content select="clr-tree-node"></ng-content>
    <ng-content select="[clrIfExpanded]"></ng-content>
</div>
