.datagrid-demo-pagination {
    display: flex;
    justify-content: space-between;
}

.demo-pagination-next {
    margin-left: auto;
}

.demo-list {
    column-count: 3;
    list-style-position: inside;
}