@import '../../../styles/clarity-imports';

h2 {
    padding: 0 $clr_baselineRem_0_5;
    margin-top: 0;
    &.deactivated {
        color: #999;
    }
}

.clr-icon-collection {
    padding: $clr_baselineRem_1 0;
    .clr-icon-item {
        padding: 0 $clr_baselineRem_0_5;
        clr-icon {
            margin: 0 $clr_baselineRem_0_5;
            transform: translate3d(0, 0, 0);
        }
        span.icon-shape-name {
            white-space: nowrap;
        }
    }
}

.icon-detail {
    position: relative;
    height: 264px;
    overflow: hidden;
    will-change: height;
    transform: translateZ(-1);
    &:before {
        content: "";
        position: absolute;
        top: 1px;
        left: 13px;
        width: calc(100% - 26px);
        height: 24px;
        display: block;
        background-color: #fff;
        z-index: 3;
        transform: translateZ(0);
    }
}

.visible-icon {
    position: relative;
    top: 3px;
    width: 100%;
    height: 100%;
    display: flex;
    text-align: left;
    padding: $clr_baselineRem_0_75 $clr_baselineRem_0_25;
    background-color: transparent;
    border: 1px solid rgba(215, 215, 215, 0);
    transform: translateZ(0);
    color: $clr-dark-gray;
    cursor: pointer;
    z-index: 1;

    &.active {
        border-top-left-radius: $clr-default-borderradius;
        border-top-right-radius: $clr-default-borderradius;
        border-color: rgba(215, 215, 215, 1);
        border-style: solid;
        border-width: 1px;
        border-bottom-width: 0;
        border-bottom-color: transparent;
        background-color: #fff;
        outline: 0 none;
    }

    &:hover {
        color: $clr-action-blue;
    }

    .icon-shape {
        flex: 0 0 auto;
    }

    .icon-shape-name {
        flex: 1 1 auto;
        margin-right: $clr_baselineRem_0_5;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
    }

}

.no-results-found {
    padding: $clr_baselineRem_0_75 $clr_baselineRem_0_5;
}

.download-set {
    margin-left: auto;
    margin-top: 12px;
}