@import './../styles/mixins/utils';
@import './alert.element';

:host {
  border: none;
  border-radius: 0;
  overflow-y: auto;
  --background: var(--clr-color-action-600, #{$clr-color-action-600});
  --color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --icon-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --close-icon-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  --close-icon-color-hover: var(--clr-color-neutral-0, #{$clr-color-neutral-0});

  .alert-wrapper {
    // line-height of 24px on .alert-item inside app-level-alert
    // blows out the sizing, so we need vert-padding to be 6px, not 8px
    $appLevelAlertVertPadding: $clr_baselineRem_0_25;
    padding-top: $appLevelAlertVertPadding;
    padding-bottom: $appLevelAlertVertPadding;
  }

  .alert-icon {
    $alert-icon-dim: $clr_baselineRem_1;
    @include equilateral($alert-icon-dim);
    margin-left: -1 * $clr_baselineRem_0_125;
    margin-top: -1 * $clr_baselineRem_4px;
    --color: var(--icon-color);
  }

  .alert-item {
    justify-content: center;
    align-items: center;
    min-height: $clr_baselineRem_1;
  }

  .alert-item > span,
  .alert-text,
  ::slotted(cds-alert-content) {
    flex: 0 1 auto;
  }

  .alert-icon-wrapper {
    margin-top: $clr_baselineRem_0_125;
  }

  button.close {
    cds-icon {
      margin-top: -1 * $clr_baselineRem_5px;
    }
  }

  &:host([status='info']) {
    --background: var(--clr-color-action-600, #{$clr-color-action-600});
    --icon-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  }

  &:host([status='warning']) {
    --background: hsl(26, 100%, 38%);
    --icon-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  }

  &:host([status='danger']) {
    --background: var(--clr-color-danger-800, #{$clr-color-danger-800});
    --icon-color: var(--clr-color-neutral-0, #{$clr-color-neutral-0});
  }
}
