@mixin clarityWebBoxShadow {
  box-shadow: 0 3px 0 0 hsl(0, 0%, 84%);
}

@mixin clarityHeaderBackground {
  background-color: hsl(200, 100%, 11%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
