.spacious {
  margin-top: $bl-2_0;
}

.cozy {
  margin-top: $bl-1_5;
}

.cozy-sm {
  margin-top: $bl-0_5;
}

p.cozy + p {
  margin-top: 4px;
}

p.squish {
  margin-top: 0;
}

ol.indent {
  padding-left: $bl-2_0;
  margin-top: $bl-1_0;
  & li {
    padding-bottom: $bl-0_5;
  }
}

h6.indent + p.indent {
  margin-top: 0;
}

.fully-wide {
  padding: $bl-2_0 0;
  text-align: center;
}

%killListStyles {
  margin: 0;
  list-style: none;
  padding: 0;
}

.list-unstyled {
  @extend %killListStyles;
  & > li {
    @extend %killListStyles;
  }
}

.layout-default {
  .main-container {
    display: block;
    height: auto;
    min-height: 100vh;
  }
}

.sidenav,
.slider-nav {
  .nav-group label {
    font-weight: bold;
    display: block;
    width: 100%;
  }
  .nav-group label > a {
    color: inherit;
    text-decoration: none;
    padding-left: $bl-0_5;
    &:hover,
    &:active,
    &:focus {
      color: inherit;
      text-decoration: none;
      background: hsl(0, 0%, 93%);
    }
    &.active {
      background: hsl(201, 29%, 88%);
      &:hover,
      &:active,
      &:focus {
        background: hsl(201, 29%, 88%);
      }
    }
  }
  a.nav-link {
    & > .nav-link-tag {
      color: hsl(0, 0%, 19%);
      display: inline-block;
      padding-left: 8px;
      font-size: 10px;
      font-weight: 400;
      vertical-align: top;
      letter-spacing: 0.02em;
      &.new {
        color: hsl(282, 100%, 35%);
      }
      &.updated {
        color: hsl(198, 100%, 41%);
      }
    }
  }
}

.slider-nav .nav-group label > a {
  display: block;
  width: auto;
  margin-left: -1 * $bl-0_5;
  margin-right: -1 * $bl-0_5;
  border-radius: 3px 0 0 3px;
}

.valign {
  display: table;
  & > * {
    display: table-cell;
    vertical-align: middle;
  }
}

//Overriding PrismJS styles. This is in code.scss and not in code.clarity.scss because
//we don't want to override the background in case someone chooses to use
//another PrismJS theme.
:not(pre) > code[class*='language-'],
pre[class*='language-'],
pre,
code[class*='language-'] {
  background: transparent;
}

@media (max-width: 991px) {
  .layout-components {
    .content-area > section {
      width: 100%;
      padding-left: 0;
    }
  }
}

a.btn-primary {
  color: hsl(0, 0%, 98%);
  &:hover,
  &:active,
  &:visited,
  &:focus {
    color: hsl(0, 0%, 100%);
  }
}

@media (min-width: 577px) {
  ul#content_tabs {
    .nav .nav-item {
      margin-right: $bl-0_25;
    }
  }
}

//Center items in a grid
//TODO: Remove this when the flex grid supports center and vertical alignment
//Used in app-layout.md
.center-demo-grid-item {
  align-self: center;
  text-align: center;
}

:not(.layout-home) {
  .content-area section:first-of-type h1 {
    margin-top: -1 * $bl-0_25;
  }
}

.sidenav .sidenav-content {
  margin-bottom: 0;
  padding-bottom: $bl-1_0;
}

.header .branding .clarity-logo {
  background-image: url(../assets/images/clarity-logo.svg);
  margin-right: $bl-0_5 - 1;
  min-width: none;
  height: 36px;
  width: 36px;
}

.layout-documentation .sidenav {
  max-width: 11.33rem;
}

@media (min-width: 769px) {
  .layout-documentation .header .branding {
    width: 18%;
    max-width: 11.33rem;
  }
}

@media (max-width: 769px) {
  html {
    -webkit-overflow-scrolling: touch;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {
  // landscape iPad
  html {
    -webkit-overflow-scrolling: touch;
  }
}

.layout-documentation,
.layout-news {
  .main-container .content-container .content-area {
    padding-left: $bl-1_5;
    padding-top: $bl-0_75;
  }
}

// custom whitespace changes for website
.layout-documentation,
.layout-news {
  h2,
  h3 {
    margin-top: 120px;
  }
  h2 + h3 {
    margin-top: $bl-1_5;
  }
  h5 {
    color: hsl(0, 0%, 0%);
    margin-top: 72px;
  }
  h4 {
    margin-top: 72px;
  }
  h6 {
    margin-top: 48px;
  }
  h5 + h6 {
    margin-top: 36px;
  }
  h3 + h5,
  h2 + h5,
  h3 + h4,
  h1 + h5 {
    margin-top: $bl-1_0;
  }
  h6 + p {
    margin-top: $bl-0_25;
  }
  pre {
    // TODO: move this into the background style of the code-highlight
    // component...
    background: hsl(0, 0%, 100%) !important;
  }
}
.btn.no-margin {
  padding: 0;
  margin: 0;
  width: auto;
  min-width: auto;
}

.margin-top-24 {
  margin-top: 24px;
}

.margin-right-0_25 {
  // Fix for badges demo in tree-view
  margin-right: 0.25rem;
}

// Global Pages
.layout-home {
  .main-container {
    height: auto;

    .content-area {
      overflow-x: hidden;
      padding: 0;
    }
  }
}

.layout-icons {
  .main-container {
    display: unset;
    transform: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    /*  translate3d is here for better performance.
            However, it affects the .headerbackdrop layer order
            so it should be set to none when the screen is small.   */

    transform: translate3d(0, 0, 0);
    z-index: map-get($clr-layers, sidepanel);
  }

  .main-container {
    &.open-hamburger-menu,
    &.open-overflow-menu {
      .header {
        transform: none;
      }
    }
  }
}
