.github-btn {
  margin-top: $clr_baselineRem_1 - $clr_baselineRem_4px;
}

@media screen and (max-width: map-get($clr-grid-breakpoints, md)) {
  .github-btn {
    display: none;
  }

  .header-dox {
    .header-nav {
      display: none;
    }
  }
}

.header-dox {
  // Image positioning in the right column.
  &__media-container {
    padding-top: $clr_baselineRem_3;
  }
}

#home-link {
  display: none;

  .open-hamburger-menu & {
    display: inline-block;
  }
}

// Container style for comps
.header-demo {
  padding: $clr_baselineRem_1 $clr_baselineRem_2;
  margin: $clr_baselineRem_1 $clr_baselineRem_0_625 (-1 * $clr_baselineRem_0_5);
  background-color: $clr-color-neutral-200;

  header {
    a {
      &:hover {
        color: inherit;
      }
    }
  }
}

@media screen and (max-width: map-get($clr-grid-breakpoints, md)) {
  // Override for the comp demos
  .header-demo {
    padding: $clr_baselineRem_0_5 $clr_baselineRem_1;
    .branding {
      padding: 0 $clr_baselineRem_0_5;
      min-width: $clr_baselineRem_100px;
    }
  }
  // Override for the sub-nav demo
  .subnav {
    .nav {
      .nav-item {
        &:nth-child(4) {
          // Removing this so it fits inside for demo purposes on mobile.
          display: none;
        }
      }
    }
  }

  .header-actions {
    &--overflow {
      width: $clr_baselineRem_165px;
      overflow: hidden;
      font-size: $clr_baselineRem_0_458;
    }
  }
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
