@import '../../../styles/clarity-imports';
@import '../icons-get-started/icons-get-started.component';

.clr-example {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin: 0;
    padding: $clr_baselineRem_0_5 0;
    // without specifying z-index; IE11 is acting goofy.
    z-index: 2;
    &.inverse {
        background: #414957;
        margin: 0 0 $clr_baselineRem_2;

    }
    clr-icon {
        width: 36px;
        height: 36px;
        margin: 0 $clr_baselineRem_0_25;
    }
}

.variant-options {
    line-height: 2.5em;
    padding: 12px 0 0;
}
.variant-table {
    td.left:first-child{
        width: 25%;
    }
}
