/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css'; // css reset
@import '~@cds/core/global.min'; // clarity global styles
@import '~@cds/core/styles/module.shims.min'; // non-evergreen browser shims
@import '~@cds/city/css/bundles/default.min'; // load base font

pre {
  padding: 0.5rem;
}

.docs-changer {
  margin-top: 12px;
}
.npm-reference {
  margin-left: 1rem;
}
