<clr-main-container>
    <clr-header>
        <div class="branding">
            <a href="#" class="nav-link">
                <span class="logo clr-icon clr-vmw-logo"></span>
                <span class="title">Clarity Demo</span>
            </a>
        </div>
        <div class="header-nav" [clr-nav-level]="1">
            <a class="active nav-link" href="javascript://"><span class="nav-text">Components</span></a>
            <a class="nav-link" href="javascript://"><span class="nav-text">Patterns</span></a>
        </div>
        <form class="search">
            <label for="search_input">
                <input id="search_input" type="text" placeholder="Search for Components...">
            </label>
        </form>
        <div class="header-actions">
            <div class="dropdown bottom-right open" ngNonBindable>
                <a href="javascript://" class="nav-link dropdown-toggle">
                    <span class="nav-icon fa fa-cog"></span>
                </a>
                <div class="dropdown-menu">
                    <a href="javascript://" class="dropdown-item">Preferences</a>
                    <a href="javascript://" class="dropdown-item">About</a>
                    <a href="javascript://" class="dropdown-item">Logout</a>
                </div>
            </div>
        </div>
    </clr-header>
    <div class="content-container">
        <main class="content-area">
            <router-outlet></router-outlet>
        </main>
        <nav class="sidenav" [clr-nav-level]="2">
            <section class="sidenav-content">
                <section class="nav-group collapsible">
                    <input id="tab1" type="checkbox">
                    <label for="tab1">Clarity Navigation</label>
                    <ul class="nav-list">
                        <li *ngFor="let route of routes">
                            <a *ngIf="route.path != ''" class="nav-link" [routerLink]="[route.path]"
                               [routerLinkActive]="['active']">{{route.path}}</a>
                        </li>
                    </ul>
                </section>
            </section>
        </nav>
    </div>
</clr-main-container>
