<!-- @TODO Refactor for a Core layout -->
<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <a
        cds-layout="horizontal gap:xs align:vertical-center"
        routerLink="/"
        class="nav-link logo-text"
        cds-text="subsection"
        >
          <img
            src="/assets/clarity-logo.svg"
            alt="Clarity Adoption Guide"
            cds-layout="display:none display@md:inline"
          />
          Clarity Adoption Guide
      </a>
    </div>
    <div class="header-actions">
      <a
        href="https://clarity.design/"
        class="docs-changer btn btn-outline btn-inverse"
      >
        Clarity Core Documentation
      </a>
      <a
        href="https://angular.clarity.design/"
        class="docs-changer btn btn-outline btn-inverse"
      >
        Clarity Angular Documentation
      </a>
    </div>
  </header>
  <div class="content-container">
    <clr-vertical-nav>

      <clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="true">
        <cds-icon clrVerticalNavIcon shape="help-info"></cds-icon>
        About This Guide
        <clr-vertical-nav-group-children>
          <a *ngFor="let route of getStartedRoutes" [routerLink]="route.path" routerLinkActive="active" clrVerticalNavLink>{{
            route.path | menuTitle
          }}</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <a
        clrVerticalNavLink
        routerLink="/adoption-tooling"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <cds-icon shape="wrench" clrVerticalNavIcon></cds-icon> Adoption tooling
      </a>

      <clr-vertical-nav-group routerLinkActive="active" [clrVerticalNavGroupExpanded]="true">
        <cds-icon clrVerticalNavIcon shape="cog"></cds-icon>
        Components
        <clr-vertical-nav-group-children>
          <a *ngFor="let route of componentRoutes" [routerLink]="route.path" routerLinkActive="active" clrVerticalNavLink>{{
            route.path | menuTitle
          }}</a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <cds-divider cds-layout="m-y:md"></cds-divider>

      <a class="npm-reference" href="https://www.npmjs.com/package/@clr/angular" target="_blank">
        <img
          alt="npm (@clr/angular)"
          src="https://img.shields.io/npm/v/@clr/angular/latest?label=%40clr%2Fangular&style=flat-square"
        />
      </a>

      <a class="npm-reference" href="https://www.npmjs.com/package/@cds/angular" target="_blank">
        <img
          alt="npm (@cds/angular)"
          src="https://img.shields.io/npm/v/@cds/angular/latest?label=%40cds%2Fangular&style=flat-square"
        />
      </a>

      <a class="npm-reference" href="https://www.npmjs.com/package/@clr/ui" target="_blank">
        <img
          alt="npm (@clr/ui)"
          src="https://img.shields.io/npm/v/@clr/ui/latest?label=%40clr%2Fui&style=flat-square"
        />
      </a>

      <a class="npm-reference" href="https://www.npmjs.com/package/@cds/core" target="_blank">
        <img
          alt="npm (@cds/core)"
          src="https://img.shields.io/npm/v/@cds/core/latest?label=%40cds%2Fcore&style=flat-square"
        />
      </a>

      <a class="npm-reference" href="https://www.npmjs.com/package/@clr/icons" target="_blank">
        <img
          alt="npm (@clr/icons)"
          src="https://img.shields.io/npm/v/@clr/icons/latest?label=%40clr%2Ficons&style=flat-square"
        />
      </a>

      <a class="npm-reference" href="https://www.npmjs.com/package/@cds/city" target="_blank">
        <img
          alt="npm (@cds/city)"
          src="https://img.shields.io/npm/v/@cds/city/latest?label=%40cds%2Fcity&style=flat-square"
        />
      </a>
    </clr-vertical-nav>
    <div class="content-area" cds-layout="container:lg">
      <div  cds-layout="p-l:md p-l@sm:xl container:md">

        <router-outlet></router-outlet>

        <footer cds-layout="grid p-x:md p-x@sm:xl m-t:xl p-t:lg" class="doc-footer">
          <div cds-layout="col:12 col@sm:6">
            <p cds-layout="m-t:none">Powered by VMware, Inc &copy;{{today | date:'YYYY'}}. All rights reserved.<br />Code licensed by <a href="https://opensource.org/licenses/MIT" target="_blank" cds-layout="m-r:sm">MIT License</a> <a href="https://www.vmware.com/help/privacy.html" target="_blank">Privacy Policy</a></p>
          </div>
          <div cds-layout="col:12 col@sm:6" cds-text="right">
            <a aria-label="Clarity on GitHub" href="https://github.com/vmware/clarity" target="_blank" class="sm-icon-link" cds-layout="m-r:md"><img src="/assets/github.svg" alt="Clarity Github"></a>
            <a aria-label="Clarity on twitter" href="https://twitter.com/VMwareClarity" target="_blank" class="sm-icon-link" cds-layout="m-r:md"><img src="/assets/twitter.svg" alt="Clarity Twitter"></a>
            <a aria-label="Clarity on Medium" href="https://medium.com/claritydesignsystem" target="_blank" class="sm-icon-link" cds-layout="m-r:md"><img src="/assets/medium.svg" alt="Clarity Medium"></a>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>
