@import '../../../../clr-angular/src/utils/variables/variables.color';
@import '../../styles/variables';
@import '../../styles/mixins';

.layout-home {
  background-color: $clr-color-neutral-50;

  .main-container {
    height: auto;

    .content-area {
      overflow-x: hidden;
      padding: 0;
    }
  }

  $clrweb-home-sectionPadding: $clr_baselineRem_4;

  section {
    padding-top: $clrweb-home-sectionPadding;
    padding-bottom: $clrweb-home-sectionPadding;

    &.home-hero {
      padding-top: $clr_baselineRem_2_5;
      padding-bottom: $clr_baselineRem_3;
    }

    &.home-cards,
    &.home-process {
      padding-top: 0;
    }

    &.home-contact {
      padding: 0;
    }
  }
}

.home-hero {
  height: $clr_baselineRem_29;
  max-width: $clr_baselineRem_52;
  width: 100%;
  margin: 0 auto;
  position: relative;

  .home-hero-content {
    position: relative;
    width: 100%;
    max-width: $clr_baselineRem_27;
    z-index: 1;
  }

  h1 {
    font-weight: 200;
    letter-spacing: -0.02em;
    line-height: $clr_baselineRem_3;
    font-size: $clr_baselineRem_2_66;
    margin-bottom: $clr_baselineRem_0_5;
    margin-top: $clr_baselineRem_0_5;
  }

  p.head {
    font-size: $clr_baselineRem_0_75;
    font-weight: 200;
    line-height: $clr_baselineRem_1_5;
    margin: $clr_baselineRem_0_25 $clr_baselineRem_5px;
    color: $clr-color-neutral-1000;
    max-width: $clr_baselineRem_26;
  }

  .home-hero-btn {
    margin: $clr_baselineRem_1_5 0 $clr_baselineRem_1;
    padding-left: $clr_baselineRem_5px;
  }

  .btn {
    width: $clr_baselineRem_7;
    height: $clr_baselineRem_2;
    line-height: $clr_baselineRem_2 - $clr_baselineRem_1px;
    margin: 0;
    margin-right: $clr_baselineRem_0_75;
    font-weight: 400;
  }

  .btn-secondary {
    margin-right: 0;
  }

  p.subtext {
    margin-left: $clr_baselineRem_5px;

    & > a {
      color: inherit;
      text-decoration: underline;

      &:hover,
      &:active,
      &:focus {
        color: $clr-color-neutral-900;
        text-decoration: underline;
      }
    }
  }

  .bg-img {
    height: $clr_baselineRem_21_67;
    width: $clr_baselineRem_28_875;
    position: absolute;
    bottom: 0;
    left: $clr_baselineRem_25_5;
    background-image: url('../../assets/images/clarity-logo.svg');
    background-size: cover;
    background-position: center center;

    &-collaboration {
      background-image: url('../../assets/images/clarity-logo-collaboration.svg');
    }

    &-spring {
      background-image: url('../../assets/images/clarity-logo-spring.svg');
    }

    &-winter {
      background-image: url('../../assets/images/clarity-logo-winter.svg');
    }
  }
}

.home-cards {
  width: 100%;
  max-width: $clr_baselineRem_52;
  margin: 0 auto;
  z-index: 1;
  position: relative;

  .home-cards-container {
    background-color: rgba($clr-color-neutral-0, 0.7);
    width: 100%;
    padding: $clr_baselineRem_2 0 $clr_baselineRem_1;
    border-radius: $clr-global-borderradius;
    margin-top: $clr_baselineRem_7 * -1;
    border: $clr-global-borderwidth solid $clr-color-neutral-300;

    @include clarityWebBoxShadow;

    & > h1 {
      margin: 0;
      margin-bottom: $clr_baselineRem_2;
      text-align: center;
    }
  }

  .home-card-wrapper {
    width: 100%;
    margin: 0;
  }

  .home-card {
    padding: $clr_baselineRem_1 $clr_baselineRem_1 0 $clr_baselineRem_2;
    text-align: left;
  }

  .home-card-angular {
    padding-right: $clr_baselineRem_1_5;
    padding-left: $clr_baselineRem_1;
  }

  .home-card-title {
    line-height: $clr_baselineRem_2;
    vertical-align: middle;
    margin: $clr_baselineRem_0_5 0 $clr_baselineRem_4px;
    font-weight: 200;
    text-align: center;
  }

  .home-card-bug {
    text-align: center;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    margin: 0 auto;
    font-size: $clr_baselineRem_0_667;
    line-height: $clr_baselineRem_1_16;
    width: 100%;
    max-width: $clr_baselineRem_10;
  }
}

.home-process {
  width: 100%;
  padding: 0;
  max-width: $clr_baselineRem_40_0833;
  margin: 0 auto;

  h1 {
    margin: 0;
    margin-top: $clr_baselineRem_1;
    margin-bottom: $clr_baselineRem_3;
    text-align: center;
  }

  & > .row {
    margin: 0;
  }

  .home-process-block__title {
    position: relative;

    & > .img {
      height: $clr_baselineRem_1_5;
      width: $clr_baselineRem_1_5;
      position: absolute;
      left: $clr_baselineRem_0_25;
      top: $clr_baselineRem_0_25;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;

      &.bulb {
        background-image: url('../../assets/images/home/ic-bulb.svg');
      }

      &.evolving {
        background-image: url('../../assets/images/home/ic_evolving.svg');
      }

      &.rapid {
        background-image: url('../../assets/images/home/ic_rapid.svg');
      }

      &.reliable {
        background-image: url('../../assets/images/home/ic_reliable.svg');
      }
    }

    & > h3 {
      padding-left: $clr_baselineRem_2_25;
      line-height: $clr_baselineRem_2;
    }
  }
}

.home-process-block {
  padding-left: 0;
  padding-right: 0;

  p {
    width: 100%;
    max-width: $clr_baselineRem_17;
    margin-top: 0;
    margin-bottom: $clr_baselineRem_2;
    font-size: $clr_baselineRem_0_667;
  }

  &:nth-child(2n + 0) {
    padding-left: $clr_baselineRem_1_5;
  }
}

.home-contact {
  width: 100%;
  background: linear-gradient(
    to right,
    $clr-color-action-600 0%,
    $clr-color-action-600 50%,
    $clr-color-neutral-900 50%
  );
}

.home-contact-container,
.layout-home footer {
  max-width: $clr_baselineRem_52;
  width: 100%;
  margin: 0 auto;
}

.home-contact-block {
  padding: 0;

  &:nth-child(2n + 0) {
    padding-left: $clr_baselineRem_1_5;

    a.home-contact_link {
      padding-left: $clr_baselineRem_3 + $clr_baselineRem_0_25;
    }

    .img {
      width: $clr_baselineRem_3;
    }
  }
}

a.home-contact_link {
  display: block;
  line-height: $clr_baselineRem_3;
  margin-top: $clr_baselineRem_4;
  margin-bottom: $clr_baselineRem_1;
  position: relative;
  padding-left: $clr_baselineRem_2_25;

  color: $clr-color-neutral-0;

  & > .img {
    display: block;
    height: $clr_baselineRem_3;
    width: $clr_baselineRem_2;
    position: absolute;
    top: 0;
    left: 0;
  }

  &.mit-link > .img {
    background-image: url('../../assets/images/home/MIT.png');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &.twr-link > .img {
    background-image: url('../../assets/images/home/twitter.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }
}

@media (max-width: 1364px) {
  .home-hero {
    width: 100%;
  }
}

@media (max-width: 1291px) {
  .layout-home {
    section,
    section.home-contact {
      padding-left: $clr_baselineRem_0_75;
      padding-right: $clr_baselineRem_0_75;
    }

    section.home-cards {
      padding-left: $clr_baselineRem_1;
      padding-right: $clr_baselineRem_1;
    }

    section.home-process {
      padding-left: $clr_baselineRem_0_5;
      padding-right: $clr_baselineRem_0_5;
    }

    footer {
      padding-left: $clr_baselineRem_1;
      padding-right: $clr_baselineRem_1;
    }
  }
}

@media (max-width: 1092px) {
  .home-hero {
    .bg-img {
      left: $clr_baselineRem_21;
    }
  }
}

@media (max-width: 991px) {
  .layout-home section.home-hero {
    padding-top: $clr_baselineRem_1;
    padding-bottom: $clr_baselineRem_3;
    height: $clr_baselineRem_27_5;
  }
}

@media (max-width: 907px) {
  .layout-home {
    section.home-process {
      padding-left: $clr_baselineRem_1_75;
      padding-right: $clr_baselineRem_1_75;
    }
  }

  .home-cards {
    .home-cards-container {
      & > h1 {
        font-size: $clr_baselineRem_1_16;
        line-height: $clr_baselineRem_1_5;
        margin-bottom: $clr_baselineRem_1;
      }
    }

    .home-card {
      padding: $clr_baselineRem_1 $clr_baselineRem_0_5 0 $clr_baselineRem_1;
    }

    .home-card-angular {
      padding-right: $clr_baselineRem_0_5;
      padding-left: $clr_baselineRem_0_5;
    }
  }
}

@media (max-width: 768px) {
  .layout-home section {
    &.home-hero {
      padding-top: $clr_baselineRem_1;
      height: $clr_baselineRem_20_5;
      padding-bottom: $clr_baselineRem_1;
    }

    &.home-cards {
      padding-bottom: $clr_baselineRem_1;
    }

    &.home-process {
      padding-left: $clr_baselineRem_1;
      padding-right: $clr_baselineRem_1;
    }

    &.home-contact {
      background: none;
      padding-left: 0;
      padding-right: 0;
    }
  }

  .home-hero {
    h1 {
      margin-top: 0;
      font-size: $clr_baselineRem_2;
    }

    .home-hero-btn {
      margin-top: $clr_baselineRem_0_75;
      width: $clr_baselineRem_336px;
    }

    .btn {
      display: block;
      margin: $clr_baselineRem_1 auto;
    }

    .bg-img {
      height: $clr_baselineRem_14_33;
      width: $clr_baselineRem_18_95833;
      left: $clr_baselineRem_15_5;
    }

    p.subtext {
      margin-top: $clr_baselineRem_1_5;
      font-size: $clr_baselineRem_0_667;
    }
  }

  .home-cards {
    .home-cards-container {
      margin-top: -1 * $clr_baselineRem_3;

      & > h1 {
        margin-bottom: $clr_baselineRem_1_5;
        padding-left: $clr_baselineRem_1;
        padding-right: $clr_baselineRem_1;
      }
    }

    .home-card {
      position: relative;
      padding: $clr_baselineRem_1 $clr_baselineRem_2_5 $clr_baselineRem_1 $clr_baselineRem_7_5;
      width: 100%;
      max-width: 100%;
      text-align: left;
    }

    .home-card-bug {
      position: absolute;
      width: $clr_baselineRem_5_5;
      top: 50%;
      left: $clr_baselineRem_1_5;
      margin-top: -1 * $clr_baselineRem_1_33;
    }

    .home-card-wrapper {
      display: block;
      // flex-direction: column;
    }

    .home-card-title {
      line-height: $clr_baselineRem_1;
      margin: 0;
      text-align: left;
    }

    p {
      margin: 0;
      font-size: $clr_baselineRem_0_667;
      max-width: 100%;
      margin-top: $clr_baselineRem_0_667;
    }
  }

  .home-process {
    h1 {
      font-size: $clr_baselineRem_1_16;
      margin-bottom: 0;
    }

    & > .row {
      display: block;
      // flex-direction: column;
    }
  }

  .home-process-block {
    width: 100%;
    max-width: 100%;

    &:nth-child(2n + 0) {
      padding-left: 0;
    }

    p {
      width: 100%;
      max-width: 100%;
      margin-top: $clr_baselineRem_0_5;
      margin-bottom: 0;
      padding: 0 $clr_baselineRem_0_5;
    }
  }

  .home-contact {
    & > .row {
      height: $clr_baselineRem_10;
      flex-direction: column-reverse;
      -ms-flex-direction: column;
    }
  }

  .home-contact-block {
    background-color: $clr-color-action-600;
    width: 100%;
    max-width: 100%;
    padding-left: $clr_baselineRem_1_5;

    & + .home-contact-block {
      background-color: $clr-color-neutral-900;
    }
  }

  a.home-contact_link {
    margin-top: $clr_baselineRem_1;
  }
}

@media (max-width: 545px) {
  .home-hero {
    h1 {
      font-size: $clr_baselineRem_1_5;
    }

    p.head {
      line-height: $clr_baselineRem_1;
      max-width: $clr_baselineRem_19_167;
    }

    .home-hero-btn {
      width: $clr_baselineRem_9_5;
    }

    .bg-img {
      height: $clr_baselineRem_12_29167;
      width: $clr_baselineRem_16_25;
      left: 55%;
      bottom: $clr_baselineRem_1;
    }
  }

  .home-cards {
    .home-cards-container {
      padding-top: $clr_baselineRem_1_5;
      margin-top: -1 * $clr_baselineRem_2;
    }

    .home-card {
      padding-left: $clr_baselineRem_6_5;
      padding-right: $clr_baselineRem_0_75;
    }

    .home-card-bug {
      left: $clr_baselineRem_0_5;
    }

    p {
      line-height: $clr_baselineRem_1;
    }
  }

  .home-contact-block {
    padding-left: $clr_baselineRem_0_5 !important;
  }
}

@media (max-width: 420px) {
  .layout-home {
    section {
      &.home-cards {
        padding-bottom: $clr_baselineRem_1;
        padding-left: 0;
        padding-right: 0;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;
      }

      &.home-hero {
        height: auto;
      }

      &.home-process {
        padding-bottom: $clr_baselineRem_1;
        padding-left: $clr_baselineRem_0_5;
        padding-right: $clr_baselineRem_0_5;
      }
    }
  }

  .home-hero {
    h1 {
      font-size: $clr_baselineRem_1_33;
      line-height: $clr_baselineRem_1_5;
      text-align: center;
      margin-bottom: $clr_baselineRem_0_583;
    }

    p.head {
      line-height: $clr_baselineRem_1;
      max-width: $clr_baselineRem_11_0833;
      font-size: $clr_baselineRem_0_667;
      margin: 0 auto;
      text-align: center;
    }

    p.subtext {
      margin-top: $clr_baselineRem_1;
      font-size: $clr_baselineRem_0_667;
      margin-left: 0;
      text-align: center;
    }

    .bg-img {
      display: none;
    }

    .home-hero-btn {
      width: 100%;
      padding-left: 0;
    }

    .btn {
      min-width: $clr_baselineRem_7;
      width: 80%;
      max-width: $clr_baselineRem_9_167;
    }
  }

  .home-cards {
    .home-cards-container {
      padding-top: $clr_baselineRem_1;
      margin-top: 0;
    }

    .home-card-bug {
      position: static;
      margin: 0 auto $clr_baselineRem_0_75;
    }

    .home-card {
      padding-left: $clr_baselineRem_1;
      padding-right: $clr_baselineRem_1;
    }

    .home-card-title {
      text-align: center;
    }

    p {
      width: 80%;
      max-width: $clr_baselineRem_10_833;
      margin: $clr_baselineRem_0_75 auto 0;
    }
  }

  .home-process-block {
    p {
      font-size: $clr_baselineRem_0_583;
      margin-top: $clr_baselineRem_0_25;
    }
  }

  a.mit-link {
    line-height: $clr_baselineRem_0_75;
    padding-top: $clr_baselineRem_0_75;
    padding-bottom: $clr_baselineRem_0_5;
  }
}
