{
  "extends": "stylelint-config-recommended",
  "defaultSeverity": "error",
  "syntax": "scss",
  "plugins": [
    "stylelint-scss",
    "stylelint-declaration-use-variable",
    "stylelint-no-px"
  ],
  "ignoreFiles": [
  ],
  "rules": {
    "sh-waqar/declaration-use-variable": [["color", { ignoreValues: ["inherit", "red", "blue"] }]],
    "meowtec/no-px": [true, { "ignore": ["1px"] }],
    "color-no-hex": true,
    "no-descending-specificity": null,
    "no-duplicate-selectors": null,
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "max-nesting-depth": 3,
    "block-closing-brace-newline-after": "always",
    "rule-empty-line-before": [ "always-multi-line", {
      except: ["first-nested"],
      ignore: ["after-comment"],
    } ]
  }
}