p.lead-header {
    font-size: 1.2em;
    font-weight: 200;
    line-height: 1.8em;
}

.paragraph-header {
    font-weight: 300;
    font-size: 1.5em;
    margin: 32px 0 16px;
}

clr-code-snippet /deep/ pre {
    margin: 24px 0;
    padding: 18px;
}

clr-code-snippet /deep/ pre code {
    line-height: 1.8em;
}

.example-btn-wrapper {
    margin: 12px 0 0;
}