@import '.node_modules/@cds/styles/module.tokens';

[cds-theme~='dark'] {
  --cds-global-typography-color-500: #{$custom-value-here};
  --cds-global-typography-color-400: #{$custom-value-here};
  --cds-global-typography-color-300: #{$custom-value-here};
  --cds-global-typography-color-200: #{$custom-value-here};
  --cds-global-typography-color-100: #{$custom-value-here};

  --cds-alias-object-app-background: #{$custom-value-here};
  --cds-alias-object-app-border-color: #{$custom-value-here};
  --cds-alias-object-container-background: #{$custom-value-here};
  --cds-alias-object-container-border-color: #{$custom-value-here};
  --cds-alias-object-overlay-background: #{$custom-value-here};
  --cds-alias-object-overlay-border-color: #{$custom-value-here};
  --cds-alias-object-border-color: #{$custom-value-here};
  --cds-alias-object-border-color-tint: #{$custom-value-here};
  --cds-alias-object-border-color-shade: #{$custom-value-here};
  --cds-alias-object-shadow-100: #{$custom-value-here};
  --cds-alias-object-shadow-200: #{$custom-value-here};
  --cds-alias-object-shadow-300: #{$custom-value-here};
  --cds-alias-object-interaction-color: #{$custom-value-here};
  --cds-alias-object-interaction-color-hover: #{$custom-value-here};
  --cds-alias-object-interaction-color-active: #{$custom-value-here};
  --cds-alias-object-interaction-color-selected: #{$custom-value-here};
  --cds-alias-object-interaction-color-disabled: #{$custom-value-here};
  --cds-alias-object-interaction-background: #{$custom-value-here};
  --cds-alias-object-interaction-background-hover: #{$custom-value-here};
  --cds-alias-object-interaction-background-active: #{$custom-value-here};
  --cds-alias-object-interaction-background-selected: #{$custom-value-here};
  --cds-alias-object-interaction-background-disabled: #{$custom-value-here};
  --cds-alias-object-interaction-background-highlight: #{$custom-value-here};

  --cds-alias-status-info: #{$custom-value-here};
  --cds-alias-status-info-tint: #{$custom-value-here};
  --cds-alias-status-info-shade: #{$custom-value-here};
  --cds-alias-status-success: #{$custom-value-here};
  --cds-alias-status-success-tint: #{$custom-value-here};
  --cds-alias-status-success-shade: #{$custom-value-here};
  --cds-alias-status-warning: #{$custom-value-here};
  --cds-alias-status-warning-tint: #{$custom-value-here};
  --cds-alias-status-warning-shade: #{$custom-value-here};
  --cds-alias-status-danger: #{$custom-value-here};
  --cds-alias-status-danger-tint: #{$custom-value-here};
  --cds-alias-status-danger-shade: #{$custom-value-here};
  --cds-alias-status-neutral: #{$custom-value-here};
  --cds-alias-status-neutral-tint: #{$custom-value-here};
  --cds-alias-status-neutral-shade: #{$custom-value-here};
  --cds-alias-status-alt: #{$custom-value-here};
  --cds-alias-status-alt-tint: #{$custom-value-here};
  --cds-alias-status-alt-shade: #{$custom-value-here};
  --cds-alias-status-disabled: #{$custom-value-here};
  --cds-alias-status-disabled-tint: #{$custom-value-here};
  --cds-alias-status-disabled-shade: #{$custom-value-here};
  --cds-alias-status-secondary-tint: #{$custom-value-here};
  --cds-alias-status-secondary-info: #{$custom-value-here};
  --cds-alias-status-secondary-info-tint: #{$custom-value-here};
  --cds-alias-status-secondary-info-shade: #{$custom-value-here};
  --cds-alias-status-secondary-success: #{$custom-value-here};
  --cds-alias-status-secondary-success-tint: #{$custom-value-here};
  --cds-alias-status-secondary-success-shade: #{$custom-value-here};
  --cds-alias-status-secondary-warning: #{$custom-value-here};
  --cds-alias-status-secondary-warning-tint: #{$custom-value-here};
  --cds-alias-status-secondary-warning-shade: #{$custom-value-here};
  --cds-alias-status-secondary-danger: #{$custom-value-here};
  --cds-alias-status-secondary-danger-tint: #{$custom-value-here};
  --cds-alias-status-secondary-danger-shade: #{$custom-value-here};
  --cds-alias-status-secondary-neutral: #{$custom-value-here};
  --cds-alias-status-secondary-neutral-tint: #{$custom-value-here};
  --cds-alias-status-secondary-neutral-shade: #{$custom-value-here};
  --cds-alias-status-secondary-alt: #{$custom-value-here};
  --cds-alias-status-secondary-alt-tint: #{$custom-value-here};
  --cds-alias-status-secondary-alt-shade: #{$custom-value-here};
}
