.signpost-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .signpost-item {
        padding-top: 50px;
        flex: 1 1 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
