@import './../styles/tokens/generated/index';
@import './../styles/mixins/mixins';

:host {
  --ring-opacity: 1;
  --ring-color: #{$cds-alias-status-neutral-tint};
  --fill-color: #{$cds-alias-status-neutral};
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  display: block;
  cursor: inherit;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.private-host {
  @include center-content('block');
  @include equilateral(100%);

  .backstroke {
    stroke: var(--ring-color);
    opacity: var(--ring-opacity);
  }

  .arcstroke {
    stroke: var(--fill-color);
    transition: stroke-dashoffset 300ms ease-in-out;
  }
}

:host,
:host([size='sm']) {
  @include equilateral(#{$cds-global-space-7});
}

:host([size='md']) {
  @include equilateral(#{$cds-global-space-9});
}

:host([size='lg']) {
  @include equilateral(#{$cds-global-space-11});
}

:host([size='xl']) {
  @include equilateral(#{$cds-global-space-12});
}

:host([size='xxl']) {
  // 64px
  @include equilateral(calc(#{$cds-global-space-13} - #{$cds-global-space-5}));
}

:host([value='0']) .fillstroke,
:host([value='100']) .fillstroke {
  display: none;
}

:host(:not([value])) .progress-wrapper {
  animation: spin 0.8s cubic-bezier(0.17, 0.4, 0.8, 0.79) infinite;
}

:host([status='info']) {
  --ring-color: #{$cds-alias-status-info-tint};
  --fill-color: #{$cds-alias-status-info};
}

:host([status='success']) {
  --ring-color: #{$cds-alias-status-success-tint};
  --fill-color: #{$cds-alias-status-success};
}

:host([status='warning']) {
  --ring-color: #{$cds-alias-status-warning-tint};
  --fill-color: #{$cds-alias-status-warning};
}

:host([status='danger']) {
  --ring-color: #{$cds-alias-status-danger-tint};
  --fill-color: #{$cds-alias-status-danger};
}

:host([status='alt']) {
  --ring-color: #{$cds-alias-status-alt-tint};
  --fill-color: #{$cds-alias-status-alt};
}

:host([inverse]) {
  --ring-color: #{$cds-alias-status-neutral-shade};
  --fill-color: #{$cds-alias-status-neutral};
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
