// Style code used to make @clr/core containers scrollable
.doc-wrapper {
  background-color: var(--cds-token-color-neutral-200);
  position: relative;
  padding: var(--cds-token-layout-space-md) var(--cds-token-layout-space-sm);
  margin-bottom: var(--cds-token-space-size-10);
  width: 100%;
  min-height: calc(var(--cds-token-space-size-13) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doc-do {
  .doc-example {
    @extend .doc-wrapper;

    &:after {
      content: 'Do';
      position: absolute;
      color: var(--cds-token-color-success-600);
      bottom: calc(-1 * var(--cds-token-space-size-11));
      border-top: var(--cds-token-space-size-4) solid currentColor;
      height: var(--cds-token-space-size-11);
      line-height: var(--cds-token-space-size-9);
      width: 100%;
      left: 0;
      font-weight: bolder;
    }
  }
}

.doc-dont {
  @extend .doc-do;
  .doc-example:after {
    content: 'Dont';
    color: var(--cds-token-color-danger-600);
  }
}

.doc-height-100-container {
  height: 100px;
  text-align: center;
}
