// Style code used to make @cds/core containers scrollable
.doc-wrapper {
  background-color: var(--cds-global-color-gray-200);
  position: relative;
  padding: var(--cds-global-layout-space-md) var(--cds-global-layout-space-sm);
  margin-bottom: var(--cds-global-space-10);
  width: 100%;
  min-height: calc(var(--cds-global-space-13) * 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.doc-do {
  .doc-example {
    @extend .doc-wrapper;

    &:after {
      content: 'Do';
      position: absolute;
      color: var(--cds-global-color-green-600);
      bottom: calc(-1 * var(--cds-global-space-11));
      border-top: var(--cds-global-space-4) solid currentColor;
      height: var(--cds-global-space-11);
      line-height: var(--cds-global-space-9);
      width: 100%;
      left: 0;
      font-weight: bolder;
    }
  }
}

.doc-dont {
  @extend .doc-do;
  .doc-example:after {
    content: "Don't";
    color: var(--cds-global-color-red-600);
  }
}

.doc-height-100-container {
  height: 100px;
  text-align: center;
}

[cds-layout*='m-b:md+'] {
  margin-bottom: var(--cds-token-space-size-7, 0.8rem) !important;
}

[cds-layout*='m-b:lg+'] {
  margin-bottom: var(--cds-token-space-size-10, 1.6rem) !important;
}

[cds-layout*='m-b:xl+'] {
  margin-bottom: var(--cds-token-space-size-13, 3.6rem) !important;
}

[cds-theme*='dark'] {
  background: var(--cds-global-color-construction-1000);
  padding: var(--cds-global-layout-space-md);
}
