<main id="content-area" class="content-area" hash-listener #scrollable>
    <h1 id="introduction">Clarity Design System</h1>
    <p>Project Clarity is an open source design system that brings together UX guidelines, an HTML/CSS framework, and
        Angular components. Clarity is for both designers and developers.
    </p>
    <p>Clarity’s designs stem from continuous exploration and research. These designs are built into our HTML/CSS
        components, which can be used any web UI, regardless of the underlying JavaScript framework. Clarity also offers
        a set of well-designed and implemented
        data-bound components built on top of Angular, one of the most popular JavaScript frameworks in the
        industry.
    </p>
    <h2 id="howToUse">How to Use Clarity</h2>
    <p>We offer three approaches for utilizing Clarity: UX, UX and UI, and Angular.</p>
    <h3 id="designResources">Using Clarity Design Resources</h3>
    <p>Jumpstart your project with one of our
        <a href="https://www.sketchapp.com/" target="_blank">Sketch</a>-based design resources.
        Start by downloading the
        <a href="https://github.com/chrismsimpson/Metropolis" target="_blank">
            Metropolis font.
        </a> Then download your resource of choice.
    </p>
    <div>
        <a href="assets/images/sketchTemplates/Clarity-Template-0.10.0.sketch" target="_blank" class="btn btn-primary">
            <clr-icon shape="download"></clr-icon>
            UI Template (0.10.0)
        </a>
        <div class="craft-plugin">
            <a href="assets/images/sketchCraftLibraries/Clarity.library-0.10.0.zip" class="btn btn-primary" target="_blank">
                <clr-icon shape="download"></clr-icon>
                Craft Library (0.10.0)
            </a>
            <span class="craft-plugin-text">
                requires <a href="https://www.invisionapp.com/craft" target="_blank">Craft Manager plugin</a>
            </span>
        </div>
    </div>

    <h3 id="seedProjectClarity">Starting With a Clarity Seed Project (Recommended)</h3>
    <p>For a new project, the best approach is to clone the Clarity seed project and modify it to fit your needs. The
        seed project is integrated with clarity-ui and clarity-angular, so you don’t need to install Clarity
        separately.
    </p>
    <p></p>
    <ol class="list">
        <li>Clone the seed app:
            <clr-code-snippet
                    [clrCode]="'git clone https://github.com/vmware/clarity-seed.git'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Install the dependencies:
            <clr-code-snippet
                    [clrCode]="'npm install'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Run the seed app:
            <clr-code-snippet
                    [clrCode]="'npm start'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
    </ol>
    <h3 id="seedProjectAngular">Using an Angular Seed Project</h3>
    <p>You can build an Angular app, then install Clarity onto your project.</p>
    <h4 id="step-1-build-an-angular-2-app">Step 1: Build an Angular App</h4>
    <p></p>
    <ol class="list">
        <li>Look at the Angular documentation, starting with <a
                href="https://angular.io/docs/ts/latest/quickstart.html">the 5 Min Quickstart</a>.
        </li>
        <li>
            Save and modify the example structure and build, or use one of the Angular seeds:
            <ul class="list">
                <li><a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a></li>
                <li><a href="https://github.com/mgechev/angular2-seed">https://github.com/mgechev/angular2-seed</a></li>
                <li><a href="https://github.com/angular/angular2-seed">https://github.com/angular/angular2-seed</a></li>
                <li><a href="https://github.com/AngularClass/angular2-webpack-starter">https://github.com/AngularClass/angular2-webpack-starter</a>
                </li>
            </ul>
        </li>
    </ol>
    <h4 id="installing">Step 2: Install Clarity</h4>
    <p>Clarity is published as three separate packages on NPM:</p>
    <p>
        <a id="clarity_icons"></a>
    </p>
    <ul class="list">
        <li><b>clarity-icons.</b> The library that provides the custom element icons.</li>
        <li><b>clarity-ui.</b> Contains the static styles for building HTML components.</li>
        <li><b>clarity-angular.</b> Contains the Angular components. This package depends on clarity-ui for styles.
        </li>
    </ul>
    <h5 id="step-2a-install-clarity-icons">Step 2a: Install Clarity Icons</h5>
    <p></p>
    <ol class="list">
        <li>Install the Clarity Icons library through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-icons --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Install the polyfill for Custom Elements:
            <clr-code-snippet
                    [clrCode]="'npm install @webcomponents/custom-elements@1.0.0 --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>
            Load the library in your app by including <code class="clr-code">clarity-icons.min.css</code> and <code class="clr-code">clarity-icons.min.js</code>.
            Also, make sure to include <code class="clr-code">custom-elements.min.js</code>, the Custom Elements polyfill before <code class="clr-code">clarity-icons.min.js</code>:
            <clr-code-snippet [clrCode]="iconsImportsExample"></clr-code-snippet>

            <p>
               Visit the <a routerLink="/icons">Clarity Icons</a> section for more installation information.
            </p>
        </li>
    </ol>
    <h5 id="step-2b-install-clarity-ui">Step 2b: Install Clarity UI</h5>
    <p></p>
    <ol class="list">
        <li>Install Clarity UI package through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-ui --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>
            Include clarity-ui.min.css in your HTML file:
            <clr-code-snippet [clrCode]="uiHTMLImport"></clr-code-snippet>
            If your site is built with <a href="https://github.com/angular/angular-cli">angular-cli</a> you can achieve
            the above by adding the file to the styles array in <code class="clr-code">angular-cli.json</code>:
            <clr-code-snippet [clrCode]="uiNodeImports" [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Write your HTML with the Clarity CSS class names and markup.</li>
    </ol>
    <h5 id="step-2c-install-clarity-angular">Step 2c: Install Clarity Angular</h5>
    <p></p>
    <ol class="list">
        <li>If you haven't already, complete steps 1 and 2 for installing Clarity UI in the preceding section.
        </li>
        <li>Install the clarity-angular package through npm:
            <clr-code-snippet
                    [clrCode]="'npm install clarity-angular --save'"
                    [clrDisablePrism]="true"></clr-code-snippet>
        </li>
        <li>Import the ClarityModule into your Angular application's module. Your application's main module might look like this:
            <clr-code-snippet [clrCode]="ngModuleExample" [clrLanguage]="'typescript'"></clr-code-snippet>
        </li>
    </ol>
    <h4 id="step-3-run-your-app">Step 3: Run Your App</h4>
    <clr-code-snippet
            [clrCode]="'npm start'"
            [clrDisablePrism]="true"></clr-code-snippet>
    <h2 id="browserSupport">Device and Browser Support</h2>
    <p class="bump-down"><img src="assets/images/get-started/device_support.png" alt="Device and Browser Support"
                              class="hidden-sm-down img-fluid"></p>
    <ul class="hidden-md-up">
        <li>Internet Explorer 10 &amp; 11</li>
        <li>MS Edge</li>
        <li>Latest versions of Chrome, Safari, and Firefox</li>
    </ul>
    <p>
        <em>* - Note that Clarity only supports the latest two versions of the listed browsers, with the exception of
            Internet Explorer.</em>
    </p>
    <h2 id="contribute_guidelines">Contributing to Clarity</h2>
    <p>The Clarity team welcomes contributions from the community. See our <a
            href="https://github.com/vmware/clarity//blob/master/CONTRIBUTING.md" target="_blank">contribution
        guidelines</a> on GitHub.
    </p>
    <h2 id="reportingBugs">Reporting an Issue</h2>
    <p>Ongoing work and feature requests are tracked using <a href="https://github.com/vmware/clarity/issues"
                                                              target="_blank">GitHub Issues</a>. Please feel free to
        file an issue.
    </p>
    <p>When submitting issues please provide a minimal app that demonstrates the issue by forking one of Clarity
        Plunkr's:
    <ul class="list-unstyled">
        <li><a href="https://plnkr.co/edit/uNwwZe" target="_blank">Latest Clarity [v0.9.x] Template</a></li>
        <li><a href="https://plnkr.co/edit/8TwwdL" target="_blank">Legacy Clarity [v0.8.15] Template</a></li>
    </ul>

    <h2 id="stackoverflow">StackOverflow</h2>
    <p>
        File issues on StackOverflow with the
        <a target="_blank" href="https://stackoverflow.com/questions/tagged/vmware-clarity">vmware-clarity</a> tag
        to get the community's attention faster. You can also view FAQs by
        filtering on the <a target="_blank" href="https://stackoverflow.com/questions/tagged/vmware-clarity">vmware-clarity</a>
        tag on StackOverflow.
    </p>

    <h2 id="attributions">Attributions</h2>
    <p>See the <a href="https://github.com/vmware/clarity/blob/master/ATTRIBUTION.md" target="_blank">legal
        attributions</a> for third party software included in Clarity.
    </p>
    <div style="visibility: hidden; height: 80vh;">This is a spacer to force sidenav highlighting on scroll</div>
</main>
<nav class="sidenav" [clr-nav-level]="2">
    <section class="sidenav-content">
        <section class="nav-group" [scrollspy]="scrollable">
            <label><a class="nav-link active" routerLink="." fragment="introduction">Clarity Design System</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="howToUse">How to Use
                Clarity</a></label>
            <ul class="nav-list">
                <li><a class="nav-link" routerLink="." fragment="designResources">Using Clarity Design Resources</a></li>
                <li><a class="nav-link" routerLink="." fragment="seedProjectClarity">Using a Clarity Seed</a></li>
                <li><a class="nav-link" routerLink="." fragment="seedProjectAngular">Using an Angular Seed</a></li>
            </ul>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="browserSupport">Device &amp; Browser
                Support</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="contribute_guidelines">Contributing to
                Clarity</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="reportingBugs">Reporting an Issue</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="stackoverflow">StackOverflow</a></label>
            <label class="bump-down"><a class="nav-link" routerLink="." fragment="attributions">Attributions</a></label>
        </section>
    </section>
</nav>
