<main id="content-area" class="content-area" hash-listener #scrollable>

  <h1 id="introduction">Clarity Design System</h1>

  <p>Project Clarity is an open source design system that brings together UX guidelines, an HTML/CSS framework, and Angular components. Clarity is for both designers and developers.</p>

  <p>Clarity’s designs stem from continuous exploration and research. These designs are built into our HTML/CSS components, which can be used any web UI, regardless of the underlying JavaScript framework. Clarity also offers a set of well-designed and implemented
    data-bound components built on top of Angular, one of the most popular JavaScript frameworks in the industry.</p>

  <h2 id="howToUse">How to Use Clarity</h2>

  <p>We offer three approaches for utilizing Clarity: UX, UX and UI, and Angular.</p>

  <h3 id="sketchTemplate">Using the Clarity Sketch UI Template</h3>

  <p>Jumpstart your project with the <a href="assets/images/sketchTemplates/Clarity-Template-0.9.0.sketch" target="_blank">Clarity Sketch UI template</a>, a library of components versioned alongside other products in Clarity’s ecosystem. To use with the template,
    install the <a href="https://github.com/chrismsimpson/Metropolis" target="_blank">open-source Metropolis font</a> by Chris M. Simpson. Clarity uses these font weights: light, regular, semibold, and medium.</p>

  <h3 id="seedProjectClarity">Starting With a Clarity Seed Project (Recommended)</h3>

  <p>For a new project, the best approach is to clone the Clarity seed project and modify it to fit your needs. The seed project is integrated with clarity-ui and clarity-angular, so you don’t need to install Clarity separately.</p>

  <p></p>
  <ol class="list">
    <li>Clone the seed app:
      <pre><code class="clr-code">
  git clone https://github.com/vmware/clarity-seed.git
  </code></pre>
    </li>
    <li>Install the dependencies:
      <pre><code class="clr-code">
  npm install
  </code></pre>
    </li>
    <li>Run the seed app:
      <pre><code class="clr-code">
  npm start
  </code></pre>
    </li>
  </ol>

  <h3 id="seedProjectAngular">Using an Angular Seed Project</h3>

  <p>You can build an Angular app, then install Clarity onto your project.</p>

  <h4 id="step-1-build-an-angular-2-app">Step 1: Build an Angular App</h4>
  <p></p>
  <ol class="list">
    <li>Look at the Angular documentation, starting with <a href="https://angular.io/docs/ts/latest/quickstart.html">the 5 Min Quickstart</a>.</li>
    <li>Save and modify the example structure and build, or use one of the Angular seeds:
      <ul class="list">
        <li><a href="https://github.com/angular/angular-cli">https://github.com/angular/angular-cli</a> (in Beta)</li>
        <li><a href="https://github.com/mgechev/angular2-seed">https://github.com/mgechev/angular2-seed</a></li>
        <li><a href="https://github.com/angular/angular2-seed">https://github.com/angular/angular2-seed</a> </li>
        <li><a href="https://github.com/AngularClass/angular2-webpack-starter">https://github.com/AngularClass/angular2-webpack-starter</a></li>
      </ul>
    </li>
  </ol>

  <h4 id="installing">Step 2: Install Clarity</h4>

  <p>Clarity is published as three separate packages on NPM:</p>

  <p>
    <a id="clarity_icons"></a>
  </p>
  <ul class="list">
    <li><b>clarity-icons.</b> Contains the custom element icons.</li>
    <li><b>clarity-ui.</b> Contains the static styles for building HTML components.</li>
    <li><b>clarity-angular.</b> Contains the Angular components. This package depends on clarity-ui for styles.
    </li>
  </ul>

  <h5 id="step-2a-install-clarity-icons">Step 2a: Install Clarity Icons</h5>
  <p></p>

  <ol class="list">
    <li>Install the Clarity Icons package through npm:
      <pre><code class="clr-code">
  npm install clarity-icons --save
  </code></pre>
    </li>
    <li>Install the polyfill for Custom Elements:
      <pre><code class="clr-code">
  npm install @webcomponents/custom-elements@1.0.0-alpha.3 --save
  </code></pre>
    </li>
    <li>(Optional) If your application supports IE10, the polyfill requires the MutationObserver shim to work. If your application does not support IE10, you can skip the following installation:
      <pre><code class="clr-code">
  npm install mutationobserver-shim@0.3.2 --save
  </code></pre>
    </li>
    <li>
      Include clarity-icons.min.css and clarity-icons.min.js in your HTML. Because custom-elements.min.js is dependent on the Custom Elements polyfill, you must include it before clarity-icons.min.js. If your app supports IE10, include mutationobserver.min.js
      before the polyfill:

      <pre><code clr-code-highlight="language-html">
  &lt;link rel="stylesheet" href="path/to/node_modules/clarity-icons/clarity-icons.min.css"&gt;
  &lt;script src="path/to/node_modules/mutationobserver-shim/dist/mutationobserver.min.js"&gt;&lt;/script&gt;
  &lt;script src="path/to/node_modules/@webcomponents/custom-elements/custom-elements.min.js"&gt;&lt;/script&gt;
  &lt;script src="path/to/node_modules/clarity-icons/clarity-icons.min.js"&gt;&lt;/script&gt;
  </code></pre> If your site is built with <a href="https://github.com/angular/angular-cli">angular-cli</a> you can achieve the above by adding the files to the styles array and scripts array in <code class="clr-code">angular-cli.json</code>:
      <pre><code clr-code-highlight="language-javascript">
  "styles": [
          ...
          "../node_modules/clarity-icons/clarity-icons.min.css",
          ...
  ],
  "scripts": [
      ...
      "../node_modules/mutationobserver-shim/dist/mutationobserver.min.js",
      "../node_modules/@webcomponents/custom-elements/custom-elements.min.js",
      "../node_modules/clarity-icons/clarity-icons.min.js"
      ...
  ]
  </code></pre>
    </li>
    <li>
      (Optional) If you load Clarity Icons by importing it in Typescript, you can load the shape sets modularly:
      <pre><code clr-code-highlight="language-typescript">
  import 'clarity-icons';
  </code></pre> Unlike loading <code class="clr-code">clarity-icons.min.js</code> in a <code class="clr-code">script</code> tag, the pattern above won't load all shape sets, but only Core Shapes. Thus, you can load additional sets on demand when you need shapes from those sets. For example, if I need to use
      <code class="clr-code">play</code> icon, which happens to be in the set of Essential Shapes, I would want to import <code class="clr-code">essential-shapes</code> as well:
      <pre><code clr-code-highlight="language-typescript">
  import 'clarity-icons';
  import 'clarity-icons/shapes/essential-shapes';
  </code></pre>

    </li>
  </ol>

  <h5 id="step-2b-install-clarity-ui">Step 2b: Install Clarity UI</h5>

  <p></p>
  <ol class="list">
    <li>Install Clarity UI package through npm:
      <pre><code class="clr-code">
  npm install clarity-ui --save
  </code></pre>
    </li>
    <li>Include clarity-ui.min.css in your HTML file:
      <pre><code clr-code-highlight="language-html">
  &lt;link rel="stylesheet" href="path/to/node_modules/clarity-ui/clarity-ui.min.css"&gt;
  </code></pre> If your site is built with <a href="https://github.com/angular/angular-cli">angular-cli</a> you can achieve the above by adding the file to the styles array in <code class="clr-code">angular-cli.json</code>:
      <pre><code clr-code-highlight="language-javascript">
  "styles": [
      ...
      "../node_modules/clarity-ui/clarity-ui.min.css",
      ...
  ]
  </code></pre>
    </li>
    <li>Write your HTML with the Clarity CSS class names and markup.</li>
  </ol>

  <h5 id="step-2c-install-clarity-angular">Step 2c: Install Clarity Angular</h5>

  <p></p>
  <ol class="list">
    <li>If you haven't already, complete steps 1 and 2 for installing Clarity UI in the preceding section.
    </li>
    <li>Install the clarity-angular package through npm:
      <pre><code class="clr-code">
  npm install clarity-angular --save
  </code></pre>
    </li>
    <li>Install the clarity-angular package through npm:
      <pre><code clr-code-highlight="language-javascript">
  import {{  '{'  }} NgModule {{ '}' }} from '@angular/core';
  import {{  '{'  }} BrowserModule {{ '}' }} from '@angular/platform-browser';
  import {{  '{'  }} ClarityModule {{ '}' }} from 'clarity-angular';
  import {{  '{'  }} AppComponent {{ '}' }} from './app.component';

  @NgModule({{  '{'  }}
      imports: [
          BrowserModule,
          ClarityModule.forRoot(),
          ....
          ],
          declarations: [ AppComponent ],
          bootstrap: [ AppComponent ]
  {{ '}' }})
  export class AppModule {{  '{'  }}    {{ '}' }}
  </code></pre>
    </li>
  </ol>

  <h4 id="step-3-run-your-app">Step 3: Run Your App</h4>

  <pre><code class="clr-code">
  npm start
  </code></pre>

  <h2 id="browserSupport">Device and Browser Support</h2>

  <p class="bump-down"><img src="assets/images/get-started/device_support.png" alt="Device and Browser Support" class="hidden-sm-down"></p>

  <ul class="hidden-md-up">
    <li>Internet Explorer 10 &amp; 11</li>
    <li>MS Edge</li>
    <li>Latest versions of Chrome, Safari, and Firefox</li>
  </ul>
  <p>
    <em>* - Note that Clarity only supports the latest two versions of the listed browsers, with the exception of Internet Explorer.</em>
  </p>

  <h2 id="contribute_guidelines">Contributing to Clarity</h2>

  <p>The Clarity team welcomes contributions from the community. See our <a href="https://github.com/vmware/clarity//blob/master/CONTRIBUTING.md" target="_blank">contribution guidelines</a> on GitHub.</p>

  <h2 id="reportingBugs">Reporting an Issue</h2>

  <p>Ongoing work and feature requests are tracked using <a href="https://github.com/vmware/clarity/issues" target="_blank">GitHub Issues</a>. Please feel free to file an issue.</p>

  <p>When submitting issues please provide a minimal app that demonstrates the issue by forking one of  Clarity Plunkr's:
  <ul class="list-unstyled">
    <li><a href="https://plnkr.co/edit/uNwwZe" target="_blank">Latest Clarity [v0.9.x] Template</a></li>
    <li><a href="https://plnkr.co/edit/8TwwdL" target="_blank">Legacy Clarity [v0.8.15] Template</a></li>
  </ul>

  <h2 id="attributions">Attributions</h2>

  <p>See the <a href="https://github.com/vmware/clarity/blob/master/ATTRIBUTION.md" target="_blank">legal attributions</a> for third party software included in Clarity.</p>

  <div style="visibility: hidden; height: 80vh;">This is a spacer to force sidenav highlighting on scroll</div>
</main>

<nav class="sidenav" [clr-nav-level]="2">
  <section class="sidenav-content">
    <section class="nav-group" [scrollspy]="scrollable">
      <label><a class="nav-link active" routerLink="." fragment="introduction">Clarity Design System</a></label>
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="howToUse">How to Use Clarity</a></label>
      <ul class="nav-list">
        <li><a class="nav-link" routerLink="." fragment="sketchTemplate">Using the Sketch Template</a></li>
        <li><a class="nav-link" routerLink="." fragment="seedProjectClarity">Using a Clarity Seed</a></li>
        <li><a class="nav-link" routerLink="." fragment="seedProjectAngular">Using an Angular Seed</a></li>
      </ul>
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="browserSupport">Device &amp; Browser Support</a></label>
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="contribute_guidelines">Contributing to Clarity</a></label>
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="reportingBugs">Reporting an Issue</a></label>
      <label class="bump-down"><a class="nav-link" routerLink="." fragment="attributions">Attributions</a></label>
    </section>
  </section>
</nav>
