<clr-monthpicker *ngIf="isMonthView"></clr-monthpicker>
<ng-container *ngIf="!isMonthView">
    <div class="calendar-header">
        <button class="calendar-btn" type="button" (click)="isMonthView = true">
            {{calendarMonth}}
        </button>
        <button class="calendar-btn" type="button">
            {{calendarYear}}
        </button>
    </div>
    <table class="calendar-table weekdays">
        <tr class="calendar-row">
            <td *ngFor="let day of localeDaysShort" class="calendar-cell day">
                {{day}}
            </td>
        </tr>
    </table>
    <table class="calendar-table calendar-dates">
        <tr class="calendar-row">

        </tr>
    </table>
</ng-container>
