:host {
  margin: 0 auto;
  max-width: 51.2rem;
  display: block;
}

header {
  padding: 0.5rem 0.5rem 0.2rem 0.5rem;
  border-bottom: 1px solid hsl(0, 0, 80%);
}

section {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: 15% 85%;
  padding: 0.5rem;
}

nav {
  a {
    display: block;
    padding: 0.4rem;
  }
}
