<!doctype html>
<!--[if lt IE 7 ]><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie6" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 7 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie7" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 8 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie8" class="ie ie-old" lang="en-US"><![endif]-->
<!--[if IE 9 ]>   <html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" id="ie9" class="ie" lang="en-US"><![endif]-->
<!--[if gt IE 9]><!--><html itemscope itemtype="http://schema.org/{% if page.id or post.id %}Article{% else %}Organization{% endif %}" lang="en-US"><!--<![endif]-->
<head>

    <!-- Meta -->
    <meta charset="utf-8">

    <title>{% if page.title %}{{ page.title }} - {{ site.data.global.title }}{% elsif post.title %}{{ post.title }} - {{ site.data.global.title }}{% else %}{{ site.data.global.title }}{% endif %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <base href="/">

    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ site.baseurl }}/favicon.ico" type="image/x-icon">

    {% if include.clarityNg %}
        {% include header/clarity-ng-scripts.html %}
        <script src="{{ site.baseurl }}/node_modules/web-animations-js/web-animations.min.js?{{ site.time | date: '%s%N' }}"></script>
    {% endif %}

    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.data.global.clarity_icons_css_path}}">
    <script src="{{ site.baseurl }}/node_modules/mutationobserver-shim/dist/mutationobserver.min.js"></script>
    <script src="{{ site.baseurl }}/node_modules/@webcomponents/custom-elements/custom-elements.min.js"></script>
    <script src="{{ site.baseurl }}{{ site.data.global.clarity_icons_js_path}}"></script>

    <!-- Styles -->
    <!--PrismJS-->
    <link rel="stylesheet" href="{{ site.baseurl }}/node_modules/prismjs/themes/prism-solarizedlight.css?{{ site.time | date: '%s%N' }}">
    <script src="{{ site.baseurl }}/node_modules/prismjs/prism.js?{{ site.time | date: '%s%N' }}"></script>
    <script src="{{ site.baseurl }}/node_modules/prismjs/components/prism-typescript.min.js?{{ site.time | date: '%s%N' }}"></script>
    <!--End PrismJS-->

    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.data.global.clarity_ui_path}}?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="{{ site.baseurl }}{{ site.data.global.font_awesome_path}}?{{ site.time | date: '%s%N' }}">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css?{{ site.time | date: '%s%N' }}">

    <!-- TODO - DO WE NEED HTML5SHIV??? i think so... -->
    <!--[if lt IE 9]>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="{{ site.data.global.url }}/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        if (/vmware.github.io/.test(window.location.href)) {
            (function(i,s,o,g,r,a,m){
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function() { (i[r].q = i[r].q || []).push(arguments) },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a,m)
            })(window,document,
               'script',
               'https://www.google-analytics.com/analytics.js',
               'ga');

            ga('create', 'UA-86120402-1', 'auto');
            ga('send', 'pageview');
        }
    </script>
</head>

{% assign dasherized_title = '' %}
{% if post.title %}
    {% capture dasherized_title %}page-{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% endcapture %}
{% elsif page.title %}
    {% capture dasherized_title %}page-{{ page.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% endcapture %}
{% endif %}

{% if page.layout == 'documentation' or page.layout == 'get-started' or page.layout == 'news' %}
    {% assign hasSidebar = true %}
{% else %}
    {% assign hasSidebar = false %}
{% endif %}

<body id="body" class="{{ dasherized_title }} {% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% else %}layout-{{ page.layout }}{% endif %}">
    <div class="sliding-nav-wrapper">
        <a class="close-toggle" href="javascript://" onclick="ClarityWeb.toggleNav('topnav')">&times;<span class="sr-only">Close</span></a>
        <div class="sliding-nav">
            <div class="sliding-nav-logo">
                <span class="logo-img"></span>
            </div>
            <ul class="slider-nav">
                <li><a class="nav-link {% if page.layout == 'home' %}active{% endif %}" href="{{ site.baseurl }}/"><span class="nav-text">Home</span></a></li>
                {% for navItem in site.data.nav.main %}
                    <li>{% include header/nav-item.html navUrl=navItem.url navText=navItem.text %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if hasSidebar %}
    <div class="sliding-sidenav-wrapper sliding-nav-wrapper">
        <a class="close-toggle" href="javascript://" onclick="ClarityWeb.toggleNav('sidenav')">&times;<span class="sr-only">Close</span></a>
        <div class="sliding-nav sliding-sidenav">
            <ul class="slider-nav">
                {% if page.layout == 'documentation' %}
                    {% if page.url == '/documentation/index' %}
                        {% assign activeClass = ' active' %}
                    {% else %}
                        {% assign activeClass = '' %}
                    {% endif %}
                    <a class="nav-link nav-link-header{{ activeClass }}" href="{{ site.baseurl }}/documentation">Component Status</a>

                    <li><h5 class="documentation-hdr first">Patterns</h5></li>
                    {% include documentation/just_navlinks.html type="pattern" %}

                    <li><h5 class="documentation-hdr">Components</h5></li>
                    {% include documentation/just_navlinks.html type="component" %}

                    {% include utility/sketch-tmpl-download.html cssClass="nav-link nav-link-header" linkText="Sketch Templates" %}
                {% else %}
                    {% if page.layout == 'news'%}
                        {% include news/just_navlinks.html section="current" responsive=true %}
                        {% include news/just_navlinks.html responsive=true %}
                    {% else %}
                        <h5 class="furst">Get Started</h5>
                        {% include get-started/just_navlinks.html section="clarity" responsive=true %}
                    {% endif %}
                {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="sliding-nav-backdrop">&nbsp;</div>

    <div class="main-container">
    {% unless include.noNav %}
        {% include header/nav.html %}
    {% endunless %}

    {% unless page.layout == 'error' or hasSidebar %}
    <div class="content-container">
    {% endunless %}
