<!--
  We need to wrap the #rowContent in label element if we are in rowSelectionMode.
  Clicking of that wrapper label will equate to clicking on the whole row, which triggers the checkbox to toggle.
-->
<label class="datagrid-row-clickable" *ngIf="selection.rowSelectionMode">
  <ng-template [ngTemplateOutlet]="rowContent"></ng-template>
</label>

<ng-template *ngIf="!selection.rowSelectionMode" [ngTemplateOutlet]="rowContent"></ng-template>

<!--
    We need the "project into template" hacks because we need this in 2 different places
    depending on whether the details replace the row or not.
-->
<ng-template #detail>
  <ng-content select="clr-dg-row-detail"></ng-content>
</ng-template>

<ng-template #rowContent>
  <div role="row" [id]="id" class="datagrid-row-master datagrid-row-flex">
    <div class="datagrid-row-sticky">
      <!-- Sticky elements here -->
      <ng-container #stickyCells></ng-container> <!-- placeholder for projecting other sticky cells as pinned-->
    </div>
    <div class="datagrid-row-scrollable" [ngClass]="{'is-replaced': replaced && expanded}">
      <div class="datagrid-scrolling-cells">
        <div *ngIf="selection.selectionType === SELECTION_TYPE.Multi"
             class="datagrid-select datagrid-fixed-column datagrid-cell">
          <input clrCheckbox type="checkbox" [ngModel]="selected" (ngModelChange)="toggle($event)" [id]="checkboxId"
                 [attr.aria-label]="commonStrings.select">
        </div>
        <div *ngIf="selection.selectionType === SELECTION_TYPE.Single"
             class="datagrid-select datagrid-fixed-column datagrid-cell">
            <!-- TODO: it would be better if in addition to the generic "Select" label, we could add aria-labelledby
            to label the radio by the first cell in the row (typically an id or name).
            It's pretty easy to label it with the whole row since we already have an id for it, but in most
            cases the row is far too long to serve as a label, the screenreader reads every single cell content. -->
            <input type="radio" clrRadio [id]="radioId" [name]="selection.id + '-radio'" [value]="item"
                   [(ngModel)]="selection.currentSingle" [checked]="selection.currentSingle === item"
                   [attr.aria-label]="commonStrings.select">
        </div>
        <div *ngIf="rowActionService.hasActionableRow"
             class="datagrid-row-actions datagrid-fixed-column datagrid-cell">
          <ng-content select="clr-dg-action-overflow"></ng-content>
        </div>
        <div *ngIf="globalExpandable.hasExpandableRow"
             class="datagrid-expandable-caret datagrid-fixed-column datagrid-cell">
          <ng-container *ngIf="expand.expandable">
            <button (click)="toggleExpand()" *ngIf="!expand.loading" type="button" class="datagrid-expandable-caret-button">
              <clr-icon shape="caret"
                        class="datagrid-expandable-caret-icon"
                        [attr.dir]="expand.expanded ? 'down' : 'right'"
                        [attr.title]="expand.expanded ? commonStrings.collapse : commonStrings.expand"></clr-icon>
            </button>
            <div class="spinner spinner-sm" *ngIf="expand.loading"></div>
          </ng-container>
        </div>
        <ng-container #scrollableCells></ng-container>
      </div>
      <!-- details here when replace, re-visit when sticky container is used for pinned cells -->
      <ng-template *ngIf="replaced && !expand.loading"
                   [ngTemplateOutlet]="detail"></ng-template>
    </div>
    <ng-template *ngIf="!replaced && !expand.loading"
                 [ngTemplateOutlet]="detail"></ng-template>
  </div>
</ng-template>

<ng-container #calculatedCells></ng-container>
