<clr-stack-view>
  <clr-stack-header>
    Lazily loaded children
    <button class="stack-action btn btn-sm btn-link" (click)="resetChildren()" type="button">Reset</button>
  </clr-stack-header>

  <clr-stack-block
    #lazyBlock
    [clrSbExpandable]="true"
    (clrSbExpandedChange)="fetchChildren()"
    [clrStackViewLevel]="1"
    [clrStackViewSetsize]="2"
    [clrStackViewPosinset]="1"
  >
    <clr-stack-label>Label 1</clr-stack-label>
    <clr-stack-content>Content 1</clr-stack-content>

    <clr-stack-block
      *ngIf="children.length == 0"
      [clrStackViewLevel]="2"
      [clrStackViewSetsize]="0"
      [clrStackViewPosinset]="1"
    >
      <clr-spinner clrAssertive clrInline>
        Loading...
      </clr-spinner>
    </clr-stack-block>

    <clr-stack-block
      *ngFor="let child of children; let i = index"
      [clrStackViewLevel]="2"
      [clrStackViewSetsize]="children.length"
      [clrStackViewPosinset]="i + 1"
    >
      <clr-stack-label>{{child.title}}</clr-stack-label>
      <clr-stack-content>{{child.content}}</clr-stack-content>
    </clr-stack-block>
  </clr-stack-block>

  <clr-stack-block [clrStackViewLevel]="1" [clrStackViewSetsize]="2" [clrStackViewPosinset]="2">
    <clr-stack-label>Label 2</clr-stack-label>
    <clr-stack-content>Content 2</clr-stack-content>
  </clr-stack-block>
</clr-stack-view>
