<div [formGroup]="form">
  <cds-grid aria-label="Active VM Management" style="--body-height: 360px;">
    <cds-grid-column type="action" resizable="hidden">
      <cds-checkbox>
        <input type="checkbox" formControlName="allRows" [indeterminate]="selectedCount > 0 && selectedCount < data.length" aria-label="select all hosts" />
      </cds-checkbox>
    </cds-grid-column>
    <cds-grid-column type="action" aria-label="expand row detail"></cds-grid-column>
    <ng-container *ngFor="let column of columns">
      <cds-grid-column *ngIf="columnVisible(ColumnTypes[column])">
        {{column}}
        <cds-action *ngIf="column == 'Host'" popup="id-filter" (click)="idFilterAnchor = $event.target" aria-label="column filter options" shape="filter" [status]="form.controls.search.value ? 'active' : ''"></cds-action>
        <cds-action-sort *ngIf="column == 'Status'" [sort]="sortType" (sortChange)="sortType = $any($event).detail"></cds-action-sort>
      </cds-grid-column>
    </ng-container>
    <cds-grid-row *ngFor="let vm of filteredVMs; let i = index" formGroupName="rows" [selected]="form.controls.rows.get(vm.id)?.value">
      <cds-grid-cell type="action">
        <cds-checkbox>
          <input type="checkbox" [formControlName]="vm.id" aria-label="select host" />
        </cds-checkbox>
      </cds-grid-cell>
      <cds-grid-cell type="action">
        <cds-action-expand popup="row-detail" action="detail" [expanded]="vm.id === currentDetail?.id" (click)="showDetail(vm)"></cds-action-expand>
      </cds-grid-cell>
      <cds-grid-cell role="rowheader">{{ vm.id }}</cds-grid-cell>
      <cds-grid-cell *ngIf="columnVisible(ColumnTypes.Status)">
        <cds-tag [status]="StatusDisplayType[vm.status]" readonly><cds-icon [shape]="StatusIconType[vm.status]"></cds-icon> {{ vm.status }}</cds-tag>
      </cds-grid-cell>
      <cds-grid-cell *ngIf="columnVisible(ColumnTypes.CPU)">{{ vm.cpu }}%</cds-grid-cell>
      <cds-grid-cell *ngIf="columnVisible(ColumnTypes.Memory)">{{ vm.memory }}%</cds-grid-cell>
    </cds-grid-row>
    <cds-grid-footer>
      <cds-action popup="column-visibility" (click)="columnsDropdownAnchor = $event.target" aria-label="filter columns" shape="view-columns" [status]="!columnVisible(ColumnTypes.All) ? 'active' : ''"></cds-action>
      <cds-pagination aria-label="vm pagination">
        <span style="margin-right: auto;">{{ selectedCount }} selected</span>
        <cds-select control-width="shrink">
          <select formControlName="pageSize" aria-label="per page">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
          </select>
        </cds-select>
        <cds-pagination-button [attr.disabled]="form.controls.page.value === 1 ? true : null" action="first" (click)="form.controls.page.setValue(1)" aria-label="go to first"></cds-pagination-button>
        <cds-pagination-button [attr.disabled]="form.controls.page.value === 1 ? true : null" action="prev" (click)="prevPage()" aria-label="go to previous"></cds-pagination-button>
        <cds-input cds-pagination-number>
          <input type="number" formControlName="page" aria-label="current page" min="1" [max]="pageCount" />
          <cds-control-message>/ {{ pageCount }}</cds-control-message>
        </cds-input>
        <cds-pagination-button [attr.disabled]="form.controls.page.value === pageCount ? '' : null" action="next" (click)="nextPage()" aria-label="go to next"></cds-pagination-button>
        <cds-pagination-button [attr.disabled]="form.controls.page.value === pageCount ? '' : null" action="last" (click)="form.controls.page.setValue(data.length / form.controls.pageSize.value)" aria-label="go to last"></cds-pagination-button>
      </cds-pagination>
    </cds-grid-footer>
    <cds-grid-detail id="row-detail" [attr.hidden]="currentDetail ? null : true" [anchor]="detailAnchor" (closeChange)="currentDetail = null">
      <section cds-layout="vertical gap:xxl">
        <div cds-layout="horizontal gap:md">
          <h2 cds-text="heading">{{ currentDetail?.id }}</h2>
          <cds-tag [status]="StatusDisplayType[currentDetail?.status ?? 'offline']" readonly>
            <cds-icon [shape]="StatusIconType[currentDetail?.status ?? 'offline']" [size]="currentDetail?.status === 'deactivated' ? 15 : 16"></cds-icon>
            {{currentDetail?.status}}
          </cds-tag>
        </div>
        <div cds-layout="grid cols:6">
          <div cds-layout="vertical gap:md align:center">
            <cds-progress-circle size="xxl" [status]="StatusDisplayType[currentDetail?.status ?? 'offline']" [value]="currentDetail?.cpu"></cds-progress-circle>
            <p cds-text="subsection">CPU: {{currentDetail?.cpu}}%</p>
          </div>
          <div cds-layout="vertical gap:md align:center">
            <cds-progress-circle size="xxl" [status]="StatusDisplayType[currentDetail?.status ?? 'offline']" [value]="currentDetail?.memory"></cds-progress-circle>
            <p cds-text="subsection">Memory: {{currentDetail?.memory}}%</p>
          </div>
        </div>
      </section>
    </cds-grid-detail>
  </cds-grid>
  <cds-dropdown id="id-filter" [attr.hidden]="idFilterAnchor ? null : true" (closeChange)="idFilterAnchor = null" [anchor]="idFilterAnchor">
    <cds-input>
      <input type="text" formControlName="search" placeholder="Search" aria-label="search rows" />
    </cds-input>
  </cds-dropdown>
  <cds-dropdown id="column-visibility" [attr.hidden]="columnsDropdownAnchor ? null : true" (closeChange)="columnsDropdownAnchor = null" [anchor]="columnsDropdownAnchor" position="top">
    <cds-checkbox-group formGroupName="columns" layout="vertical">
      <cds-checkbox *ngFor="let col of columns; let i = index" [attr.hidden]="i === 0">
        <label>{{col}}</label>
        <input type="checkbox" [formControlName]="col" />
      </cds-checkbox>
    </cds-checkbox-group>
    <cds-button action="flat" (click)="showAllColumns()" [attr.disabled]="columnVisible(ColumnTypes.All) ? true : null">Select All</cds-button>
  </cds-dropdown>
</div>
