@import "../../utils/code";

.progress-bars-demo {
    .nav-item {
        padding: 0.4rem 0 0.6rem;
    }

    .progbar-examples {
        margin-bottom: 1.5rem; //24px
    }
}

.progbar-examples {
    .progress-block {
        margin-top: 1rem;
    }
}
