@import './../styles/tokens/generated/index';
@import './../styles/mixins/utils';
@import './../styles/mixins/mixins';

:host {
  --background: none;
  --color: #{$cds-token-color-neutral-600};
  --padding: 0 #{$cds-token-space-size-2};
  --size: #{$cds-token-space-size-8-static + $cds-token-space-size-3-static};
  --font-size: #{($cds-token-space-size-8-static + $cds-token-space-size-2-static) / 2 + $cds-token-space-size-1-static};
  --border-radius: calc(var(--size) / 2);
  --border-color: #{$cds-token-color-neutral-600};
  --border-width: #{$cds-token-global-border-width};

  display: inline-block;
  height: var(--size);
}

.private-host {
  line-height: 1em;
  border-radius: var(--border-radius);
  background: var(--background);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  color: var(--color);
  font-size: var(--font-size);
  padding: var(--padding);
  height: var(--size);
  white-space: nowrap;
  display: inline-flex;
  align-items: center;

  .tag-icon,
  .tag-badge,
  .tag-content,
  .tag-close-icon {
    height: calc(var(--size) - #{$cds-token-space-size-2});
    display: inline-flex;
    align-items: center;
  }

  .tag-badge {
    height: calc(var(--size) - #{$cds-token-space-size-1});
  }

  ::slotted(cds-badge) {
    transform: translateY(calc(-1 - #{$cds-token-space-size-2}));
    --size: #{$cds-token-space-size-7};
  }

  .tag-badge {
    transform: translateY(calc(-1 * #{$cds-token-space-size-1}));
  }

  .tag-content {
    padding: 0 #{$cds-token-space-size-4};
  }

  .tag-icon {
    overflow: hidden;
    width: calc(var(--size) - (2 * var(--border-width) + (2 * #{$cds-token-space-size-1})));
  }

  .tag-close-icon {
    overflow: hidden;
    width: calc(var(--size) - #{$cds-token-space-size-3});
  }

  .tag-icon + .tag-content {
    padding-left: calc(#{$cds-token-space-size-4} / 2);
  }
}

// style for clickable tag
:host(:not([readonly])) .private-host {
  text-decoration: none;
  cursor: pointer;
}

:host(:not([readonly])) {
  &:host(:focus) .private-host,
  &:host(:hover) .private-host,
  &:host(:active) .private-host {
    --background: #{$cds-token-color-neutral-200};
  }

  &:host(:active) {
    .private-host {
      box-shadow: 0 #{$cds-token-space-size-1-static} 0 0 var(--border-color) inset;
    }

    .tag-content {
      transform: translateY(0.05rem);
    }
  }

  &:host(:visited) {
    color: var(--color);
  }
}

::slotted(cds-icon) {
  @include equilateral(calc(var(--size) - #{$cds-token-space-size-3}));
  margin-bottom: 1px;
  fill: var(--color);
}

:host([color='gray']) {
  --border-color: #{$cds-token-color-neutral-600};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-neutral-600};
    --border-color: #{$cds-token-color-neutral-600};
    --color: #{$cds-token-color-neutral-0};
  }
}

:host([color='purple']) {
  --border-color: #{$cds-token-color-secondary-action-500};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-secondary-action-500};
    --border-color: #{$cds-token-color-secondary-action-500};
    --color: #{$cds-token-color-neutral-0};
  }
}

:host([color='blue']) {
  --border-color: #{$cds-token-color-action-800};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-action-800};
    --border-color: #{$cds-token-color-action-800};
    --color: #{$cds-token-color-neutral-0};
  }
}

:host([color='orange']) {
  --border-color: #{$cds-token-color-warning-1000};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-warning-1000};
    --border-color: #{$cds-token-color-warning-1000};
    --color: #{$cds-token-color-neutral-0};
  }
}

:host([color='light-blue']) {
  --border-color: #{$cds-token-color-action-500};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-action-500};
    --border-color: #{$cds-token-color-action-500};
    --color: #{$cds-token-color-neutral-0};
  }
}

:host([status='info']) {
  --background: #{$cds-token-color-action-50};
  --border-color: #{$cds-token-color-action-800};
  --color: #{$cds-token-color-action-800};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-action-800};
    --border-color: #{$cds-token-color-action-800};
    --color: #{$cds-token-color-neutral-0};
  }

  ::slotted(cds-icon) {
    fill: #{$cds-token-color-action-800};
  }
}

:host(:not([readonly])) {
  &:host([status='info']:focus) .private-host,
  &:host([status='info']:hover) .private-host,
  &:host([status='info']:active) .private-host {
    --background: #{$cds-token-color-action-100};
  }
}

:host([status='success']) {
  --background: #{$cds-token-color-success-50};
  --color: #{$cds-token-color-success-800};
  --border-color: #{$cds-token-color-success-800};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-success-800};
    --border-color: #{$cds-token-color-success-800};
    --color: #{$cds-token-color-neutral-0};
  }

  ::slotted(cds-icon) {
    fill: #{$cds-token-color-success-800};
  }
}

:host(:not([readonly])) {
  &:host([status='success']:focus) .private-host,
  &:host([status='success']:hover) .private-host,
  &:host([status='success']:active) .private-host {
    --background: #{$cds-token-color-success-100};
  }
}

:host([status='warning']) {
  --background: #{$cds-token-color-warning-100};
  --color: #{$cds-token-color-neutral-900};
  --border-color: #{$cds-token-color-warning-800};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-warning-1000};
    --border-color: #{$cds-token-color-warning-1000};
    --color: #{$cds-token-color-neutral-0};
  }

  ::slotted(cds-icon) {
    fill: #{$cds-token-color-warning-800};
  }
}

:host(:not([readonly])) {
  &:host([status='warning']:focus) .private-host,
  &:host([status='warning']:hover) .private-host,
  &:host([status='warning']:active) .private-host {
    --background: #{$cds-token-color-warning-200};
    --border-color: #{$cds-token-color-warning-500};
  }
}

:host([status='danger']) {
  --background: #{$cds-token-color-danger-100};
  --color: #{$cds-token-color-danger-900};
  --border-color: #{$cds-token-color-danger-900};

  ::slotted(cds-badge) {
    --background: #{$cds-token-color-danger-900};
    --border-color: #{$cds-token-color-danger-900};
    --color: #{$cds-token-color-neutral-0};
  }

  ::slotted(cds-icon) {
    fill: #{$cds-token-color-danger-900};
  }
}

:host(:not([readonly])) {
  &:host([status='danger']:focus) .private-host,
  &:host([status='danger']:hover) .private-host,
  &:host([status='danger']:active) .private-host {
    --background: #{$cds-token-color-danger-200};
    --border-color: #{$cds-token-color-danger-400};
  }
}
