@import './../styles/mixins/mixins';

:host {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.dropdown div {
  border: 1px solid var(--clr-test-border-color, hsl(0, 0%, 80%));
  padding: 0.5rem;
  color: inherit;
  font-size: 0.75rem;
}

.dropdown .btn {
  background-color: var(--clr-test-button-background-color, hsl(0, 0%, 80%));
  color: var(--clr-test-button-text-color, hsl(0, 0%, 18%));
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  height: auto;
}
