/* You can add global styles to this file, and also import other style files */

pre {
  padding: 0.5rem;
  background-color: var(--clr-color-neutral-0);
}

.branding img {
  height: 2rem;
}

.header-6 [cds-text="title"] {
  color: var(--cds-global-color-neutral-0);
}

.docs-changer {
  margin-top: 12px;
}

.npm-reference {
  margin-left: 1rem;
}

.doc-footer {
  border-top: var(--cds-alias-object-border-width-100) solid var(--cds-alias-object-border-color);
}

.doc-footer img {
  opacity: 0.5;
}