@import './../styles/tokens/generated/index';
@import './../styles/mixins/utils';
@import './../styles/mixins/mixins';

:host {
  --background: #{$cds-token-color-neutral-600};
  --border-color: #{$cds-token-color-neutral-600};
  --border-width: #{$cds-token-global-border-width};
  --color: #{$cds-token-color-neutral-0};
  --font-size: #{$cds-token-typography-p8-font-size};
  --font-weight: #{$cds-token-typography-font-weight-regular};
  --size: #{$cds-token-space-size-7-static - $cds-token-space-size-1-static};
  --padding: calc(#{$cds-token-space-size-3} - var(--border-width));
  --border-radius: calc(var(--size) / 2);
  display: inline-block;
  text-align: center;
}

.private-host {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--size);
  line-height: 1em;
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-style: solid;
  border-color: var(--border-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: #{$cds-token-typography-body-letter-spacing};
  white-space: nowrap;
  background: var(--background);
  color: var(--color);
  padding: var(--padding);

  & > span {
    display: inline-flex;
    height: var(--font-size);
    min-width: calc(0.8 * var(--font-size));
    align-items: center;
    justify-content: center;

    & > span {
      text-align: center;
      width: 100%;
      @include line-height-eraser(0em);
    }
  }
}

:host(:visited) {
  --color: #{$cds-token-color-neutral-0};
}

:host([color='gray']) {
  --background: #{$cds-token-color-neutral-600};
  --border-color: #{$cds-token-color-neutral-600};
  --color: #{$cds-token-color-neutral-0};
}

:host([color='purple']) {
  --background: #{$cds-token-color-secondary-action-500};
  --border-color: #{$cds-token-color-secondary-action-500};
  --color: #{$cds-token-color-neutral-0};
}

:host([color='blue']) {
  --background: #{$cds-token-color-action-800};
  --border-color: #{$cds-token-color-action-800};
  --color: #{$cds-token-color-neutral-0};
}

:host([color='orange']) {
  --background: #{$cds-token-color-warning-1000};
  --border-color: #{$cds-token-color-warning-1000};
  --color: #{$cds-token-color-neutral-0};
}

:host([color='light-blue']) {
  --background: #{$cds-token-color-action-500};
  --border-color: #{$cds-token-color-action-500};
  --color: #{$cds-token-color-neutral-0};
}

:host([status='info']) {
  --background: #{$cds-token-color-action-800};
  --border-color: #{$cds-token-color-action-800};
  --color: #{$cds-token-color-neutral-0};
}

:host([status='success']) {
  --background: #{$cds-token-color-success-800};
  --border-color: #{$cds-token-color-success-800};
  --color: #{$cds-token-color-neutral-0};
}

:host([status='warning']) {
  --background: #{$cds-token-color-warning-1000};
  --border-color: #{$cds-token-color-warning-1000};
  --color: #{$cds-token-color-neutral-0};
}

:host([status='danger']) {
  --background: #{$cds-token-color-danger-900};
  --border-color: #{$cds-token-color-danger-900};
  --color: #{$cds-token-color-neutral-0};
}
