@import './../styles/mixins/utils';

:host {
  --background: var(--clr-color-neutral-600, #{$clr-color-neutral-600});
  --color: var(--clr-color-on-neutral-600, #{$clr-color-on-neutral-600});
  display: inline-block;
}

.private-host {
  display: inline-flex;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  min-width: $clr_baselineRem_0_625;
  height: $clr_baselineRem_0_625;
  line-height: normal;
  border-radius: $clr_baselineRem_0_416;
  font-size: $clr_baselineRem_0_416;
  padding: 0 $clr_baselineRem_4px;
  white-space: nowrap;
  text-align: center;
  background: var(--background);
  color: var(--color);
}

:host(:visited) {
  --color: var(--clr-color-on-neutral-600, #{$clr-color-on-neutral-600});
}

:host([color='gray']) {
  --background: var(--clr-color-neutral-600, #{$clr-color-neutral-600});
  --color: var(--clr-color-on-neutral-600, #{$clr-color-on-neutral-600});
}

:host([color='purple']) {
  --background: var(--clr-color-secondary-action-500, #{$clr-color-secondary-action-500});
  --color: var(--clr-color-on-secondary-action-500, #{$clr-color-on-secondary-action-500});
}

:host([color='blue']) {
  --background: var(--clr-color-secondary-action-800, #{$clr-color-secondary-action-800});
  --color: var(--clr-color-on-secondary-action-800, #{$clr-color-on-secondary-action-800});
}

:host([color='orange']) {
  --background: var(--clr-color-warning-500, #{$clr-color-warning-500});
  --color: var(--clr-color-on-warning-500, #{$clr-color-on-warning-500});
}

:host([color='light-blue']) {
  --background: var(--clr-color-action-300, #{$clr-color-action-300});
  --color: var(--clr-color-on-action-300, #{$clr-color-on-action-300});
}

:host([status='info']) {
  --background: var(--clr-color-action-600, #{$clr-color-action-600});
  --color: var(--clr-color-on-action-600, #{$clr-color-on-action-600});
}

:host([status='success']) {
  --background: var(--clr-color-success-700, #{$clr-color-success-700});
  --color: var(--clr-color-on-success-700, #{$clr-color-on-success-700});
}

:host([status='warning']) {
  --background: var(--clr-color-warning-300, #{$clr-color-warning-300});
  --color: var(--clr-color-on-warning-300, #{$clr-color-on-warning-300});
}

:host([status='danger']) {
  --background: var(--clr-color-danger-800, #{$clr-color-danger-800});
  --color: var(--clr-color-on-danger-800, #{$clr-color-on-danger-800});
}
