@include exports('select.clarity') {
    .clr-select .clr-select-menu ul {
        list-style-type: none
    }
    .clr-option {
        display: list-item;
        text-align: -webkit-match-parent;
        padding-left: 15px
    }
    .clr-option:hover,
    .clr-option.highlight {
        background: $gray-light
    }
    .clr-option:active,
    .clr-option.selected {
        background: #D9E4EA
    } //Dropdown Menu
    .clr-select-menu>* {
        display: block;
    }
    .clr-select-menu {
        position: absolute;
        left: 0;
        display: flex;
        flex-direction: column;
        background: $dropdown-white;
        padding: $clr_baselineRem_0_5 0;
        border: 1px solid clr-getColor(light-midtone);
        box-shadow: 0 1px 3px rgba(clr-getColor(dark), 0.25);
        min-width: baselineRem(5);
        max-width: baselineRem(15);
        border-radius: $clr-default-borderradius;
        visibility: hidden;
        z-index: 1;
        .select-header {
            @include clr-getTypePropertiesForDomElement(dropdown_header, (font-size, font-weight, letter-spacing));
            padding: 0 $clr_baselineRem_0_5;
            line-height: $clr_baselineRem_0_75;
            margin: 0;
            color: clr-getColor(darkest);
            @extend %dropdown-content;
        }
    }
    .open-trigger {
        margin-left: -50px !important;
        color: $gray !important;
    }
    .loading {
        padding-left: 15px;
    }
}
