<ng-content select="[clrSelectInput]"></ng-content>
<button type="button" class="btn-icon btn btn-link open-trigger" (click)="onMenuTriggerClick($event)">
    <clr-icon aria-hidden="true" shape="angle down"></clr-icon>
</button>
<clr-select-menu *clrIfOpen style="width: 300px;">
    <ng-content *ngIf="!loading" select="clr-option"></ng-content>
    <li *ngIf="loading" class="loading">
        <span class="spinner spinner-inline"></span>
        <span *ngIf="clrLoadingText">{{clrLoadingText}}</span>
        <span *ngIf="!clrLoadingText">Searching for matches</span>
    </li>
</clr-select-menu>
