@import './../../styles/tokens/generated/index';
@import './../../styles/mixins/mixins';

:host {
  --backdrop-background: #{$cds-alias-object-overlay-backdrop-background};
  --layered-backdrop-background: #{$cds-alias-object-opacity-0};
  // these CSS custom properties are read the Clarity animation
  --animation-duration: #{$cds-global-animation-duration-primary};
  --animation-easing: #{$cds-global-animation-easing-primary};

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 1000000;

  @include center-content;
}

.private-host {
  position: relative;
  // position relative forces overlay content above the backdrop without z-index
  // shouldn't cause issues with overlays/dropdowns due to onion skinning
}

.overlay-backdrop {
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  position: fixed;
}

.layered {
  background: var(--layered-backdrop-background, var(--backdrop-background));
}

:host([_demo-mode]) {
  position: absolute;
  z-index: 100000;

  .overlay-backdrop {
    // we need this here because safari doesn't understand what to do with
    // position: fixed inside of a constrained demo box...
    position: absolute;
  }
}

// animation related styles

:host([cds-motion][_cds-animation-status='active']) {
  display: inline-flex !important;
}

:host([hidden]) {
  --animation-duration: #{$cds-global-animation-duration-secondary};
}

// we need the check against hidden='false' here because React is pushing string through instead of adding/removing the boolean attribute
:host([hidden*='false']) {
  display: inline-flex !important;
}
