.overlay-backdrop {
  width: 100%;
  height: 100%;
  background: var(--backdrop-background);
  position: fixed;
}

:host(:not([cds-layer='0'])) .overlay-backdrop {
  background: var(--layered-backdrop-background, var(--backdrop-background));
}

:host([_demo-mode]) {
  position: absolute;
  z-index: 100000;

  .overlay-backdrop {
    // we need this here because safari doesn't understand what to do with
    // position: fixed inside of a constrained demo box...
    position: absolute;
  }
}
